已连接到 base (Python 3.9.7)

In [ ]:
import os
import pandas as pd
import backtrader as bt
import matplotlib.pyplot as plt
from analyzing_tools import Analyzing_Tools
from itertools import product
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


def SMA_H(target_assets, paths,window_1=61,window_2=101):
    #信号结果字典
    results = {}
    #全数据字典，包含计算指标用于检查
    full_info={}
    
    #编写策略主体部分
    for code in target_assets:
        # 读取数据
        daily_data = pd.read_csv(os.path.join(paths['daily'], f"{code}.csv"), index_col=[0])
        daily_data.index = pd.to_datetime(daily_data.index)
        df=daily_data.copy()
        hourly_data = pd.read_csv(os.path.join(paths['hourly'], f"{code}.csv"), index_col=[0])
        hourly_data.index = pd.to_datetime(hourly_data.index)

        hourly_data["var_1"] = hourly_data['close'].rolling(window_1).mean()
        hourly_data["var_2"] =hourly_data['close'].rolling(window_2).mean()
        # 添加信号列
        hourly_data.loc[(hourly_data["var_1"].shift(1) <= hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] >= hourly_data["var_2"]) , 'signal'] = 1
        hourly_data.loc[(hourly_data["var_1"].shift(1) > hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] < hourly_data["var_2"]) , 'signal'] = -1
        
        hourly_data['signal'].fillna(method='ffill', inplace=True)
        hourly_exchange = hourly_data.resample('D').last()

        df = pd.merge(df, hourly_exchange[['signal']], left_index=True, right_index=True, how='left')        
        df['signal'].fillna(method='ffill', inplace=True)


        result=df

        # 将信号合并回每日数据
        daily_data = daily_data.join(result[['signal']], how='left')
        daily_data[['signal']].fillna(0, inplace=True)
        daily_data=daily_data.dropna()

        # 存储结果
        results[code] = daily_data
        full_info[code]=result

    return results,full_info

# 自定义数据类，包含 'signal'
class PandasDataPlusSignal(bt.feeds.PandasData):
    lines = ('signal',)
    params = (
        ('signal', -1),  # 默认情况下，'signal' 列在最后一列   
    )

# 策略类，包含调试信息和导出方法
class SMA_H_Strategy(bt.Strategy):
    params = (
        ('size_pct',0.19),  # 每个资产的仓位百分比
    )

    def __init__(self):
        self.orders = {}         # 用于跟踪每个资产的订单状态
        self.trade_counts = {}   # 记录每个资产的交易次数
        self.value = []          # 存储组合总净值
        self.dates = []          # 存储日期序列
        self.debug_info = []     # 存储调试信息

        for data in self.datas:
            name = data._name
            self.trade_counts[name] = 0
            self.orders[name] = None

    def next(self):
        total_value = self.broker.getvalue()
        self.value.append(total_value)
        current_date = self.datas[0].datetime.datetime(0)
        self.dates.append(current_date)

        for data in self.datas:
            name = data._name
            position_size = self.getposition(data).size
            signal = data.signal[0]

            # 根据信号执行交易
            if signal == 1 and position_size == 0:
                size = self.calculate_position_size(data)
                self.orders[name] = self.buy(data=data, size=size)
                self.trade_counts[name] += 1

            elif signal == -1 and position_size > 0:
                self.orders[name] = self.close(data=data)
                self.trade_counts[name] += 1


            # 存储调试信息
            self.debug_info.append({
                'Date': current_date,
                'Asset': name,
                'Position': position_size,
                'Signal': signal,
                'Size': self.calculate_position_size(data),
                'Open':data.open[0],
                'High':data.high[0],
                'Low':data.low[0],
                'Volume':data.volume[0],
                'Close': data.close[0],
                'Cash': self.broker.getcash(),
                'Value': total_value,
                'Trades': self.trade_counts[name],
            })


    def calculate_position_size(self, data):
        """
        计算仓位大小
        """
        available_cash = self.broker.getvalue()
        current_price = data.close[0]
        max_investment = available_cash * self.params.size_pct
        max_shares = int(max_investment / current_price)
        return max_shares

    def notify_order(self, order):
        """
        订单完成后重置状态
        """
        if order.status in [order.Completed, order.Canceled, order.Margin]:
            name = order.data._name
            self.orders[name] = None

    def get_net_value_series(self):
        """
        返回净值序列，用于后续分析
        """
        return pd.DataFrame(self.value, index=self.dates)

    def get_debug_df(self):
        """
        返回包含调试信息的DataFrame
        """
        df = pd.DataFrame(self.debug_info)
        df.set_index('Date', inplace=True)
        return df


def run_backtest(strategy, target_assets, strategy_results, cash=100000.0, commission=0.0005, slippage_perc=0.0005, slippage_fixed=None, **kwargs):
    
    cerebro = bt.Cerebro()  # 初始化Cerebro引擎
    cerebro.addstrategy(strategy, **kwargs)  # 添加策略
    
    for code in target_assets:
        data = PandasDataPlusSignal(dataname=strategy_results[code])
        data._name = code  # 为数据设置名称，便于识别
        cerebro.adddata(data)
    
    # 使用setcommission设置股票模式的佣金
    cerebro.broker.setcommission(
        commission=commission,  # 佣金百分比
        stocklike=True  # 将交易设置为股票模式
    )
    
    cerebro.broker.setcash(cash)  # 设置初始资金

    # 设置滑点
    if slippage_perc is not None:
        cerebro.broker.set_slippage_perc(slippage_perc)  # 设置百分比滑点
    elif slippage_fixed is not None:
        cerebro.broker.set_slippage_fixed(slippage_fixed)  # 设置固定点滑点
    
    strategies = cerebro.run()  # 运行回测
    return strategies[0]



#加载分析工具
AT=Analyzing_Tools()


# 定义数据路径
paths = {
    'daily': r'E:\数据库同花顺ETF跟踪指数量价数据\1d',
    'hourly': r'E:\数据库同花顺ETF跟踪指数量价数据\1h',
    'min15': r'E:\数据库同花顺ETF跟踪指数量价数据\15min',
    'pv_export':r"E:\量化交易构建\私募基金研究\股票策略研究\策略净值序列"
}


# 资产列表
target_assets = [
    "000300.SH",
    "000852.SH",
    "000905.SH",
    "399006.SZ",
    "399303.SZ"
]



# 生成信号
strategy_results,full_info = SMA_H(target_assets, paths)


# 获取策略实例
strat = run_backtest(SMA_H_Strategy,target_assets,strategy_results,10000000,0.0005,0.0005)

pv=strat.get_net_value_series()

strtegy_name='SMA_H'

pv.to_excel(paths["pv_export"]+'\\'+strtegy_name+'.xlsx')

portfolio_value, returns, drawdown_ts, metrics = AT.performance_analysis(pv, freq='D')

index_price_path=paths['daily']

# 获取净值序列
AT.plot_results('000906.SH',index_price_path,portfolio_value, drawdown_ts, returns, metrics)

# 获取调试信息
debug_df = strat.get_debug_df()

#蒙特卡洛测试

AT.monte_carlo_analysis(strat,num_simulations=10000,num_days=252,freq='D')



#定义参数优化函数
def parameter_optimization(parameter_grid, strategy_function, strategy_class, target_assets, paths, cash=100000.0, commission=0.0002, slippage_perc=0.0005, metric='sharpe_ratio'):   
    """
    执行参数优化，支持一个或两个参数。

    参数：
    - parameter_grid: 字典，包含参数名称和要测试的取值列表。例如：{'window_1': [30, 34, 38]}
    - strategy_function: 生成信号的策略函数，例如 UDVD
    - strategy_class: Backtrader 策略类，例如 UDVD_Strategy
    - target_assets: 资产列表
    - paths: 数据路径字典
    - cash: 初始资金
    - commission: 佣金
    - slippage_perc: 滑点百分比
    - metric: 选择用于评估的绩效指标，默认为 'sharpe_ratio'
    """

    #加载数据类

    # 获取参数名称和取值列表
    param_names = list(parameter_grid.keys())
    param_values = [parameter_grid[key] for key in param_names]

    # 生成所有参数组合
    param_combinations = [dict(zip(param_names, values)) for values in product(*param_values)]

    results = []

    for params in param_combinations:
        print(f"正在测试参数组合：{params}")
        # 生成当前参数下的信号
        strategy_results, full_info = strategy_function(target_assets, paths, **params)

        # 运行回测
        strat = run_backtest(strategy_class, target_assets, strategy_results, cash, commission, slippage_perc)

        # 获取净值序列
        pv = strat.get_net_value_series()

        # 计算绩效指标
        portfolio_value, returns, drawdown_ts, metrics =AT.performance_analysis(pv)

        # 收集指标和参数
        result_entry = {k: v for k, v in params.items()}
        result_entry.update(metrics)
        result_entry=pd.DataFrame(result_entry)
        results.append(result_entry)

    # 将结果转换为 DataFrame
    results_df = pd.concat(results,axis=0)
    results_df=results_df.dropna()

    # 可视化结果
    if len(param_names) == 1:
        # 绘制参数与绩效指标的关系曲线
        param = param_names[0]
        plt.figure(figsize=(10, 6))
        plt.plot(results_df[param], results_df[metric], marker='o')
        plt.xlabel(param)
        plt.ylabel(metric)
        plt.title(f'{metric} vs {param}')
        plt.grid(True)
        plt.show()
    elif len(param_names) == 2:
        # 绘制热力图
        param1 = param_names[0]
        param2 = param_names[1]
        pivot_table = results_df.pivot(index=param1, columns=param2, values=metric)

        plt.figure(figsize=(10, 8))
        sns.heatmap(pivot_table, annot=True, fmt=".4f", cmap='viridis')
        plt.title(f'{metric} Heatmap')
        plt.ylabel(param1)
        plt.xlabel(param2)
        plt.show()
    else:
        print("无法可视化超过两个参数的结果，请减少参数数量。")

    # 返回结果 DataFrame
    return results_df

# 定义参数网格
parameter_grid = {
    'window_1': range(50, 80,5),
    'window_2': range(80, 110, 5)
}

# 运行参数优化
# results_df = parameter_optimization(
#     parameter_grid=parameter_grid,
#     strategy_function=SMA_H,
#     strategy_class=SMA_H_Strategy,
#     target_assets=target_assets,
#     paths=paths,
#     cash=10000000,
#     commission=0.0002,
#     slippage_perc=0.0005,
#     metric='sharpe_ratio'
# )

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\数据库同花顺ETF跟踪指数量价数据\\1d\\000300.SH.csv'

In [ ]:
import os
import pandas as pd
import backtrader as bt
import matplotlib.pyplot as plt
from analyzing_tools import Analyzing_Tools
from itertools import product
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


def SMA_H(target_assets, paths,window_1=61,window_2=101):
    #信号结果字典
    results = {}
    #全数据字典，包含计算指标用于检查
    full_info={}
    
    #编写策略主体部分
    for code in target_assets:
        # 读取数据
        daily_data = pd.read_csv(os.path.join(paths['daily'], f"{code}.csv"), index_col=[0])
        daily_data.index = pd.to_datetime(daily_data.index)
        df=daily_data.copy()
        hourly_data = pd.read_csv(os.path.join(paths['hourly'], f"{code}.csv"), index_col=[0])
        hourly_data.index = pd.to_datetime(hourly_data.index)

        hourly_data["var_1"] = hourly_data['close'].rolling(window_1).mean()
        hourly_data["var_2"] =hourly_data['close'].rolling(window_2).mean()
        # 添加信号列
        hourly_data.loc[(hourly_data["var_1"].shift(1) <= hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] >= hourly_data["var_2"]) , 'signal'] = 1
        hourly_data.loc[(hourly_data["var_1"].shift(1) > hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] < hourly_data["var_2"]) , 'signal'] = -1
        
        hourly_data['signal'].fillna(method='ffill', inplace=True)
        hourly_exchange = hourly_data.resample('D').last()

        df = pd.merge(df, hourly_exchange[['signal']], left_index=True, right_index=True, how='left')        
        df['signal'].fillna(method='ffill', inplace=True)


        result=df

        # 将信号合并回每日数据
        daily_data = daily_data.join(result[['signal']], how='left')
        daily_data[['signal']].fillna(0, inplace=True)
        daily_data=daily_data.dropna()

        # 存储结果
        results[code] = daily_data
        full_info[code]=result

    return results,full_info

# 自定义数据类，包含 'signal'
class PandasDataPlusSignal(bt.feeds.PandasData):
    lines = ('signal',)
    params = (
        ('signal', -1),  # 默认情况下，'signal' 列在最后一列   
    )

# 策略类，包含调试信息和导出方法
class SMA_H_Strategy(bt.Strategy):
    params = (
        ('size_pct',0.19),  # 每个资产的仓位百分比
    )

    def __init__(self):
        self.orders = {}         # 用于跟踪每个资产的订单状态
        self.trade_counts = {}   # 记录每个资产的交易次数
        self.value = []          # 存储组合总净值
        self.dates = []          # 存储日期序列
        self.debug_info = []     # 存储调试信息

        for data in self.datas:
            name = data._name
            self.trade_counts[name] = 0
            self.orders[name] = None

    def next(self):
        total_value = self.broker.getvalue()
        self.value.append(total_value)
        current_date = self.datas[0].datetime.datetime(0)
        self.dates.append(current_date)

        for data in self.datas:
            name = data._name
            position_size = self.getposition(data).size
            signal = data.signal[0]

            # 根据信号执行交易
            if signal == 1 and position_size == 0:
                size = self.calculate_position_size(data)
                self.orders[name] = self.buy(data=data, size=size)
                self.trade_counts[name] += 1

            elif signal == -1 and position_size > 0:
                self.orders[name] = self.close(data=data)
                self.trade_counts[name] += 1


            # 存储调试信息
            self.debug_info.append({
                'Date': current_date,
                'Asset': name,
                'Position': position_size,
                'Signal': signal,
                'Size': self.calculate_position_size(data),
                'Open':data.open[0],
                'High':data.high[0],
                'Low':data.low[0],
                'Volume':data.volume[0],
                'Close': data.close[0],
                'Cash': self.broker.getcash(),
                'Value': total_value,
                'Trades': self.trade_counts[name],
            })


    def calculate_position_size(self, data):
        """
        计算仓位大小
        """
        available_cash = self.broker.getvalue()
        current_price = data.close[0]
        max_investment = available_cash * self.params.size_pct
        max_shares = int(max_investment / current_price)
        return max_shares

    def notify_order(self, order):
        """
        订单完成后重置状态
        """
        if order.status in [order.Completed, order.Canceled, order.Margin]:
            name = order.data._name
            self.orders[name] = None

    def get_net_value_series(self):
        """
        返回净值序列，用于后续分析
        """
        return pd.DataFrame(self.value, index=self.dates)

    def get_debug_df(self):
        """
        返回包含调试信息的DataFrame
        """
        df = pd.DataFrame(self.debug_info)
        df.set_index('Date', inplace=True)
        return df


def run_backtest(strategy, target_assets, strategy_results, cash=100000.0, commission=0.0005, slippage_perc=0.0005, slippage_fixed=None, **kwargs):
    
    cerebro = bt.Cerebro()  # 初始化Cerebro引擎
    cerebro.addstrategy(strategy, **kwargs)  # 添加策略
    
    for code in target_assets:
        data = PandasDataPlusSignal(dataname=strategy_results[code])
        data._name = code  # 为数据设置名称，便于识别
        cerebro.adddata(data)
    
    # 使用setcommission设置股票模式的佣金
    cerebro.broker.setcommission(
        commission=commission,  # 佣金百分比
        stocklike=True  # 将交易设置为股票模式
    )
    
    cerebro.broker.setcash(cash)  # 设置初始资金

    # 设置滑点
    if slippage_perc is not None:
        cerebro.broker.set_slippage_perc(slippage_perc)  # 设置百分比滑点
    elif slippage_fixed is not None:
        cerebro.broker.set_slippage_fixed(slippage_fixed)  # 设置固定点滑点
    
    strategies = cerebro.run()  # 运行回测
    return strategies[0]



#加载分析工具
AT=Analyzing_Tools()


# 定义数据路径
paths = {
    'daily': r'E:\数据库\同花顺ETF跟踪指数量价数据\1d',
    'hourly': r'E:\数据库\同花顺ETF跟踪指数量价数据\1h',
    'min15': r'E:\数据库\同花顺ETF跟踪指数量价数据\15min',
    'pv_export':r"E:\量化交易构建\私募基金研究\股票策略研究\策略净值序列"
}


# 资产列表
target_assets = [
    "000300.SH",
    "000852.SH",
    "000905.SH",
    "399006.SZ",
    "399303.SZ"
]



# 生成信号
strategy_results,full_info = SMA_H(target_assets, paths)


# 获取策略实例
strat = run_backtest(SMA_H_Strategy,target_assets,strategy_results,10000000,0.0005,0.0005)

pv=strat.get_net_value_series()

strtegy_name='SMA_H'

pv.to_excel(paths["pv_export"]+'\\'+strtegy_name+'.xlsx')

portfolio_value, returns, drawdown_ts, metrics = AT.performance_analysis(pv, freq='D')

index_price_path=paths['daily']

# 获取净值序列
AT.plot_results('000906.SH',index_price_path,portfolio_value, drawdown_ts, returns, metrics)

# 获取调试信息
debug_df = strat.get_debug_df()

#蒙特卡洛测试

AT.monte_carlo_analysis(strat,num_simulations=10000,num_days=252,freq='D')



#定义参数优化函数
def parameter_optimization(parameter_grid, strategy_function, strategy_class, target_assets, paths, cash=100000.0, commission=0.0002, slippage_perc=0.0005, metric='sharpe_ratio'):   
    """
    执行参数优化，支持一个或两个参数。

    参数：
    - parameter_grid: 字典，包含参数名称和要测试的取值列表。例如：{'window_1': [30, 34, 38]}
    - strategy_function: 生成信号的策略函数，例如 UDVD
    - strategy_class: Backtrader 策略类，例如 UDVD_Strategy
    - target_assets: 资产列表
    - paths: 数据路径字典
    - cash: 初始资金
    - commission: 佣金
    - slippage_perc: 滑点百分比
    - metric: 选择用于评估的绩效指标，默认为 'sharpe_ratio'
    """

    #加载数据类

    # 获取参数名称和取值列表
    param_names = list(parameter_grid.keys())
    param_values = [parameter_grid[key] for key in param_names]

    # 生成所有参数组合
    param_combinations = [dict(zip(param_names, values)) for values in product(*param_values)]

    results = []

    for params in param_combinations:
        print(f"正在测试参数组合：{params}")
        # 生成当前参数下的信号
        strategy_results, full_info = strategy_function(target_assets, paths, **params)

        # 运行回测
        strat = run_backtest(strategy_class, target_assets, strategy_results, cash, commission, slippage_perc)

        # 获取净值序列
        pv = strat.get_net_value_series()

        # 计算绩效指标
        portfolio_value, returns, drawdown_ts, metrics =AT.performance_analysis(pv)

        # 收集指标和参数
        result_entry = {k: v for k, v in params.items()}
        result_entry.update(metrics)
        result_entry=pd.DataFrame(result_entry)
        results.append(result_entry)

    # 将结果转换为 DataFrame
    results_df = pd.concat(results,axis=0)
    results_df=results_df.dropna()

    # 可视化结果
    if len(param_names) == 1:
        # 绘制参数与绩效指标的关系曲线
        param = param_names[0]
        plt.figure(figsize=(10, 6))
        plt.plot(results_df[param], results_df[metric], marker='o')
        plt.xlabel(param)
        plt.ylabel(metric)
        plt.title(f'{metric} vs {param}')
        plt.grid(True)
        plt.show()
    elif len(param_names) == 2:
        # 绘制热力图
        param1 = param_names[0]
        param2 = param_names[1]
        pivot_table = results_df.pivot(index=param1, columns=param2, values=metric)

        plt.figure(figsize=(10, 8))
        sns.heatmap(pivot_table, annot=True, fmt=".4f", cmap='viridis')
        plt.title(f'{metric} Heatmap')
        plt.ylabel(param1)
        plt.xlabel(param2)
        plt.show()
    else:
        print("无法可视化超过两个参数的结果，请减少参数数量。")

    # 返回结果 DataFrame
    return results_df

# 定义参数网格
parameter_grid = {
    'window_1': range(50, 80,5),
    'window_2': range(80, 110, 5)
}

# 运行参数优化
# results_df = parameter_optimization(
#     parameter_grid=parameter_grid,
#     strategy_function=SMA_H,
#     strategy_class=SMA_H_Strategy,
#     target_assets=target_assets,
#     paths=paths,
#     cash=10000000,
#     commission=0.0002,
#     slippage_perc=0.0005,
#     metric='sharpe_ratio'
# )

d:\Anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [ ]:
import os
import pandas as pd
import backtrader as bt
import matplotlib.pyplot as plt
from analyzing_tools import Analyzing_Tools
from itertools import product
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


def SMA_H(target_assets, paths,window_1=61,window_2=101):
    #信号结果字典
    results = {}
    #全数据字典，包含计算指标用于检查
    full_info={}
    
    #编写策略主体部分
    for code in target_assets:
        # 读取数据
        daily_data = pd.read_csv(os.path.join(paths['daily'], f"{code}.csv"), index_col=[0])
        daily_data.index = pd.to_datetime(daily_data.index)
        df=daily_data.copy()
        hourly_data = pd.read_csv(os.path.join(paths['hourly'], f"{code}.csv"), index_col=[0])
        hourly_data.index = pd.to_datetime(hourly_data.index)

        hourly_data["var_1"] = hourly_data['close'].rolling(window_1).mean()
        hourly_data["var_2"] =hourly_data['close'].rolling(window_2).mean()
        # 添加信号列
        hourly_data.loc[(hourly_data["var_1"].shift(1) <= hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] >= hourly_data["var_2"]) , 'signal'] = 1
        hourly_data.loc[(hourly_data["var_1"].shift(1) > hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] < hourly_data["var_2"]) , 'signal'] = -1
        
        hourly_data['signal'].fillna(method='ffill', inplace=True)
        hourly_exchange = hourly_data.resample('D').last()

        df = pd.merge(df, hourly_exchange[['signal']], left_index=True, right_index=True, how='left')        
        df['signal'].fillna(method='ffill', inplace=True)


        result=df

        # 将信号合并回每日数据
        daily_data = daily_data.join(result[['signal']], how='left')
        daily_data[['signal']].fillna(0, inplace=True)
        daily_data=daily_data.dropna()

        # 存储结果
        results[code] = daily_data
        full_info[code]=result

    return results,full_info

# 自定义数据类，包含 'signal'
class PandasDataPlusSignal(bt.feeds.PandasData):
    lines = ('signal',)
    params = (
        ('signal', -1),  # 默认情况下，'signal' 列在最后一列   
    )

# 策略类，包含调试信息和导出方法
class SMA_H_Strategy(bt.Strategy):
    params = (
        ('size_pct',0.19),  # 每个资产的仓位百分比
    )

    def __init__(self):
        self.orders = {}         # 用于跟踪每个资产的订单状态
        self.trade_counts = {}   # 记录每个资产的交易次数
        self.value = []          # 存储组合总净值
        self.dates = []          # 存储日期序列
        self.debug_info = []     # 存储调试信息

        for data in self.datas:
            name = data._name
            self.trade_counts[name] = 0
            self.orders[name] = None

    def next(self):
        total_value = self.broker.getvalue()
        self.value.append(total_value)
        current_date = self.datas[0].datetime.datetime(0)
        self.dates.append(current_date)

        for data in self.datas:
            name = data._name
            position_size = self.getposition(data).size
            signal = data.signal[0]

            # 根据信号执行交易
            if signal == 1 and position_size == 0:
                size = self.calculate_position_size(data)
                self.orders[name] = self.buy(data=data, size=size)
                self.trade_counts[name] += 1

            elif signal == -1 and position_size > 0:
                self.orders[name] = self.close(data=data)
                self.trade_counts[name] += 1


            # 存储调试信息
            self.debug_info.append({
                'Date': current_date,
                'Asset': name,
                'Position': position_size,
                'Signal': signal,
                'Size': self.calculate_position_size(data),
                'Open':data.open[0],
                'High':data.high[0],
                'Low':data.low[0],
                'Volume':data.volume[0],
                'Close': data.close[0],
                'Cash': self.broker.getcash(),
                'Value': total_value,
                'Trades': self.trade_counts[name],
            })


    def calculate_position_size(self, data):
        """
        计算仓位大小
        """
        available_cash = self.broker.getvalue()
        current_price = data.close[0]
        max_investment = available_cash * self.params.size_pct
        max_shares = int(max_investment / current_price)
        return max_shares

    def notify_order(self, order):
        """
        订单完成后重置状态
        """
        if order.status in [order.Completed, order.Canceled, order.Margin]:
            name = order.data._name
            self.orders[name] = None

    def get_net_value_series(self):
        """
        返回净值序列，用于后续分析
        """
        return pd.DataFrame(self.value, index=self.dates)

    def get_debug_df(self):
        """
        返回包含调试信息的DataFrame
        """
        df = pd.DataFrame(self.debug_info)
        df.set_index('Date', inplace=True)
        return df


def run_backtest(strategy, target_assets, strategy_results, cash=100000.0, commission=0.0005, slippage_perc=0.0005, slippage_fixed=None, **kwargs):
    
    cerebro = bt.Cerebro()  # 初始化Cerebro引擎
    cerebro.addstrategy(strategy, **kwargs)  # 添加策略
    
    for code in target_assets:
        data = PandasDataPlusSignal(dataname=strategy_results[code])
        data._name = code  # 为数据设置名称，便于识别
        cerebro.adddata(data)
    
    # 使用setcommission设置股票模式的佣金
    cerebro.broker.setcommission(
        commission=commission,  # 佣金百分比
        stocklike=True  # 将交易设置为股票模式
    )
    
    cerebro.broker.setcash(cash)  # 设置初始资金

    # 设置滑点
    if slippage_perc is not None:
        cerebro.broker.set_slippage_perc(slippage_perc)  # 设置百分比滑点
    elif slippage_fixed is not None:
        cerebro.broker.set_slippage_fixed(slippage_fixed)  # 设置固定点滑点
    
    strategies = cerebro.run()  # 运行回测
    return strategies[0]



#加载分析工具
AT=Analyzing_Tools()


# 定义数据路径
paths = {
    'daily': r'E:\数据库\同花顺ETF跟踪指数量价数据\1d',
    'hourly': r'E:\数据库\同花顺ETF跟踪指数量价数据\1h',
    'min15': r'E:\数据库\同花顺ETF跟踪指数量价数据\15min',
    'pv_export':r"E:\量化交易构建\私募基金研究\股票策略研究\策略净值序列"
}


# 资产列表
target_assets = [
    "000300.SH",
    "000852.SH",
    "000905.SH",
    "399006.SZ",
    "399303.SZ"
]



# 生成信号
strategy_results,full_info = SMA_H(target_assets, paths)


# 获取策略实例
strat = run_backtest(SMA_H_Strategy,target_assets,strategy_results,10000000,0.0005,0.0005)

pv=strat.get_net_value_series()

strtegy_name='SMA_H'

pv.to_excel(paths["pv_export"]+'\\'+strtegy_name+'.xlsx')

portfolio_value, returns, drawdown_ts, metrics = AT.performance_analysis(pv, freq='D')

index_price_path=paths['daily']

# 获取净值序列
AT.plot_results('000906.SH',index_price_path,portfolio_value, drawdown_ts, returns, metrics)

# 获取调试信息
debug_df = strat.get_debug_df()

#蒙特卡洛测试

AT.monte_carlo_analysis(strat,num_simulations=10000,num_days=252,freq='D')



#定义参数优化函数
def parameter_optimization(parameter_grid, strategy_function, strategy_class, target_assets, paths, cash=100000.0, commission=0.0002, slippage_perc=0.0005, metric='sharpe_ratio'):   
    """
    执行参数优化，支持一个或两个参数。

    参数：
    - parameter_grid: 字典，包含参数名称和要测试的取值列表。例如：{'window_1': [30, 34, 38]}
    - strategy_function: 生成信号的策略函数，例如 UDVD
    - strategy_class: Backtrader 策略类，例如 UDVD_Strategy
    - target_assets: 资产列表
    - paths: 数据路径字典
    - cash: 初始资金
    - commission: 佣金
    - slippage_perc: 滑点百分比
    - metric: 选择用于评估的绩效指标，默认为 'sharpe_ratio'
    """

    #加载数据类

    # 获取参数名称和取值列表
    param_names = list(parameter_grid.keys())
    param_values = [parameter_grid[key] for key in param_names]

    # 生成所有参数组合
    param_combinations = [dict(zip(param_names, values)) for values in product(*param_values)]

    results = []

    for params in param_combinations:
        print(f"正在测试参数组合：{params}")
        # 生成当前参数下的信号
        strategy_results, full_info = strategy_function(target_assets, paths, **params)

        # 运行回测
        strat = run_backtest(strategy_class, target_assets, strategy_results, cash, commission, slippage_perc)

        # 获取净值序列
        pv = strat.get_net_value_series()

        # 计算绩效指标
        portfolio_value, returns, drawdown_ts, metrics =AT.performance_analysis(pv)

        # 收集指标和参数
        result_entry = {k: v for k, v in params.items()}
        result_entry.update(metrics)
        result_entry=pd.DataFrame(result_entry)
        results.append(result_entry)

    # 将结果转换为 DataFrame
    results_df = pd.concat(results,axis=0)
    results_df=results_df.dropna()

    # 可视化结果
    if len(param_names) == 1:
        # 绘制参数与绩效指标的关系曲线
        param = param_names[0]
        plt.figure(figsize=(10, 6))
        plt.plot(results_df[param], results_df[metric], marker='o')
        plt.xlabel(param)
        plt.ylabel(metric)
        plt.title(f'{metric} vs {param}')
        plt.grid(True)
        plt.show()
    elif len(param_names) == 2:
        # 绘制热力图
        param1 = param_names[0]
        param2 = param_names[1]
        pivot_table = results_df.pivot(index=param1, columns=param2, values=metric)

        plt.figure(figsize=(10, 8))
        sns.heatmap(pivot_table, annot=True, fmt=".4f", cmap='viridis')
        plt.title(f'{metric} Heatmap')
        plt.ylabel(param1)
        plt.xlabel(param2)
        plt.show()
    else:
        print("无法可视化超过两个参数的结果，请减少参数数量。")

    # 返回结果 DataFrame
    return results_df

# 定义参数网格
parameter_grid = {
    'window_1': range(50, 80,5),
    'window_2': range(80, 110, 5)
}

# 运行参数优化
# results_df = parameter_optimization(
#     parameter_grid=parameter_grid,
#     strategy_function=SMA_H,
#     strategy_class=SMA_H_Strategy,
#     target_assets=target_assets,
#     paths=paths,
#     cash=10000000,
#     commission=0.0002,
#     slippage_perc=0.0005,
#     metric='sharpe_ratio'
# )

d:\Anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [ ]:
import os
import pandas as pd
import backtrader as bt
import matplotlib.pyplot as plt
from analyzing_tools import Analyzing_Tools
from itertools import product
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


def SMA_H(target_assets, paths,window_1=61,window_2=101):
    #信号结果字典
    results = {}
    #全数据字典，包含计算指标用于检查
    full_info={}
    
    #编写策略主体部分
    for code in target_assets:
        # 读取数据
        daily_data = pd.read_csv(os.path.join(paths['daily'], f"{code}.csv"), index_col=[0])
        daily_data.index = pd.to_datetime(daily_data.index)
        df=daily_data.copy()
        hourly_data = pd.read_csv(os.path.join(paths['hourly'], f"{code}.csv"), index_col=[0])
        hourly_data.index = pd.to_datetime(hourly_data.index)

        hourly_data["var_1"] = hourly_data['close'].rolling(window_1).mean()
        hourly_data["var_2"] =hourly_data['close'].rolling(window_2).mean()
        # 添加信号列
        hourly_data.loc[(hourly_data["var_1"].shift(1) <= hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] >= hourly_data["var_2"]) , 'signal'] = 1
        hourly_data.loc[(hourly_data["var_1"].shift(1) > hourly_data["var_2"].shift(1)) & (hourly_data["var_1"] < hourly_data["var_2"]) , 'signal'] = -1
        
        hourly_data['signal'].fillna(method='ffill', inplace=True)
        hourly_exchange = hourly_data.resample('D').last()

        df = pd.merge(df, hourly_exchange[['signal']], left_index=True, right_index=True, how='left')        
        df['signal'].fillna(method='ffill', inplace=True)


        result=df

        # 将信号合并回每日数据
        daily_data = daily_data.join(result[['signal']], how='left')
        daily_data[['signal']].fillna(0, inplace=True)
        daily_data=daily_data.dropna()

        # 存储结果
        results[code] = daily_data
        full_info[code]=result

    return results,full_info

# 自定义数据类，包含 'signal'
class PandasDataPlusSignal(bt.feeds.PandasData):
    lines = ('signal',)
    params = (
        ('signal', -1),  # 默认情况下，'signal' 列在最后一列   
    )

# 策略类，包含调试信息和导出方法
class SMA_H_Strategy(bt.Strategy):
    params = (
        ('size_pct',0.19),  # 每个资产的仓位百分比
    )

    def __init__(self):
        self.orders = {}         # 用于跟踪每个资产的订单状态
        self.trade_counts = {}   # 记录每个资产的交易次数
        self.value = []          # 存储组合总净值
        self.dates = []          # 存储日期序列
        self.debug_info = []     # 存储调试信息

        for data in self.datas:
            name = data._name
            self.trade_counts[name] = 0
            self.orders[name] = None

    def next(self):
        total_value = self.broker.getvalue()
        self.value.append(total_value)
        current_date = self.datas[0].datetime.datetime(0)
        self.dates.append(current_date)

        for data in self.datas:
            name = data._name
            position_size = self.getposition(data).size
            signal = data.signal[0]

            # 根据信号执行交易
            if signal == 1 and position_size == 0:
                size = self.calculate_position_size(data)
                self.orders[name] = self.buy(data=data, size=size)
                self.trade_counts[name] += 1

            elif signal == -1 and position_size > 0:
                self.orders[name] = self.close(data=data)
                self.trade_counts[name] += 1


            # 存储调试信息
            self.debug_info.append({
                'Date': current_date,
                'Asset': name,
                'Position': position_size,
                'Signal': signal,
                'Size': self.calculate_position_size(data),
                'Open':data.open[0],
                'High':data.high[0],
                'Low':data.low[0],
                'Volume':data.volume[0],
                'Close': data.close[0],
                'Cash': self.broker.getcash(),
                'Value': total_value,
                'Trades': self.trade_counts[name],
            })


    def calculate_position_size(self, data):
        """
        计算仓位大小
        """
        available_cash = self.broker.getvalue()
        current_price = data.close[0]
        max_investment = available_cash * self.params.size_pct
        max_shares = int(max_investment / current_price)
        return max_shares

    def notify_order(self, order):
        """
        订单完成后重置状态
        """
        if order.status in [order.Completed, order.Canceled, order.Margin]:
            name = order.data._name
            self.orders[name] = None

    def get_net_value_series(self):
        """
        返回净值序列，用于后续分析
        """
        return pd.DataFrame(self.value, index=self.dates)

    def get_debug_df(self):
        """
        返回包含调试信息的DataFrame
        """
        df = pd.DataFrame(self.debug_info)
        df.set_index('Date', inplace=True)
        return df


def run_backtest(strategy, target_assets, strategy_results, cash=100000.0, commission=0.0005, slippage_perc=0.0005, slippage_fixed=None, **kwargs):
    
    cerebro = bt.Cerebro()  # 初始化Cerebro引擎
    cerebro.addstrategy(strategy, **kwargs)  # 添加策略
    
    for code in target_assets:
        data = PandasDataPlusSignal(dataname=strategy_results[code])
        data._name = code  # 为数据设置名称，便于识别
        cerebro.adddata(data)
    
    # 使用setcommission设置股票模式的佣金
    cerebro.broker.setcommission(
        commission=commission,  # 佣金百分比
        stocklike=True  # 将交易设置为股票模式
    )
    
    cerebro.broker.setcash(cash)  # 设置初始资金

    # 设置滑点
    if slippage_perc is not None:
        cerebro.broker.set_slippage_perc(slippage_perc)  # 设置百分比滑点
    elif slippage_fixed is not None:
        cerebro.broker.set_slippage_fixed(slippage_fixed)  # 设置固定点滑点
    
    strategies = cerebro.run()  # 运行回测
    return strategies[0]



#加载分析工具
AT=Analyzing_Tools()


# 定义数据路径
paths = {
    'daily': r'E:\数据库\同花顺ETF跟踪指数量价数据\1d',
    'hourly': r'E:\数据库\同花顺ETF跟踪指数量价数据\1h',
    'min15': r'E:\数据库\同花顺ETF跟踪指数量价数据\15min',
    'pv_export':r"E:\量化交易构建\私募基金研究\股票策略研究\策略净值序列"
}


# 资产列表
target_assets = [
    "000300.SH",
    "000852.SH",
    "000905.SH",
    "399006.SZ",
    "399303.SZ"
]



# 生成信号
strategy_results,full_info = SMA_H(target_assets, paths)


# 获取策略实例
strat = run_backtest(SMA_H_Strategy,target_assets,strategy_results,10000000,0.0005,0.0005)

pv=strat.get_net_value_series()

strtegy_name='SMA_H'

pv.to_excel(paths["pv_export"]+'\\'+strtegy_name+'.xlsx')

portfolio_value, returns, drawdown_ts, metrics = AT.performance_analysis(pv, freq='D')

index_price_path=paths['daily']

# 获取净值序列
AT.plot_results('000906.SH',index_price_path,portfolio_value, drawdown_ts, returns, metrics)

# 获取调试信息
debug_df = strat.get_debug_df()

#蒙特卡洛测试

AT.monte_carlo_analysis(strat,num_simulations=10000,num_days=252,freq='D')



#定义参数优化函数
def parameter_optimization(parameter_grid, strategy_function, strategy_class, target_assets, paths, cash=100000.0, commission=0.0002, slippage_perc=0.0005, metric='sharpe_ratio'):   
    """
    执行参数优化，支持一个或两个参数。

    参数：
    - parameter_grid: 字典，包含参数名称和要测试的取值列表。例如：{'window_1': [30, 34, 38]}
    - strategy_function: 生成信号的策略函数，例如 UDVD
    - strategy_class: Backtrader 策略类，例如 UDVD_Strategy
    - target_assets: 资产列表
    - paths: 数据路径字典
    - cash: 初始资金
    - commission: 佣金
    - slippage_perc: 滑点百分比
    - metric: 选择用于评估的绩效指标，默认为 'sharpe_ratio'
    """

    #加载数据类

    # 获取参数名称和取值列表
    param_names = list(parameter_grid.keys())
    param_values = [parameter_grid[key] for key in param_names]

    # 生成所有参数组合
    param_combinations = [dict(zip(param_names, values)) for values in product(*param_values)]

    results = []

    for params in param_combinations:
        print(f"正在测试参数组合：{params}")
        # 生成当前参数下的信号
        strategy_results, full_info = strategy_function(target_assets, paths, **params)

        # 运行回测
        strat = run_backtest(strategy_class, target_assets, strategy_results, cash, commission, slippage_perc)

        # 获取净值序列
        pv = strat.get_net_value_series()

        # 计算绩效指标
        portfolio_value, returns, drawdown_ts, metrics =AT.performance_analysis(pv)

        # 收集指标和参数
        result_entry = {k: v for k, v in params.items()}
        result_entry.update(metrics)
        result_entry=pd.DataFrame(result_entry)
        results.append(result_entry)

    # 将结果转换为 DataFrame
    results_df = pd.concat(results,axis=0)
    results_df=results_df.dropna()

    # 可视化结果
    if len(param_names) == 1:
        # 绘制参数与绩效指标的关系曲线
        param = param_names[0]
        plt.figure(figsize=(10, 6))
        plt.plot(results_df[param], results_df[metric], marker='o')
        plt.xlabel(param)
        plt.ylabel(metric)
        plt.title(f'{metric} vs {param}')
        plt.grid(True)
        plt.show()
    elif len(param_names) == 2:
        # 绘制热力图
        param1 = param_names[0]
        param2 = param_names[1]
        pivot_table = results_df.pivot(index=param1, columns=param2, values=metric)

        plt.figure(figsize=(10, 8))
        sns.heatmap(pivot_table, annot=True, fmt=".4f", cmap='viridis')
        plt.title(f'{metric} Heatmap')
        plt.ylabel(param1)
        plt.xlabel(param2)
        plt.show()
    else:
        print("无法可视化超过两个参数的结果，请减少参数数量。")

    # 返回结果 DataFrame
    return results_df

# 定义参数网格
parameter_grid = {
    'window_1': range(50, 80,5),
    'window_2': range(80, 110, 5)
}

# 运行参数优化
# results_df = parameter_optimization(
#     parameter_grid=parameter_grid,
#     strategy_function=SMA_H,
#     strategy_class=SMA_H_Strategy,
#     target_assets=target_assets,
#     paths=paths,
#     cash=10000000,
#     commission=0.0002,
#     slippage_perc=0.0005,
#     metric='sharpe_ratio'
# )

d:\Anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

已连接到 base (Python 3.9.7)

In [ ]:
# -*- coding: utf-8 -*-
from iFinDPy import *
from datetime import datetime
import pandas as pd
import time as _time
import json
from threading import Thread,Lock,Semaphore
import requests
import numpy as np
from datetime import datetime
from numpy import nan as NA
import matplotlib.pyplot as plt
import math
from pandas.tseries.offsets import Day,MonthEnd
import os
from tqdm import tqdm  # 用于显示进度条
import concurrent.futures
from concurrent.futures import ThreadPoolExecutor


def thslogindemo():
    # 输入用户的帐号和密码
    thsLogin = THS_iFinDLogin("hwqh100","155d50")
    print(thsLogin)
    if thsLogin != 0:
        print('登录失败')
    else:
        print('登录成功')

thslogindemo()


class Downloading_And_Updating_Data():

    def __init__(self):

        self.A_Share_Trading_Hours= ["10:30", "11:30", "14:00", "15:00"]

        self.A_Share_Trading_15mins=["9:45", "10:00", "10:15", "10:30", 
                                    "10:45", "11:00", "11:15", "11:30",
                                     "13:15", "13:30", "13:45","14:00",
                                      "14:15", "14:30", "14:45", "15:00"]
    
    def Downloading_Market_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HQ(Code_List[i],'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_Market_Vol_Price_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_HQ(code,'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_All_Market_Vol_Data(self,End_Date, Data_Path_List):

        def Updating_Market_Vol_Price_Data(End_Date, Data_Path):
            os.chdir(Data_Path)  # 切换到数据路径

            List = os.listdir()  # 获取路径下所有文件
            Doc_Number = len(List)

            print("更新开始")

            def update_file(file_name):
                try:
                    file_path = os.path.join(Data_Path, file_name)
                    df = pd.read_csv(file_path, index_col=[0])
                    df.index = pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                        New_Begin_Date = (df.index[-1] + timedelta(days=1)).strftime("%Y-%m-%d")
                        code = file_name.replace('.csv', "")

                        # 获取新数据
                        new_data = THS_HQ(code, 'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital', '', New_Begin_Date, End_Date).data
                        new_data.index = pd.to_datetime(new_data["time"])  # 将时间列设为索引
                        new_data = new_data.drop(columns=["time", "thscode"])  # 删除无关列

                        Updated_Data = pd.concat([df, new_data], axis=0)  # 合并新旧数据
                        Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[1,0]
                        Updated_Data.to_csv(file_path)  # 保存更新后的数据
                        return f"{file_name} 更新成功"
                    else:
                        return f"{file_name} 数据更新至最新"
                except Exception as e:
                    return f"{file_name} 出现错误: {e}"

            with concurrent.futures.ThreadPoolExecutor() as executor:
                results = list(tqdm(executor.map(update_file, List), total=Doc_Number, desc="更新进度"))

            for result in results:
                print(result)

            print("更新结束")

        for data_path in Data_Path_List:
            try:
                Updating_Market_Vol_Price_Data(End_Date, data_path)
            except Exception as e:
                print(f"{data_path} 出现错误: {e}")

        return

    def Download_Index_Valuation_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_Valuation_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            Data=Data.set_index('time',drop=True)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_Valuation_Data(i,Begin_Date,End_Date)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_Valuation_Data(self,End_Date, Data_Path):
        def process_file(filename):
            try:
                df = pd.read_csv(os.path.join(Data_Path, filename), index_col=[0])
                df.index = pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                    New_Begin_Date = df.index[-1] + Day()
                    New_Begin_Date = New_Begin_Date.strftime("%Y-%m-%d")

                    code = filename.replace('.csv', "")
                    new_data = THS_DS(code, 'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index', '100,100;100,100;', 'block:history', New_Begin_Date, End_Date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    Updated_Data = pd.concat([df, new_data], axis=0)
                    Updated_Data.to_csv(os.path.join(Data_Path, filename))

                    print(f"{filename} processed successfully.")
                else:
                    print(f"{filename} is already up to date.")
            except Exception as e:
                print(f"Error processing {filename}: {e}")

        os.chdir(Data_Path)
        List = os.listdir()
        Doc_Number = len(List)

        print("更新开始")

        with ThreadPoolExecutor(max_workers=4) as executor:
            futures = [executor.submit(process_file, filename) for filename in List]
            for i, future in enumerate(futures):
                try:
                    future.result()  # Wait for thread to complete and handle exceptions
                except Exception as e:
                    print(f"Thread {i} generated an exception: {e}")

        print("更新结束")

        return


        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Free_Turn_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Free_Trun_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_free_turnover_ratio_index','','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Free_Trun_Data(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Updating_Index_Free_Turn_Data(self,end_date, data_path):
        """
        更新指定路径下的所有CSV文件中的数据，如果数据不是最新的，则从最新日期开始更新至指定的结束日期。
        
        :param end_date: 数据更新的截止日期，格式为'YYYY-MM-DD'
        :param data_path: 存放CSV文件的路径
        """
        def update_file(file_name):
            try:
                # 读取CSV文件
                df = pd.read_csv(os.path.join(data_path, file_name), index_col=[0])
                df.index = pd.to_datetime(df.index)

                # 检查数据是否已经是最新的
                if df.index[-1].strftime('%Y-%m-%d') != end_date:
                    # 计算新的开始日期
                    new_begin_date = (df.index[-1] + Day(1)).strftime("%Y-%m-%d")
                    code = file_name.replace('.csv', "")

                    # 获取新的数据
                    new_data = THS_DS(code, 'ths_free_turnover_ratio_index', '', 'block:history', new_begin_date, end_date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    # 合并旧数据和新数据
                    updated_data = pd.concat([df, new_data], axis=0)

                    # 保存更新后的数据
                    updated_data.to_csv(os.path.join(data_path, file_name))

                    print(f"{file_name} 更新完成")
                else:
                    print(f"{file_name} 数据已是最新")

            except Exception as e:
                print(f"{file_name} 出现错误: {e}")

        # 获取路径下所有文件的列表
        file_list = os.listdir(data_path)

        print("更新开始")

        # 使用线程池来并行处理文件
        with ThreadPoolExecutor() as executor:
            futures = [executor.submit(update_file, file_name) for file_name in file_list]

            for future in futures:
                future.result()  # 等待所有线程完成

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code
    
    def Download_Index_Forcast_2yr_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

            def Downloading_Forcast_2yr_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_fore_np_compound_growth_2y_index','','block:history',i,j).data

                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

            os.chdir(Export_Path)

            Error_Code=[]

            print("更新开始")
            
            for i in Code_List:

                try:
                    
                    Data=Downloading_Forcast_2yr_Data(i,Begin_Date,End_Date)

                    Data.index=Data.loc[:,"time"]

                    Data=Data.iloc[:,1:]

                    Data.to_csv(i+".csv")

                    print(i+"输出完成")

                except:

                    print(i+"出现错误")

                    Error_Code.append(i)
            
            return
    
    def Updating_Forcast_2yr_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_fore_np_compound_growth_2y_index','','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_EDB_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        for i in range(0,len(Code_List)):
        
            try:
                Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data.index=pd.to_datetime(Data.index)

                Data=Data.iloc[:,2:5]

                os.chdir(Export_Path)

                Data.to_csv(Code_List[i]+".csv")

                print('完成度: '+str(i/len(Code_List)))

            except:

                print(Code_List[i]+"出现错误")

        return

    def Update_EDB_Data(self,Data_Path,End_Date):

        def Download_EDB_Data(Code_List,Begin_Date,End_Date,Export_Path):

                for i in range(0,len(Code_List)):
                
                    try:
                        Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                        Data.index=Data.loc[:,"time"]

                        Data.index=pd.to_datetime(Data.index)

                        Data=Data.iloc[:,2:5]

                        os.chdir(Export_Path)

                        Data.to_csv(Code_List[i]+".csv")

                        print('完成度: '+str(i/len(Code_List)))

                    except:

                        print(Code_List[i]+"出现错误")

                return

        List=os.listdir(Data_Path)

        Code_List=[]

        for i in List:

            Code=i.replace(".csv","")

            Code_List.append(Code)

        Download_EDB_Data(Code_List,"2003-01-01",End_Date,Data_Path)

        return

    def Downloading_ETF_Option_PCR_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
    
        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_ETF_Option_PCR(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

            def generate_date_intervals(start_date, end_date):
                # 将输入的日期字符串转换为datetime对象
                start_date = datetime.strptime(start_date, "%Y-%m-%d")
                end_date = datetime.strptime(end_date, "%Y-%m-%d")

                # 初始化开始日期和结束日期的列表
                begin_date_list = []
                end_date_list = []

                temp_date = start_date
                while temp_date <= end_date:
                    # 将当前日期添加到开始日期列表
                    begin_date_list.append(temp_date.strftime("%Y-%m-%d"))

                    if temp_date.year == end_date.year:
                        # 如果是结束日期的年份，那么结束日期就是输入的结束日期
                        temp_end_date = end_date
                    else:
                        # 否则，结束日期是当前年份的12月31日
                        temp_end_date = datetime(temp_date.year, 12, 31)

                    # 将结束日期添加到结束日期列表
                    end_date_list.append(temp_end_date.strftime("%Y-%m-%d"))

                    # 将临时日期设置为下一年的1月1日
                    temp_date = datetime(temp_date.year + 1, 1, 1)

                return begin_date_list, end_date_list

            Begin_Date_List,End_Date_List=generate_date_intervals(Begin_Date,End_Date)

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                date=FY1+';'+FY1

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',i,j).data

                Data.append(DF)
            
            result=pd.concat(Data,axis=0)

            return result

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        # 使用tqdm包装Code_List
        for i in Code_List: 

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Update_Index_Forcast_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    Year=New_Begin_Date[:4]

                    FY1=int(Year)+1

                    FY1=str(FY1)

                    date=FY1+';'+FY1

                    new_data=THS_DS(code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_Mutal_Fund_Netvalue(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_accum_unit_nv_fund','','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data[['ths_accum_unit_nv_fund']]

                Data.columns=[Code_List[i]]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Downloading_F_Score_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path = Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0, len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',Begin_Date,End_Date).data   

                Data.index = Data.loc[:, "time"]

                Data = Data.iloc[:, 1:]

                Data.to_csv(Code_List[i] + ".csv")

                print(str(i / len(Code_List)))

            except:

                print(Code_List[i] + "出现错误")

        print("下载结束")

    def Update_F_Score_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',New_Begin_Date,End_Date).data  
                    
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("个股财务数据更新结束")
        
    def Downloading_Cov_Bond_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',Begin_Date,End_Date).data
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Update_Cov_Bond_Vol_Price_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',New_Begin_Date,End_Date).data
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("可转债数据更新结束")

        return

    def Downloading_A50_Futures_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',Begin_Date,End_Date).data

                Data=Data.set_index('time',drop=True)

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_A50_Futures_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=  THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date).data
                        
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_newHL_Data(self,Begin_Date, End_Date, Export_Path, Code='001005010'):
        
        Begin_Date = pd.to_datetime(Begin_Date)
        End_Date = pd.to_datetime(End_Date)
        
        Gap = (End_Date - Begin_Date) / 250
        Period = Gap.days
        
        Timeseries = pd.date_range(Begin_Date, End_Date, periods=Period)
        Timeseries_List = Timeseries.strftime("%Y-%m-%d").tolist()
        
        Begin_Date_List = Timeseries_List[:-1]
        End_Date_List = Timeseries_List[1:]
        
        Data = []
        
        # 使用 tqdm 来显示进度条
        for i, j in tqdm(zip(Begin_Date_List, End_Date_List), total=len(Begin_Date_List), desc="Downloading Data"):
            
            DF = THS_DS(Code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', i, j).data
            
            Data.append(DF)
        
        Data = pd.concat(Data, axis=0)
        Data = Data.set_index('time', drop=True)
        
        os.chdir(Export_Path)
        Data.to_csv(Code+'.csv')
        
        return Data
     
    def Updating_newHL_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0) 

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_High_Freq_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path,Interval=60):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HF(Code_List[i],'open;high;low;close;volume;amount','Fill:Original,Interval:'+str(Interval),Begin_Date,End_Date).data
                
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def get_next_trading_time_1h(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_Hours
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "10:30"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("10:30", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")

    def get_next_trading_time_15min(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_15mins
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "09:45"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("09:45", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")
        
    def Update_High_Freq_Vol_Price_Data(self, End_Date, Export_Path, Interval=60):
        """
        更新高频数据 (小时级别)，确保数据不重复下载，并且增量更新。
        
        :param End_Date: 数据更新的结束时间（字符串格式 'YYYY-MM-DD HH:MM'）
        :param Export_Path: 导出文件夹的路径
        :param Interval: 数据的时间间隔，默认是 60 分钟（1 小时）
        """
        
        os.chdir(Export_Path)  # 切换到数据存放的目录
        
        # 获取所有以 .csv 结尾的文件名，并去掉 .csv 后缀，生成股票代码列表
        Code_List = [f.replace('.csv', '') for f in os.listdir(Export_Path) if f.endswith('.csv')]
        
        print("更新开始")
        
        if Interval == 60:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_1h(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                    else:
                        df_combined = new_data
                    
                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')
                    
                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")
        
        if Interval == 15:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_15min(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                        df_combined = df_combined[~df_combined.index.duplicated(keep='last')]  # 去重并保留最新的数据
                    else:
                        df_combined = new_data

                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')

                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")

    def Downloading_ETF_Option_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
            # 期权code 上证50=510050 沪深300=510300 500ETF=510500 科创50ETF=588000 科创板50=588080

            Export_Path=Export_Path

            print("下载开始")

            for i in range(0,len(Code_List)):

                try:
                    code=Code_List[i]+'O'
                    sdate=Begin_Date.replace('-','')
                    edate=End_Date.replace('-','')
                    Data=THS_DR('p02872','qqbd='+code+';'+'sdate='+sdate+';'+'edate='+edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    
                    Data=Data.set_index('p02872_f001',drop=True)

                    Data=Data.sort_index()

                    Data.to_csv(Export_Path+'\\'+Code_List[i]+".csv")

                    print(str(i/len(Code_List)))
                
                except:

                    print(Code_List[i]+"出现错误")

            print("下载结束")

    def Updating_ETF_Option(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code_original = List[i].replace('.csv', "")
                    code=code_original+'O'
                    code=Code_List[i]+'O'

                    new_sdate=New_Begin_Date.replace('-','')
                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p02872','qqbd='+code+';'+'sdate='+new_sdate+';'+'edate='+new_edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    new_data=new_data.set_index('p02872_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_DDE_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_DDE_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',i,j).data
                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_DDE_Data(i,Begin_Date,End_Date)

                Data=Data.set_index('time',drop=True)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_DDE_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                    THS_DS('801017.SL','ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data
                    new_data=THS_DS(code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)
                    
                    Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[0,0]

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return
    
        
        def Updating_updown_Data(End_Date, Data_Path):

            Data_Path=Data_Path

            os.chdir(Data_Path)

            List=os.listdir()

            Doc_Number=len(List)

            print("更新开始")

            for i in range(0,Doc_Number):

                try:

                    df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                    df.index=pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                        New_Begin_Date=df.index[-1]+Day()

                        New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                        code = List[i].replace('.csv', "")

                        new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                        new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                        new_data=new_data.iloc[:,2:]

                        Updated_Data=pd.concat([df,new_data],axis=0)

                        Updated_Data.to_csv(List[i])

                        print(str(i/Doc_Number))

                    else:

                        print("数据更新至最新")

                except:

                    print(List[i]+"出现错误")

            print("更新结束")

            return

    def Updating_updown_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_Up_Down_Companies(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code= List[i].replace('.csv', "")

                    new_sdate=New_Begin_Date.replace('-','')

                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p00112','sdate='+new_sdate+';'+'edate='+new_edate+';p0='+code,'p00112_f001:Y,p00112_f002:Y,p00112_f003:Y,p00112_f004:Y,p00112_f005:Y,p00112_f006:Y,p00112_f007:Y,p00112_f008:Y,p00112_f009:Y,p00112_f010:Y,p00112_f011:Y,p00112_f012:Y,p00112_f013:Y,p00112_f014:Y,p00112_f021:Y,p00112_f022:Y,p00112_f023:Y,p00112_f024:Y,p00112_f025:Y',
                                    'format:dataframe').data
                    new_data=new_data.set_index('p00112_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return


DUD=Downloading_And_Updating_Data()



def Update_All(End_Date):

    Price_Data_Path_1=r"E:\数据库\同花顺指数量价数据"

    Price_Data_Path_2=r"E:\数据库\同花顺ETF跟踪指数量价数据\1d"

    Price_Data_Path_3=r'E:\数据库\同花顺ETF量价数据'

    Price_Data_Path_4=r'E:\数据库\同花顺商品指数量价数据'

    Path_List=[Price_Data_Path_1,Price_Data_Path_2,Price_Data_Path_3,Price_Data_Path_4]

    DUD.Updating_All_Market_Vol_Data(End_Date,Path_List)

    Forcast_Path=r"E:\数据库\同花顺ETF跟踪指数一致预期数据\预测净利润两年复合增长"

    DUD.Updating_Forcast_2yr_Data(End_Date,Forcast_Path)

    Free_Turn_Path=r"E:\数据库\同花顺指数自由流通换手率"

    DUD.Updating_Index_Free_Turn_Data(End_Date,Free_Turn_Path)

    Valuation_Path=r"E:\数据库\同花顺ETF跟踪指数估值数据"

    DUD.Updating_Index_Valuation_Data(End_Date,Valuation_Path)

    EDB_Data_Path=r"E:\数据库\同花顺EDB数据"

    DUD.Update_EDB_Data(EDB_Data_Path,End_Date)

    ETF_Option_Path=r"E:\数据库\另类数据\ETF期权数据"

    DUD.Updating_ETF_Option(End_Date,ETF_Option_Path)

    Forcast_Data_Path=r'E:\数据库\同花顺ETF跟踪指数一致预期数据\盈利预测综合值'

    DUD.Update_Index_Forcast_Data(End_Date,Forcast_Data_Path)

    Cov_Bond_Path=r'E:\数据库\同花顺可转债数据'

    DUD.Update_Cov_Bond_Vol_Price_Data(End_Date,Cov_Bond_Path)

    #新高新低
    H_L_Path=r'E:\数据库\另类数据\新高新低'

    DUD.Updating_newHL_Data(End_Date,H_L_Path)

    #高频数据更新

    Export_Path_60 = r'E:\数据库\同花顺ETF跟踪指数量价数据\1h' 

    Export_Path_15=r'E:\数据库\同花顺ETF跟踪指数量价数据\15min'

    HF_End_Date=End_Date+' 15:00'

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date, Export_Path_60,60)

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date,Export_Path_15,15)

    #公司上涨数量更新
    
    Up_Down_Company_Path=r'E:\数据库\另类数据\涨跌家数'

    DUD.Updating_Up_Down_Companies(End_Date,Up_Down_Company_Path)

    #涨停跌停数量

    up_path=r'E:\数据库\另类数据\涨停跌停'

    DUD.Updating_updown_Data(End_Date,up_path)


    return print('updating finished')

#海外数据第二天更新
def Update_Oversea_Data(End_Date):

    A50_Path=r'E:\数据库\另类数据\A50期货数据'

    DUD.Updating_A50_Futures_Data(End_Date,A50_Path)

    return print('海外数据更新完毕')

# Update_Oversea_Data('2024-12-24')

Update_All('2024-12-25')

d:\Anaconda3\Lib\site-packages\iFinDPy.pth
0
登录成功
更新开始

更新进度: 100%|██████████| 30/30 [00:03<00:00,  9.02it/s]

000001.SH.csv 更新成功
000016.SH.csv 更新成功
000300.SH.csv 更新成功
000688.SH.csv 更新成功
000832.CSI.csv 更新成功
000852.SH.csv 更新成功
000905.SH.csv 更新成功
000906.SH.csv 更新成功
000985.CSI.csv 更新成功
399006.SZ.csv 更新成功
399303.SZ.csv 更新成功
930665.CSI.csv 更新成功
930666.CSI.csv 更新成功
931153.CSI.csv 更新成功
H11001.CSI.csv 出现错误: NaTType does not support strftime
H11009.CSI.csv 更新成功
HSCE.HK.csv 出现错误: 'time'
HSCSHEI.HK.csv 出现错误: 'time'
IMCI.SHF.csv 更新成功
IXIC.GI.csv 更新成功
NHAI.SL.csv 更新成功
NHAUI.SL.csv 更新成功
NHCI.SL.csv 更新成功
NHCUI.SL.csv 更新成功
NHECI.SL.csv 更新成功
NHFI.SL.csv 更新成功
NHII.SL.csv 更新成功
NHMI.SL.csv 更新成功
NHNFI.SL.csv 更新成功
NHPMI.SL.csv 更新成功
更新结束
更新开始

更新进度: 100%|██████████| 275/275 [00:35<00:00,  7.72it/s]

000001.SH.csv 更新成功
000009.SH.csv 更新成功
000010.SH.csv 更新成功
000015.SH.csv 更新成功
000016.SH.csv 更新成功
000018.SH.csv 更新成功
000021.SH.csv 更新成功
000029.SH.csv 更新成功
000036.SH.csv 更新成功
000037.SH.csv 更新成功
000038.SH.csv 更新成功
000042.SH.csv 更新成功
000043.SH.csv 更新成功
000044.SH.csv 更新成功
000048.SH.csv 更新成功
000056.SH.csv 更新成功
000063.SH.csv 更新成功
000064.SH.csv 更新成功
000065.SH.csv 更新成功
000066.SH.csv 更新成功
000068.SH.csv 更新成功
000069.SH.csv 更新成功
000171.CSI.csv 更新成功
000300.SH.csv 更新成功
000682.SH.csv 更新成功
000685.SH.csv 更新成功
000688.SH.csv 更新成功
000689.SH.csv 更新成功
000806.CSI.csv 更新成功
000807.CSI.csv 更新成功
000811.CSI.csv 更新成功
000812.CSI.csv 更新成功
000813.CSI.csv 更新成功
000814.SH.csv 更新成功
000815.CSI.csv 更新成功
000819.SH.csv 更新成功
000821.CSI.csv 更新成功
000827.SH.csv 更新成功
000852.SH.csv 更新成功
000859.CSI.csv 更新成功
000860.CSI.csv 更新成功
000861.CSI.csv 更新成功
000901.SH.csv 更新成功
000903.SH.csv 更新成功
000905.SH.csv 更新成功
000906.SH.csv 更新成功
000913.SH.csv 更新成功
000914.SH.csv 更新成功
000918.CSI.csv 更新成功
000919.CSI.csv 更新成功
000922.CSI.csv 更新成功
000925.CSI.csv 更新成功
000928.SH.csv 更新成功
000932.SH.csv 更新成功
000933.SH.csv 更新成功
000934.SH.csv 更新成功
000941.CSI.csv 更新成功
000945.CSI.csv 更新成功
000948.CSI.csv 更新成功
000949.CSI.csv 更新成功
000977.CSI.csv 更新成功
000982.SH.csv 更新成功
000985.CSI.csv 更新成功
000986.SH.csv 更新成功
000987.SH.csv 更新成功
000989.SH.csv 更新成功
000991.SH.csv 更新成功
000992.SH.csv 更新成功
000993.SH.csv 更新成功
399001.SZ.csv 更新成功
399005.SZ.csv 更新成功
399006.SZ.csv 更新成功
399007.SZ.csv 更新成功
399008.SZ.csv 更新成功
399012.SZ.csv 更新成功
399088.SZ.csv 更新成功
399276.SZ.csv 更新成功
399285.SZ.csv 更新成功
399291.SZ.csv 更新成功
399293.SZ.csv 更新成功
399295.SZ.csv 更新成功
399296.SZ.csv 更新成功
399303.SZ.csv 更新成功
399324.SZ.csv 更新成功
399326.SZ.csv 更新成功
399330.SZ.csv 更新成功
399344.SZ.csv 更新成功
399348.SZ.csv 更新成功
399361.SZ.csv 更新成功
399362.SZ.csv 更新成功
399377.SZ.csv 更新成功
399378.SZ.csv 更新成功
399395.SZ.csv 更新成功
399396.SZ.csv 更新成功
399433.SZ.csv 更新成功
399437.SZ.csv 更新成功
399438.SZ.csv 更新成功
399441.SZ.csv 更新成功
399550.SZ.csv 更新成功
399610.SZ.csv 更新成功
399624.SZ.csv 更新成功
399673.SZ.csv 更新成功
399701.SZ.csv 更新成功
399702.SZ.csv 更新成功
399808.SZ.csv 更新成功
399812.SZ.csv 更新成功
399814.SZ.csv 更新成功
399965.SZ.csv 更新成功
399966.SZ.csv 更新成功
399967.SZ.csv 更新成功
399971.SZ.csv 更新成功
399973.SZ.csv 更新成功
399975.SZ.csv 更新成功
399976.SZ.csv 更新成功
399986.SZ.csv 更新成功
399987.SZ.csv 更新成功
399989.SZ.csv 更新成功
399994.SZ.csv 更新成功
399995.SZ.csv 更新成功
399998.SZ.csv 更新成功
930598.CSI.csv 更新成功
930601.CSI.csv 更新成功
930606.CSI.csv 更新成功
930608.CSI.csv 更新成功
930614.CSI.csv 更新成功
930625.CSI.csv 更新成功
930632.CSI.csv 更新成功
930633.CSI.csv 更新成功
930641.CSI.csv 更新成功
930648.CSI.csv 更新成功
930651.CSI.csv 更新成功
930652.CSI.csv 更新成功
930653.CSI.csv 更新成功
930662.CSI.csv 更新成功
930697.CSI.csv 更新成功
930707.CSI.csv 更新成功
930708.CSI.csv 更新成功
930712.CSI.csv 更新成功
930713.CSI.csv 更新成功
930716.CSI.csv 更新成功
930721.CSI.csv 更新成功
930725.CSI.csv 更新成功
930726.CSI.csv 更新成功
930740.CSI.csv 更新成功
930743.CSI.csv 更新成功
930758.CSI.csv 更新成功
930781.CSI.csv 更新成功
930782.CSI.csv 更新成功
930821.CSI.csv 更新成功
930838.CSI.csv 更新成功
930839.CSI.csv 更新成功
930850.CSI.csv 更新成功
930851.CSI.csv 更新成功
930901.CSI.csv 更新成功
930902.CSI.csv 更新成功
930938.CSI.csv 更新成功
930939.CSI.csv 更新成功
930955.CSI.csv 更新成功
930965.CSI.csv 更新成功
930986.CSI.csv 更新成功
930997.CSI.csv 更新成功
931000.CSI.csv 更新成功
931009.CSI.csv 更新成功
931033.CSI.csv 更新成功
931039.CSI.csv 更新成功
931052.CSI.csv 更新成功
931066.CSI.csv 更新成功
931068.CSI.csv 更新成功
931071.CSI.csv 更新成功
931079.CSI.csv 更新成功
931087.CSI.csv 更新成功
931088.CSI.csv 更新成功
931139.CSI.csv 更新成功
931140.CSI.csv 更新成功
931141.CSI.csv 更新成功
931151.CSI.csv 更新成功
931152.CSI.csv 更新成功
931159.CSI.csv 更新成功
931160.CSI.csv 更新成功
931163.CSI.csv 更新成功
931165.CSI.csv 更新成功
931166.CSI.csv 更新成功
931186.CSI.csv 更新成功
931187.CSI.csv 更新成功
931268.CSI.csv 更新成功
931372.CSI.csv 更新成功
931380.CSI.csv 更新成功
931381.CSI.csv 更新成功
931393.CSI.csv 更新成功
931395.CSI.csv 更新成功
931402.CSI.csv 更新成功
931403.CSI.csv 更新成功
931404.CSI.csv 更新成功
931406.CSI.csv 更新成功
931409.CSI.csv 更新成功
931412.CSI.csv 更新成功
931442.CSI.csv 更新成功
931447.CSI.csv 更新成功
931461.CSI.csv 更新成功
931463.CSI.csv 更新成功
931468.CSI.csv 更新成功
931469.CSI.csv 更新成功
931470.CSI.csv 更新成功
931476.CSI.csv 更新成功
931480.CSI.csv 更新成功
931481.CSI.csv 更新成功
931484.CSI.csv 更新成功
931487.CSI.csv 更新成功
931494.CSI.csv 更新成功
931495.CSI.csv 更新成功
931521.CSI.csv 更新成功
931523.CSI.csv 更新成功
931524.CSI.csv 更新成功
931526.CSI.csv 更新成功
931554.CSI.csv 更新成功
931575.CSI.csv 更新成功
931580.CSI.csv 更新成功
931582.CSI.csv 更新成功
931587.CSI.csv 更新成功
931588.CSI.csv 更新成功
931590.CSI.csv 更新成功
931591.CSI.csv 更新成功
931596.CSI.csv 更新成功
931643.CSI.csv 更新成功
931663.CSI.csv 更新成功
931695.CSI.csv 更新成功
931719.CSI.csv 更新成功
931733.CSI.csv 更新成功
931755.CSI.csv 更新成功
931775.CSI.csv 更新成功
931778.CSI.csv 更新成功
931798.CSI.csv 更新成功
931892.CSI.csv 更新成功
931897.CSI.csv 更新成功
931992.CSI.csv 更新成功
932000.CSI.csv 更新成功
950049.CSI.csv 更新成功
950096.CSI.csv 更新成功
950105.CSI.csv 更新成功
980001.SZ.csv 更新成功
980015.SZ.csv 更新成功
980016.SZ.csv 更新成功
980017.SZ.csv 更新成功
980028.SZ.csv 更新成功
980030.SZ.csv 更新成功
980032.SZ.csv 更新成功
990001.CSI.csv 更新成功
CES300.CSI.csv 更新成功
GPCCH0.FS.csv 更新成功
H11052.CSI.csv 更新成功
H11054.CSI.csv 更新成功
H11057.CSI.csv 更新成功
H11059.CSI.csv 更新成功
H20463.CSI.csv 更新成功
H30007.CSI.csv 更新成功
H30015.CSI.csv 更新成功
H30022.CSI.csv 更新成功
H30035.CSI.csv 更新成功
H30089.CSI.csv 更新成功
H30171.CSI.csv 更新成功
H30178.CSI.csv 更新成功
H30184.CSI.csv 更新成功
H30199.CSI.csv 更新成功
H30202.CSI.csv 更新成功
H30205.CSI.csv 更新成功
H30217.CSI.csv 更新成功
H30257.CSI.csv 更新成功
H30269.CSI.csv 更新成功
H30318.CSI.csv 更新成功
H30352.CSI.csv 更新成功
H30365.CSI.csv 更新成功
H30455.CSI.csv 更新成功
H30590.CSI.csv 更新成功
H30597.CSI.csv 更新成功
XIN9.FS.csv 更新成功
更新结束
更新开始

更新进度: 100%|██████████| 11/11 [00:00<00:00, 14.92it/s]

159561.SZ.csv 更新成功
159691.SZ.csv 更新成功
159922.SZ.csv 更新成功
159980.SZ.csv 更新成功
159985.SZ.csv 更新成功
510310.SH.csv 更新成功
511100.SH.csv 更新成功
511270.SH.csv 更新成功
513500.SH.csv 更新成功
515180.SH.csv 更新成功
518880.SH.csv 更新成功
更新结束
更新开始

更新进度: 100%|██████████| 90/90 [00:05<00:00, 16.61it/s]

NHAGI.SL.csv 更新成功
NHAI.SL.csv 更新成功
NHALI.SL.csv 更新成功
NHAOI.SL.csv 更新成功
NHAPI.SL.csv 更新成功
NHAUI.SL.csv 更新成功
NHBBI.SL.csv 更新成功
NHBCI.SL.csv 更新成功
NHBM.SL.csv 更新成功
NHBMI.SL.csv 更新成功
NHBOI.SL.csv 更新成功
NHBRI.SL.csv 更新成功
NHBTI.SL.csv 更新成功
NHBUI.SL.csv 更新成功
NHCCI.SL.csv 更新成功
NHCFI.SL.csv 更新成功
NHCI.SL.csv 更新成功
NHCIMi.SL.csv 更新成功
NHCJI.SL.csv 更新成功
NHCKI.SL.csv 更新成功
NHCOI.SL.csv 更新成功
NHCSI.SL.csv 更新成功
NHCUI.SL.csv 更新成功
NHCYI.SL.csv 更新成功
NHEBI.SL.csv 更新成功
NHEC.SL.csv 更新成功
NHECI.SL.csv 更新成功
NHEGI.SL.csv 更新成功
NHEI.SL.csv 更新成功
NHFBI.SL.csv 更新成功
NHFGI.SL.csv 更新成功
NHFI.SL.csv 更新成功
NHFMI.SL.csv 更新成功
NHFUI.SL.csv 更新成功
NHHCI.SL.csv 更新成功
NHICI.SL.csv 更新成功
NHIFI.SL.csv 更新成功
NHIHI.SL.csv 更新成功
NHII.SL.csv 更新成功
NHIMI.SL.csv 更新成功
NHIOI.SL.csv 更新成功
NHJDI.SL.csv 更新成功
NHJMI.SL.csv 更新成功
NHJRI.SL.csv 更新成功
NHLCI.SL.csv 更新成功
NHLHI.SL.csv 更新成功
NHLPGI.SL.csv 更新成功
NHLRI.SL.csv 更新成功
NHLUI.SL.csv 更新成功
NHMAI.SL.csv 更新成功
NHMI.SL.csv 更新成功
NHNFI.SL.csv 更新成功
NHNII.SL.csv 更新成功
NHNMI.SL.csv 更新成功
NHNRI.SL.csv 更新成功
NHOII.SL.csv 更新成功
NHOOI.SL.csv 更新成功
NHPBI.SL.csv 更新成功
NHPCI.SL.csv 更新成功
NHPEI.SL.csv 更新成功
NHPFI.SL.csv 更新成功
NHPKI.SL.csv 更新成功
NHPMI.SL.csv 更新成功
NHPOI.SL.csv 更新成功
NHPPI.SL.csv 更新成功
NHPVI.SL.csv 更新成功
NHPXI.SL.csv 更新成功
NHRBI.SL.csv 更新成功
NHRII.SL.csv 更新成功
NHRMI.SL.csv 更新成功
NHRRI.SL.csv 更新成功
NHRSI.SL.csv 更新成功
NHRUI.SL.csv 更新成功
NHSAI.SL.csv 更新成功
NHSCI.SL.csv 更新成功
NHSFI.SL.csv 更新成功
NHSHI.SL.csv 更新成功
NHSII.SL.csv 更新成功
NHSMI.SL.csv 更新成功
NHSNI.SL.csv 更新成功
NHSOI.SL.csv 更新成功
NHSPI.SL.csv 更新成功
NHSRI.SL.csv 更新成功
NHSSI.SL.csv 更新成功
NHTAI.SL.csv 更新成功
NHURI.SL.csv 更新成功
NHWHI.SL.csv 更新成功
NHWRI.SL.csv 更新成功
NHZCI.SL.csv 更新成功
NHZNI.SL.csv 更新成功
更新结束
更新开始
0.0
0.0036101083032490976
0.007220216606498195
0.010830324909747292
0.01444043321299639
0.018050541516245487
0.021660649819494584
0.02527075812274368
0.02888086642599278
0.032490974729241874
0.036101083032490974
0.039711191335740074
0.04332129963898917
0.04693140794223827
0.05054151624548736
0.05415162454873646
0.05776173285198556
0.061371841155234655
0.06498194945848375
0.06859205776173286
0.07220216606498195
0.07581227436823104
0.07942238267148015
0.08303249097472924
0.08664259927797834
0.09025270758122744
0.09386281588447654
0.09747292418772563
0.10108303249097472
0.10469314079422383
0.10830324909747292
0.11191335740072202
0.11552346570397112
0.11913357400722022
0.12274368231046931
0.1263537906137184
0.1299638989169675
0.13357400722021662
0.1371841155234657
0.1407942238267148
0.1444043321299639
0.148014440433213
0.15162454873646208
0.1552346570397112
0.1588447653429603
0.1624548736462094
0.16606498194945848
0.16967509025270758
0.17328519855595667
0.17689530685920576
0.18050541516245489
0.18411552346570398
0.18772563176895307
0.19133574007220217
0.19494584837545126
0.19855595667870035
0.20216606498194944
0.20577617328519857
0.20938628158844766
0.21299638989169675
0.21660649819494585
0.22021660649819494
0.22382671480144403
0.22743682310469315
0.23104693140794225
0.23465703971119134
0.23826714801444043
133333.MI.csv出现错误
0.24548736462093862
0.2490974729241877
0.2527075812274368
0.2563176895306859
0.259927797833935
0.26353790613718414
0.26714801444043323
0.27075812274368233
0.2743682310469314
0.2779783393501805
0.2815884476534296
0.2851985559566787
0.2888086642599278
0.2924187725631769
0.296028880866426
0.2996389891696751
0.30324909747292417
0.30685920577617326
0.3104693140794224
0.3140794223826715
0.3176895306859206
0.3212996389891697
0.3249097472924188
0.3285198555956679
0.33212996389891697
0.33574007220216606
0.33935018050541516
0.34296028880866425
0.34657039711191334
0.35018050541516244
0.35379061371841153
0.3574007220216607
0.36101083032490977
0.36462093862815886
0.36823104693140796
0.37184115523465705
0.37545126353790614
0.37906137184115524
0.38267148014440433
0.3862815884476534
0.3898916967509025
0.3935018050541516
0.3971119133574007
0.4007220216606498
0.4043321299638989
0.40794223826714804
0.41155234657039713
0.4151624548736462
0.4187725631768953
0.4223826714801444
0.4259927797833935
704843.MI.csv出现错误
716567.MI.csv出现错误
0.4368231046931408
0.4404332129963899
0.44404332129963897
0.44765342960288806
0.45126353790613716
0.4548736462093863
0.4584837545126354
0.4620938628158845
0.4657039711191336
0.4693140794223827
0.4729241877256318
0.47653429602888087
0.48014440433212996
0.48375451263537905
0.48736462093862815
0.49097472924187724
0.49458483754512633
0.4981949458483754
0.5018050541516246
0.5054151624548736
0.5090252707581228
0.5126353790613718
0.516245487364621
0.51985559566787
0.5234657039711191
0.5270758122743683
0.5306859205776173
0.5342960288808665
0.5379061371841155
0.5415162454873647
0.5451263537906137
0.5487364620938628
0.5523465703971119
0.555956678700361
0.5595667870036101
0.5631768953068592
0.5667870036101083
0.5703971119133574
0.5740072202166066
0.5776173285198556
0.5812274368231047
0.5848375451263538
0.5884476534296029
0.592057761732852
0.5956678700361011
0.5992779783393501
0.6028880866425993
0.6064981949458483
0.6101083032490975
0.6137184115523465
0.6173285198555957
0.6209386281588448
0.6245487364620939
0.628158844765343
0.631768953068592
0.6353790613718412
0.6389891696750902
0.6425992779783394
0.6462093862815884
0.6498194945848376
0.6534296028880866
0.6570397111913358
0.6606498194945848
0.6642599277978339
0.6678700361010831
0.6714801444043321
0.6750902527075813
0.6787003610108303
0.6823104693140795
0.6859205776173285
0.6895306859205776
0.6931407942238267
0.6967509025270758
0.7003610108303249
0.703971119133574
0.7075812274368231
0.7111913357400722
0.7148014440433214
0.7184115523465704
0.7220216606498195
0.7256317689530686
0.7292418772563177
0.7328519855595668
0.7364620938628159
0.740072202166065
0.7436823104693141
0.7472924187725631
0.7509025270758123
0.7545126353790613
0.7581227436823105
0.7617328519855595
0.7653429602888087
0.7689530685920578
0.7725631768953068
0.776173285198556
0.779783393501805
0.7833935018050542
0.7870036101083032
0.7906137184115524
0.7942238267148014
0.7978339350180506
0.8014440433212996
0.8050541516245487
0.8086642599277978
0.8122743682310469
0.8158844765342961
0.8194945848375451
0.8231046931407943
0.8267148014440433
0.8303249097472925
0.8339350180505415
0.8375451263537906
0.8411552346570397
0.8447653429602888
0.8483754512635379
0.851985559566787
0.855595667870036
0.8592057761732852
0.8628158844765343
0.8664259927797834
0.8700361010830325
0.8736462093862816
0.8772563176895307
0.8808664259927798
0.8844765342960289
0.8880866425992779
0.8916967509025271
0.8953068592057761
0.8989169675090253
0.9025270758122743
0.9061371841155235
0.9097472924187726
0.9133574007220217
0.9169675090252708
0.9205776173285198
0.924187725631769
0.927797833935018
0.9314079422382672
0.9350180505415162
0.9386281588447654
0.9422382671480144
0.9458483754512635
0.9494584837545126
0.9530685920577617
0.9566787003610109
0.9602888086642599
0.9638989169675091
0.9675090252707581
0.9711191335740073
0.9747292418772563
0.9783393501805054
0.9819494584837545
0.9855595667870036
0.9891696750902527
0.9927797833935018
0.9963898916967509
更新结束
更新开始
000001.SH.csv 更新完成
000009.SH.csv 更新完成
000063.SH.csv 更新完成000065.SH.csv 更新完成

000038.SH.csv 更新完成
000066.SH.csv 更新完成000016.SH.csv 更新完成

000018.SH.csv 更新完成
000037.SH.csv 更新完成000048.SH.csv 更新完成
000056.SH.csv 更新完成

000021.SH.csv 更新完成
000068.SH.csv 更新完成
000043.SH.csv 更新完成000029.SH.csv 更新完成

000010.SH.csv 更新完成
000015.SH.csv 更新完成
000044.SH.csv 更新完成
000688.SH.csv 更新完成000036.SH.csv 更新完成

000685.SH.csv 更新完成
000171.CSI.csv 更新完成
000042.SH.csv 更新完成
000069.SH.csv 更新完成000682.SH.csv 更新完成

000064.SH.csv 更新完成000300.SH.csv 更新完成

000807.CSI.csv 更新完成
000812.CSI.csv 更新完成
000819.SH.csv 更新完成
000814.SH.csv 更新完成000821.CSI.csv 更新完成
000689.SH.csv 更新完成
000811.CSI.csv 更新完成

000806.CSI.csv 更新完成
000813.CSI.csv 更新完成
000815.CSI.csv 更新完成
000860.CSI.csv 更新完成
000827.SH.csv 更新完成
000859.CSI.csv 更新完成
000852.SH.csv 更新完成
000905.SH.csv 更新完成
000901.SH.csv 更新完成000861.CSI.csv 更新完成000903.SH.csv 更新完成


000913.SH.csv 更新完成
000906.SH.csv 更新完成000919.CSI.csv 更新完成000914.SH.csv 更新完成


000918.CSI.csv 更新完成
000922.CSI.csv 更新完成
000933.SH.csv 更新完成000928.SH.csv 更新完成

000932.SH.csv 更新完成
000941.CSI.csv 更新完成
133333.MI.csv 出现错误: 'NoneType' object has no attribute 'loc'
000945.CSI.csv 更新完成
000934.SH.csv 更新完成
000948.CSI.csv 更新完成
000925.CSI.csv 更新完成
000977.CSI.csv 更新完成
000991.SH.csv 更新完成
000992.SH.csv 更新完成399005.SZ.csv 更新完成000987.SH.csv 更新完成399007.SZ.csv 更新完成
399006.SZ.csv 更新完成000982.SH.csv 更新完成000989.SH.csv 更新完成

000993.SH.csv 更新完成

399001.SZ.csv 更新完成

000986.SH.csv 更新完成
000949.CSI.csv 更新完成


399276.SZ.csv 更新完成
399088.SZ.csv 更新完成
399295.SZ.csv 更新完成
399285.SZ.csv 更新完成399008.SZ.csv 更新完成399293.SZ.csv 更新完成399291.SZ.csv 更新完成399012.SZ.csv 更新完成




399296.SZ.csv 更新完成
399324.SZ.csv 更新完成
399330.SZ.csv 更新完成
399377.SZ.csv 更新完成
399378.SZ.csv 更新完成
399303.SZ.csv 更新完成
399395.SZ.csv 更新完成
399348.SZ.csv 更新完成399344.SZ.csv 更新完成

399361.SZ.csv 更新完成
399326.SZ.csv 更新完成399362.SZ.csv 更新完成

399610.SZ.csv 更新完成
399441.SZ.csv 更新完成
399433.SZ.csv 更新完成399396.SZ.csv 更新完成

399673.SZ.csv 更新完成399624.SZ.csv 更新完成399438.SZ.csv 更新完成


399702.SZ.csv 更新完成399437.SZ.csv 更新完成
399550.SZ.csv 更新完成

399701.SZ.csv 更新完成
399967.SZ.csv 更新完成399812.SZ.csv 更新完成399975.SZ.csv 更新完成
399808.SZ.csv 更新完成


399971.SZ.csv 更新完成399973.SZ.csv 更新完成
399966.SZ.csv 更新完成399965.SZ.csv 更新完成


399814.SZ.csv 更新完成
399976.SZ.csv 更新完成
399987.SZ.csv 更新完成
704843.MI.csv 出现错误: 'NoneType' object has no attribute 'loc'
399986.SZ.csv 更新完成
399989.SZ.csv 更新完成
930598.CSI.csv 更新完成
399994.SZ.csv 更新完成930632.CSI.csv 更新完成

930648.CSI.csv 更新完成
930601.CSI.csv 更新完成
716567.MI.csv 出现错误: 'NoneType' object has no attribute 'loc'
930606.CSI.csv 更新完成
930651.CSI.csv 更新完成
930662.CSI.csv 更新完成
930633.CSI.csv 更新完成
399995.SZ.csv 更新完成
930652.CSI.csv 更新完成
930641.CSI.csv 更新完成
930614.CSI.csv 更新完成
930608.CSI.csv 更新完成
930653.CSI.csv 更新完成
930697.CSI.csv 更新完成
930707.CSI.csv 更新完成
399998.SZ.csv 更新完成
930625.CSI.csv 更新完成
930712.CSI.csv 更新完成
930713.CSI.csv 更新完成
930726.CSI.csv 更新完成
930725.CSI.csv 更新完成
930708.CSI.csv 更新完成930716.CSI.csv 更新完成

930850.CSI.csv 更新完成
930740.CSI.csv 更新完成930721.CSI.csv 更新完成

930781.CSI.csv 更新完成930851.CSI.csv 更新完成

930938.CSI.csv 更新完成930838.CSI.csv 更新完成

930955.CSI.csv 更新完成
930839.CSI.csv 更新完成
930782.CSI.csv 更新完成930901.CSI.csv 更新完成

930902.CSI.csv 更新完成
930758.CSI.csv 更新完成
930939.CSI.csv 更新完成
930743.CSI.csv 更新完成
930821.CSI.csv 更新完成
930965.CSI.csv 更新完成
930997.CSI.csv 更新完成
931000.CSI.csv 更新完成
930986.CSI.csv 更新完成
931009.CSI.csv 更新完成
931068.CSI.csv 更新完成
931087.CSI.csv 更新完成
931033.CSI.csv 更新完成
931066.CSI.csv 更新完成
931039.CSI.csv 更新完成931088.CSI.csv 更新完成
931159.CSI.csv 更新完成
931151.CSI.csv 更新完成
931140.CSI.csv 更新完成

931079.CSI.csv 更新完成
931152.CSI.csv 更新完成
931052.CSI.csv 更新完成
931141.CSI.csv 更新完成931071.CSI.csv 更新完成

931165.CSI.csv 更新完成
931187.CSI.csv 更新完成
931160.CSI.csv 更新完成
931163.CSI.csv 更新完成931186.CSI.csv 更新完成
931268.CSI.csv 更新完成931139.CSI.csv 更新完成
931380.CSI.csv 更新完成


931166.CSI.csv 更新完成
931372.CSI.csv 更新完成
931393.CSI.csv 更新完成931442.CSI.csv 更新完成931381.CSI.csv 更新完成
931447.CSI.csv 更新完成


931412.CSI.csv 更新完成
931402.CSI.csv 更新完成
931395.CSI.csv 更新完成931403.CSI.csv 更新完成
931468.CSI.csv 更新完成
931406.CSI.csv 更新完成

931409.CSI.csv 更新完成931461.CSI.csv 更新完成931404.CSI.csv 更新完成


931463.CSI.csv 更新完成
931469.CSI.csv 更新完成931494.CSI.csv 更新完成
931481.CSI.csv 更新完成

931521.CSI.csv 更新完成
931484.CSI.csv 更新完成
931480.CSI.csv 更新完成
931523.CSI.csv 更新完成
931470.CSI.csv 更新完成
931476.CSI.csv 更新完成
931495.CSI.csv 更新完成
931487.CSI.csv 更新完成
931554.CSI.csv 更新完成
931524.CSI.csv 更新完成
931526.CSI.csv 更新完成
931580.CSI.csv 更新完成
931575.CSI.csv 更新完成
931582.CSI.csv 更新完成931588.CSI.csv 更新完成931590.CSI.csv 更新完成


931587.CSI.csv 更新完成
931591.CSI.csv 更新完成
931643.CSI.csv 更新完成
931892.CSI.csv 更新完成
931992.CSI.csv 更新完成
931695.CSI.csv 更新完成
931733.CSI.csv 更新完成
931596.CSI.csv 更新完成
931775.CSI.csv 更新完成
931778.CSI.csv 更新完成
931755.CSI.csv 更新完成
931719.CSI.csv 更新完成931798.CSI.csv 更新完成
931663.CSI.csv 更新完成
931897.CSI.csv 更新完成

950096.CSI.csv 更新完成
932000.CSI.csv 更新完成980001.SZ.csv 更新完成950049.CSI.csv 更新完成


950105.CSI.csv 更新完成980017.SZ.csv 更新完成
980016.SZ.csv 更新完成
980028.SZ.csv 更新完成980015.SZ.csv 更新完成


980032.SZ.csv 更新完成
990001.CSI.csv 更新完成H11052.CSI.csv 更新完成H11054.CSI.csv 更新完成


CES300.CSI.csv 更新完成
H30089.CSI.csv 更新完成980030.SZ.csv 更新完成
H30007.CSI.csv 更新完成
H30022.CSI.csv 更新完成

GPCCH0.FS.csv 更新完成
H11059.CSI.csv 更新完成
H11057.CSI.csv 更新完成H20463.CSI.csv 更新完成

H30015.CSI.csv 更新完成
H30035.CSI.csv 更新完成
H30205.CSI.csv 更新完成
H30269.CSI.csv 更新完成H30184.CSI.csv 更新完成

H30202.CSI.csv 更新完成
H30171.CSI.csv 更新完成
H30199.CSI.csv 更新完成
H30178.CSI.csv 更新完成
H30257.CSI.csv 更新完成
H30455.CSI.csv 更新完成
H30217.CSI.csv 更新完成
H30352.CSI.csv 更新完成H30365.CSI.csv 更新完成

HSSSHID.HK.csv 更新完成
H30590.CSI.csv 更新完成
H30318.CSI.csv 更新完成
H30597.CSI.csv 更新完成
XIN9.FS.csv 更新完成
更新结束
更新开始
000001.SH.csv processed successfully.
000010.SH.csv processed successfully.
000015.SH.csv processed successfully.000009.SH.csv processed successfully.

000016.SH.csv processed successfully.
000018.SH.csv processed successfully.
000029.SH.csv processed successfully.
000021.SH.csv processed successfully.
000036.SH.csv processed successfully.
000037.SH.csv processed successfully.
000042.SH.csv processed successfully.000044.SH.csv processed successfully.

000043.SH.csv processed successfully.
000038.SH.csv processed successfully.
000063.SH.csv processed successfully.
000056.SH.csv processed successfully.
000048.SH.csv processed successfully.
000064.SH.csv processed successfully.
000065.SH.csv processed successfully.
000066.SH.csv processed successfully.
000068.SH.csv processed successfully.
000171.CSI.csv processed successfully.
000300.SH.csv processed successfully.
000069.SH.csv processed successfully.
000682.SH.csv processed successfully.
000685.SH.csv processed successfully.
000689.SH.csv processed successfully.
000688.SH.csv processed successfully.
000806.CSI.csv processed successfully.
000807.CSI.csv processed successfully.
000811.CSI.csv processed successfully.
000813.CSI.csv processed successfully.
000814.SH.csv processed successfully.
000812.CSI.csv processed successfully.
000815.CSI.csv processed successfully.
000819.SH.csv processed successfully.
000821.CSI.csv processed successfully.
000827.SH.csv processed successfully.
000852.SH.csv processed successfully.
000860.CSI.csv processed successfully.
000859.CSI.csv processed successfully.
000901.SH.csv processed successfully.
000861.CSI.csv processed successfully.
000903.SH.csv processed successfully.
000905.SH.csv processed successfully.
000913.SH.csv processed successfully.
000906.SH.csv processed successfully.
000914.SH.csv processed successfully.
000918.CSI.csv processed successfully.
000919.CSI.csv processed successfully.
000922.CSI.csv processed successfully.
000925.CSI.csv processed successfully.
000928.SH.csv processed successfully.
000932.SH.csv processed successfully.
000933.SH.csv processed successfully.
000934.SH.csv processed successfully.
000941.CSI.csv processed successfully.
000945.CSI.csv processed successfully.
000948.CSI.csv processed successfully.
000949.CSI.csv processed successfully.
000977.CSI.csv processed successfully.
000986.SH.csv processed successfully.
000982.SH.csv processed successfully.
000987.SH.csv processed successfully.
000989.SH.csv processed successfully.
000991.SH.csv processed successfully.
Error processing 133333.MI.csv: 'NoneType' object has no attribute 'loc'
000992.SH.csv processed successfully.
399001.SZ.csv processed successfully.
000993.SH.csv processed successfully.
399005.SZ.csv processed successfully.
399006.SZ.csv processed successfully.
399008.SZ.csv processed successfully.
399007.SZ.csv processed successfully.
399012.SZ.csv processed successfully.
399088.SZ.csv processed successfully.
399276.SZ.csv processed successfully.
399293.SZ.csv processed successfully.
399291.SZ.csv processed successfully.
399295.SZ.csv processed successfully.
399285.SZ.csv processed successfully.
399296.SZ.csv processed successfully.
399324.SZ.csv processed successfully.
399303.SZ.csv processed successfully.
399326.SZ.csv processed successfully.
399330.SZ.csv processed successfully.
399344.SZ.csv processed successfully.
399348.SZ.csv processed successfully.
399361.SZ.csv processed successfully.
399362.SZ.csv processed successfully.
399377.SZ.csv processed successfully.
399395.SZ.csv processed successfully.
399378.SZ.csv processed successfully.
399396.SZ.csv processed successfully.
399433.SZ.csv processed successfully.
399437.SZ.csv processed successfully.
399441.SZ.csv processed successfully.
399550.SZ.csv processed successfully.
399438.SZ.csv processed successfully.
399624.SZ.csv processed successfully.
399610.SZ.csv processed successfully.
399673.SZ.csv processed successfully.
399702.SZ.csv processed successfully.
399808.SZ.csv processed successfully.
399812.SZ.csv processed successfully.
399701.SZ.csv processed successfully.
399814.SZ.csv processed successfully.
399965.SZ.csv processed successfully.
399966.SZ.csv processed successfully.
399967.SZ.csv processed successfully.
399973.SZ.csv processed successfully.
399971.SZ.csv processed successfully.
399975.SZ.csv processed successfully.
399976.SZ.csv processed successfully.
399987.SZ.csv processed successfully.
399986.SZ.csv processed successfully.
399989.SZ.csv processed successfully.
399994.SZ.csv processed successfully.
399995.SZ.csv processed successfully.
Error processing 716567.MI.csv: 'NoneType' object has no attribute 'loc'
Error processing 704843.MI.csv: 'NoneType' object has no attribute 'loc'
399998.SZ.csv processed successfully.
930598.CSI.csv processed successfully.
930601.CSI.csv processed successfully.
930606.CSI.csv processed successfully.
930608.CSI.csv processed successfully.
930614.CSI.csv processed successfully.
930632.CSI.csv processed successfully.
930641.CSI.csv processed successfully.
930633.CSI.csv processed successfully.
930648.CSI.csv processed successfully.
930651.CSI.csv processed successfully.
930653.CSI.csv processed successfully.
930652.CSI.csv processed successfully.
930662.CSI.csv processed successfully.
930707.CSI.csv processed successfully.
930708.CSI.csv processed successfully.
930712.CSI.csv processed successfully.
930713.CSI.csv processed successfully.
930721.CSI.csv processed successfully.
930716.CSI.csv processed successfully.
930725.CSI.csv processed successfully.
930726.CSI.csv processed successfully.
930740.CSI.csv processed successfully.
930743.CSI.csv processed successfully.
930781.CSI.csv processed successfully.
930758.CSI.csv processed successfully.
930782.CSI.csv processed successfully.
930821.CSI.csv processed successfully.
930838.CSI.csv processed successfully.
930850.CSI.csv processed successfully.
930851.CSI.csv processed successfully.
930901.CSI.csv processed successfully.
930697.CSI.csv processed successfully.
930625.CSI.csv processed successfully.
930902.CSI.csv processed successfully.
930938.CSI.csv processed successfully.
930939.CSI.csv processed successfully.
930955.CSI.csv processed successfully.
930965.CSI.csv processed successfully.
930986.CSI.csv processed successfully.
930997.CSI.csv processed successfully.
931000.CSI.csv processed successfully.
931009.CSI.csv processed successfully.
931033.CSI.csv processed successfully.
931039.CSI.csv processed successfully.
931052.CSI.csv processed successfully.
931066.CSI.csv processed successfully.
931068.CSI.csv processed successfully.
931071.CSI.csv processed successfully.
931079.CSI.csv processed successfully.
931088.CSI.csv processed successfully.
931087.CSI.csv processed successfully.
931139.CSI.csv processed successfully.
931140.CSI.csv processed successfully.
931141.CSI.csv processed successfully.
931152.CSI.csv processed successfully.
931159.CSI.csv processed successfully.
931151.CSI.csv processed successfully.
931160.CSI.csv processed successfully.
931163.CSI.csv processed successfully.
931165.CSI.csv processed successfully.
931166.CSI.csv processed successfully.
931186.CSI.csv processed successfully.
931187.CSI.csv processed successfully.
931268.CSI.csv processed successfully.
931372.CSI.csv processed successfully.
931380.CSI.csv processed successfully.
931381.CSI.csv processed successfully.
931393.CSI.csv processed successfully.
931403.CSI.csv processed successfully.

 17%|█▋        | 1/6 [00:00<00:01,  3.01it/s]

000016.SH 数据更新成功。

 33%|███▎      | 2/6 [00:00<00:01,  3.07it/s]

000300.SH 数据更新成功。

 50%|█████     | 3/6 [00:01<00:01,  2.97it/s]

000852.SH 数据更新成功。

 67%|██████▋   | 4/6 [00:01<00:00,  3.19it/s]

000905.SH 数据更新成功。

 83%|████████▎ | 5/6 [00:01<00:00,  3.39it/s]

399006.SZ 数据更新成功。

100%|██████████| 6/6 [00:01<00:00,  3.28it/s]

399303.SZ 数据更新成功。
数据更新结束
更新开始

 17%|█▋        | 1/6 [00:01<00:05,  1.03s/it]

000016.SH 数据更新成功。

 33%|███▎      | 2/6 [00:02<00:04,  1.15s/it]

000300.SH 数据更新成功。

 50%|█████     | 3/6 [00:02<00:02,  1.05it/s]

000852.SH 数据更新成功。

 67%|██████▋   | 4/6 [00:03<00:01,  1.09it/s]

000905.SH 数据更新成功。

 83%|████████▎ | 5/6 [00:04<00:00,  1.10it/s]

399006.SZ 数据更新成功。

100%|██████████| 6/6 [00:05<00:00,  1.11it/s]

399303.SZ 数据更新成功。
数据更新结束
更新开始

更新结束
更新开始
0.0
更新结束
updating finished

In [ ]:
#海外数据第二天更新
def Update_Oversea_Data(End_Date):

    A50_Path=r'E:\数据库\另类数据\A50期货数据'

    DUD.Updating_A50_Futures_Data(End_Date,A50_Path)

    return print('海外数据更新完毕')

Update_Oversea_Data('2024-12-25')

更新开始
CN0Y.SG.csv出现错误
更新结束
海外数据更新完毕

In [ ]:
# -*- coding: utf-8 -*-
from iFinDPy import *
from datetime import datetime
import pandas as pd
import time as _time
import json
from threading import Thread,Lock,Semaphore
import requests
import numpy as np
from datetime import datetime
from numpy import nan as NA
import matplotlib.pyplot as plt
import math
from pandas.tseries.offsets import Day,MonthEnd
import os
from tqdm import tqdm  # 用于显示进度条
import concurrent.futures
from concurrent.futures import ThreadPoolExecutor


def thslogindemo():
    # 输入用户的帐号和密码
    thsLogin = THS_iFinDLogin("hwqh100","155d50")
    print(thsLogin)
    if thsLogin != 0:
        print('登录失败')
    else:
        print('登录成功')

thslogindemo()


class Downloading_And_Updating_Data():

    def __init__(self):

        self.A_Share_Trading_Hours= ["10:30", "11:30", "14:00", "15:00"]

        self.A_Share_Trading_15mins=["9:45", "10:00", "10:15", "10:30", 
                                    "10:45", "11:00", "11:15", "11:30",
                                     "13:15", "13:30", "13:45","14:00",
                                      "14:15", "14:30", "14:45", "15:00"]
    
    def Downloading_Market_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HQ(Code_List[i],'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_Market_Vol_Price_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_HQ(code,'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_All_Market_Vol_Data(self,End_Date, Data_Path_List):

        def Updating_Market_Vol_Price_Data(End_Date, Data_Path):
            os.chdir(Data_Path)  # 切换到数据路径

            List = os.listdir()  # 获取路径下所有文件
            Doc_Number = len(List)

            print("更新开始")

            def update_file(file_name):
                try:
                    file_path = os.path.join(Data_Path, file_name)
                    df = pd.read_csv(file_path, index_col=[0])
                    df.index = pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                        New_Begin_Date = (df.index[-1] + timedelta(days=1)).strftime("%Y-%m-%d")
                        code = file_name.replace('.csv', "")

                        # 获取新数据
                        new_data = THS_HQ(code, 'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital', '', New_Begin_Date, End_Date).data
                        new_data.index = pd.to_datetime(new_data["time"])  # 将时间列设为索引
                        new_data = new_data.drop(columns=["time", "thscode"])  # 删除无关列

                        Updated_Data = pd.concat([df, new_data], axis=0)  # 合并新旧数据
                        Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[1,0]
                        Updated_Data.to_csv(file_path)  # 保存更新后的数据
                        return f"{file_name} 更新成功"
                    else:
                        return f"{file_name} 数据更新至最新"
                except Exception as e:
                    return f"{file_name} 出现错误: {e}"

            with concurrent.futures.ThreadPoolExecutor() as executor:
                results = list(tqdm(executor.map(update_file, List), total=Doc_Number, desc="更新进度"))

            for result in results:
                print(result)

            print("更新结束")

        for data_path in Data_Path_List:
            try:
                Updating_Market_Vol_Price_Data(End_Date, data_path)
            except Exception as e:
                print(f"{data_path} 出现错误: {e}")

        return

    def Download_Index_Valuation_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_Valuation_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            Data=Data.set_index('time',drop=True)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_Valuation_Data(i,Begin_Date,End_Date)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_Valuation_Data(self,End_Date, Data_Path):
        def process_file(filename):
            try:
                df = pd.read_csv(os.path.join(Data_Path, filename), index_col=[0])
                df.index = pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                    New_Begin_Date = df.index[-1] + Day()
                    New_Begin_Date = New_Begin_Date.strftime("%Y-%m-%d")

                    code = filename.replace('.csv', "")
                    new_data = THS_DS(code, 'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index', '100,100;100,100;', 'block:history', New_Begin_Date, End_Date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    Updated_Data = pd.concat([df, new_data], axis=0)
                    Updated_Data.to_csv(os.path.join(Data_Path, filename))

                    print(f"{filename} processed successfully.")
                else:
                    print(f"{filename} is already up to date.")
            except Exception as e:
                print(f"Error processing {filename}: {e}")

        os.chdir(Data_Path)
        List = os.listdir()
        Doc_Number = len(List)

        print("更新开始")

        with ThreadPoolExecutor(max_workers=4) as executor:
            futures = [executor.submit(process_file, filename) for filename in List]
            for i, future in enumerate(futures):
                try:
                    future.result()  # Wait for thread to complete and handle exceptions
                except Exception as e:
                    print(f"Thread {i} generated an exception: {e}")

        print("更新结束")

        return


        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Free_Turn_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Free_Trun_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_free_turnover_ratio_index','','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Free_Trun_Data(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Updating_Index_Free_Turn_Data(self,end_date, data_path):
        """
        更新指定路径下的所有CSV文件中的数据，如果数据不是最新的，则从最新日期开始更新至指定的结束日期。
        
        :param end_date: 数据更新的截止日期，格式为'YYYY-MM-DD'
        :param data_path: 存放CSV文件的路径
        """
        def update_file(file_name):
            try:
                # 读取CSV文件
                df = pd.read_csv(os.path.join(data_path, file_name), index_col=[0])
                df.index = pd.to_datetime(df.index)

                # 检查数据是否已经是最新的
                if df.index[-1].strftime('%Y-%m-%d') != end_date:
                    # 计算新的开始日期
                    new_begin_date = (df.index[-1] + Day(1)).strftime("%Y-%m-%d")
                    code = file_name.replace('.csv', "")

                    # 获取新的数据
                    new_data = THS_DS(code, 'ths_free_turnover_ratio_index', '', 'block:history', new_begin_date, end_date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    # 合并旧数据和新数据
                    updated_data = pd.concat([df, new_data], axis=0)

                    # 保存更新后的数据
                    updated_data.to_csv(os.path.join(data_path, file_name))

                    print(f"{file_name} 更新完成")
                else:
                    print(f"{file_name} 数据已是最新")

            except Exception as e:
                print(f"{file_name} 出现错误: {e}")

        # 获取路径下所有文件的列表
        file_list = os.listdir(data_path)

        print("更新开始")

        # 使用线程池来并行处理文件
        with ThreadPoolExecutor() as executor:
            futures = [executor.submit(update_file, file_name) for file_name in file_list]

            for future in futures:
                future.result()  # 等待所有线程完成

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code
    
    def Download_Index_Forcast_2yr_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

            def Downloading_Forcast_2yr_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_fore_np_compound_growth_2y_index','','block:history',i,j).data

                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

            os.chdir(Export_Path)

            Error_Code=[]

            print("更新开始")
            
            for i in Code_List:

                try:
                    
                    Data=Downloading_Forcast_2yr_Data(i,Begin_Date,End_Date)

                    Data.index=Data.loc[:,"time"]

                    Data=Data.iloc[:,1:]

                    Data.to_csv(i+".csv")

                    print(i+"输出完成")

                except:

                    print(i+"出现错误")

                    Error_Code.append(i)
            
            return
    
    def Updating_Forcast_2yr_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_fore_np_compound_growth_2y_index','','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_EDB_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        for i in range(0,len(Code_List)):
        
            try:
                Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data.index=pd.to_datetime(Data.index)

                Data=Data.iloc[:,2:5]

                os.chdir(Export_Path)

                Data.to_csv(Code_List[i]+".csv")

                print('完成度: '+str(i/len(Code_List)))

            except:

                print(Code_List[i]+"出现错误")

        return

    def Update_EDB_Data(self,Data_Path,End_Date):

        def Download_EDB_Data(Code_List,Begin_Date,End_Date,Export_Path):

                for i in range(0,len(Code_List)):
                
                    try:
                        Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                        Data.index=Data.loc[:,"time"]

                        Data.index=pd.to_datetime(Data.index)

                        Data=Data.iloc[:,2:5]

                        os.chdir(Export_Path)

                        Data.to_csv(Code_List[i]+".csv")

                        print('完成度: '+str(i/len(Code_List)))

                    except:

                        print(Code_List[i]+"出现错误")

                return

        List=os.listdir(Data_Path)

        Code_List=[]

        for i in List:

            Code=i.replace(".csv","")

            Code_List.append(Code)

        Download_EDB_Data(Code_List,"2003-01-01",End_Date,Data_Path)

        return

    def Downloading_ETF_Option_PCR_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
    
        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_ETF_Option_PCR(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

            def generate_date_intervals(start_date, end_date):
                # 将输入的日期字符串转换为datetime对象
                start_date = datetime.strptime(start_date, "%Y-%m-%d")
                end_date = datetime.strptime(end_date, "%Y-%m-%d")

                # 初始化开始日期和结束日期的列表
                begin_date_list = []
                end_date_list = []

                temp_date = start_date
                while temp_date <= end_date:
                    # 将当前日期添加到开始日期列表
                    begin_date_list.append(temp_date.strftime("%Y-%m-%d"))

                    if temp_date.year == end_date.year:
                        # 如果是结束日期的年份，那么结束日期就是输入的结束日期
                        temp_end_date = end_date
                    else:
                        # 否则，结束日期是当前年份的12月31日
                        temp_end_date = datetime(temp_date.year, 12, 31)

                    # 将结束日期添加到结束日期列表
                    end_date_list.append(temp_end_date.strftime("%Y-%m-%d"))

                    # 将临时日期设置为下一年的1月1日
                    temp_date = datetime(temp_date.year + 1, 1, 1)

                return begin_date_list, end_date_list

            Begin_Date_List,End_Date_List=generate_date_intervals(Begin_Date,End_Date)

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                date=FY1+';'+FY1

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',i,j).data

                Data.append(DF)
            
            result=pd.concat(Data,axis=0)

            return result

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        # 使用tqdm包装Code_List
        for i in Code_List: 

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Update_Index_Forcast_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    Year=New_Begin_Date[:4]

                    FY1=int(Year)+1

                    FY1=str(FY1)

                    date=FY1+';'+FY1

                    new_data=THS_DS(code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_Mutal_Fund_Netvalue(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_accum_unit_nv_fund','','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data[['ths_accum_unit_nv_fund']]

                Data.columns=[Code_List[i]]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Downloading_F_Score_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path = Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0, len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',Begin_Date,End_Date).data   

                Data.index = Data.loc[:, "time"]

                Data = Data.iloc[:, 1:]

                Data.to_csv(Code_List[i] + ".csv")

                print(str(i / len(Code_List)))

            except:

                print(Code_List[i] + "出现错误")

        print("下载结束")

    def Update_F_Score_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',New_Begin_Date,End_Date).data  
                    
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("个股财务数据更新结束")
        
    def Downloading_Cov_Bond_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',Begin_Date,End_Date).data
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Update_Cov_Bond_Vol_Price_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',New_Begin_Date,End_Date).data
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("可转债数据更新结束")

        return

    def Downloading_A50_Futures_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',Begin_Date,End_Date).data

                Data=Data.set_index('time',drop=True)

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_A50_Futures_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=  THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date).data
                        
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_newHL_Data(self,Begin_Date, End_Date, Export_Path, Code='001005010'):
        
        Begin_Date = pd.to_datetime(Begin_Date)
        End_Date = pd.to_datetime(End_Date)
        
        Gap = (End_Date - Begin_Date) / 250
        Period = Gap.days
        
        Timeseries = pd.date_range(Begin_Date, End_Date, periods=Period)
        Timeseries_List = Timeseries.strftime("%Y-%m-%d").tolist()
        
        Begin_Date_List = Timeseries_List[:-1]
        End_Date_List = Timeseries_List[1:]
        
        Data = []
        
        # 使用 tqdm 来显示进度条
        for i, j in tqdm(zip(Begin_Date_List, End_Date_List), total=len(Begin_Date_List), desc="Downloading Data"):
            
            DF = THS_DS(Code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', i, j).data
            
            Data.append(DF)
        
        Data = pd.concat(Data, axis=0)
        Data = Data.set_index('time', drop=True)
        
        os.chdir(Export_Path)
        Data.to_csv(Code+'.csv')
        
        return Data
     
    def Updating_newHL_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0) 

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_High_Freq_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path,Interval=60):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HF(Code_List[i],'open;high;low;close;volume;amount','Fill:Original,Interval:'+str(Interval),Begin_Date,End_Date).data
                
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def get_next_trading_time_1h(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_Hours
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "10:30"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("10:30", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")

    def get_next_trading_time_15min(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_15mins
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "09:45"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("09:45", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")
        
    def Update_High_Freq_Vol_Price_Data(self, End_Date, Export_Path, Interval=60):
        """
        更新高频数据 (小时级别)，确保数据不重复下载，并且增量更新。
        
        :param End_Date: 数据更新的结束时间（字符串格式 'YYYY-MM-DD HH:MM'）
        :param Export_Path: 导出文件夹的路径
        :param Interval: 数据的时间间隔，默认是 60 分钟（1 小时）
        """
        
        os.chdir(Export_Path)  # 切换到数据存放的目录
        
        # 获取所有以 .csv 结尾的文件名，并去掉 .csv 后缀，生成股票代码列表
        Code_List = [f.replace('.csv', '') for f in os.listdir(Export_Path) if f.endswith('.csv')]
        
        print("更新开始")
        
        if Interval == 60:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_1h(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                    else:
                        df_combined = new_data
                    
                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')
                    
                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")
        
        if Interval == 15:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_15min(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                        df_combined = df_combined[~df_combined.index.duplicated(keep='last')]  # 去重并保留最新的数据
                    else:
                        df_combined = new_data

                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')

                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")

    def Downloading_ETF_Option_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
            # 期权code 上证50=510050 沪深300=510300 500ETF=510500 科创50ETF=588000 科创板50=588080

            Export_Path=Export_Path

            print("下载开始")

            for i in range(0,len(Code_List)):

                try:
                    code=Code_List[i]+'O'
                    sdate=Begin_Date.replace('-','')
                    edate=End_Date.replace('-','')
                    Data=THS_DR('p02872','qqbd='+code+';'+'sdate='+sdate+';'+'edate='+edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    
                    Data=Data.set_index('p02872_f001',drop=True)

                    Data=Data.sort_index()

                    Data.to_csv(Export_Path+'\\'+Code_List[i]+".csv")

                    print(str(i/len(Code_List)))
                
                except:

                    print(Code_List[i]+"出现错误")

            print("下载结束")

    def Updating_ETF_Option(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code_original = List[i].replace('.csv', "")
                    code=code_original+'O'
                    code=Code_List[i]+'O'

                    new_sdate=New_Begin_Date.replace('-','')
                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p02872','qqbd='+code+';'+'sdate='+new_sdate+';'+'edate='+new_edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    new_data=new_data.set_index('p02872_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_DDE_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_DDE_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',i,j).data
                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_DDE_Data(i,Begin_Date,End_Date)

                Data=Data.set_index('time',drop=True)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_DDE_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                    THS_DS('801017.SL','ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data
                    new_data=THS_DS(code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)
                    
                    Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[0,0]

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return
    
        
        def Updating_updown_Data(End_Date, Data_Path):

            Data_Path=Data_Path

            os.chdir(Data_Path)

            List=os.listdir()

            Doc_Number=len(List)

            print("更新开始")

            for i in range(0,Doc_Number):

                try:

                    df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                    df.index=pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                        New_Begin_Date=df.index[-1]+Day()

                        New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                        code = List[i].replace('.csv', "")

                        new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                        new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                        new_data=new_data.iloc[:,2:]

                        Updated_Data=pd.concat([df,new_data],axis=0)

                        Updated_Data.to_csv(List[i])

                        print(str(i/Doc_Number))

                    else:

                        print("数据更新至最新")

                except:

                    print(List[i]+"出现错误")

            print("更新结束")

            return

    def Updating_updown_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_Up_Down_Companies(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code= List[i].replace('.csv', "")

                    new_sdate=New_Begin_Date.replace('-','')

                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p00112','sdate='+new_sdate+';'+'edate='+new_edate+';p0='+code,'p00112_f001:Y,p00112_f002:Y,p00112_f003:Y,p00112_f004:Y,p00112_f005:Y,p00112_f006:Y,p00112_f007:Y,p00112_f008:Y,p00112_f009:Y,p00112_f010:Y,p00112_f011:Y,p00112_f012:Y,p00112_f013:Y,p00112_f014:Y,p00112_f021:Y,p00112_f022:Y,p00112_f023:Y,p00112_f024:Y,p00112_f025:Y',
                                    'format:dataframe').data
                    new_data=new_data.set_index('p00112_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return


DUD=Downloading_And_Updating_Data()



def Update_All(End_Date):

    Price_Data_Path_1=r"E:\数据库\同花顺指数量价数据"

    Price_Data_Path_2=r"E:\数据库\同花顺ETF跟踪指数量价数据\1d"

    Price_Data_Path_3=r'E:\数据库\同花顺ETF量价数据'

    Price_Data_Path_4=r'E:\数据库\同花顺商品指数量价数据'

    Path_List=[Price_Data_Path_1,Price_Data_Path_2,Price_Data_Path_3,Price_Data_Path_4]

    DUD.Updating_All_Market_Vol_Data(End_Date,Path_List)

    Forcast_Path=r"E:\数据库\同花顺ETF跟踪指数一致预期数据\预测净利润两年复合增长"

    DUD.Updating_Forcast_2yr_Data(End_Date,Forcast_Path)

    Free_Turn_Path=r"E:\数据库\同花顺指数自由流通换手率"

    DUD.Updating_Index_Free_Turn_Data(End_Date,Free_Turn_Path)

    Valuation_Path=r"E:\数据库\同花顺ETF跟踪指数估值数据"

    DUD.Updating_Index_Valuation_Data(End_Date,Valuation_Path)

    EDB_Data_Path=r"E:\数据库\同花顺EDB数据"

    DUD.Update_EDB_Data(EDB_Data_Path,End_Date)

    ETF_Option_Path=r"E:\数据库\另类数据\ETF期权数据"

    DUD.Updating_ETF_Option(End_Date,ETF_Option_Path)

    Forcast_Data_Path=r'E:\数据库\同花顺ETF跟踪指数一致预期数据\盈利预测综合值'

    DUD.Update_Index_Forcast_Data(End_Date,Forcast_Data_Path)

    Cov_Bond_Path=r'E:\数据库\同花顺可转债数据'

    DUD.Update_Cov_Bond_Vol_Price_Data(End_Date,Cov_Bond_Path)

    #新高新低
    H_L_Path=r'E:\数据库\另类数据\新高新低'

    DUD.Updating_newHL_Data(End_Date,H_L_Path)

    #高频数据更新

    Export_Path_60 = r'E:\数据库\同花顺ETF跟踪指数量价数据\1h' 

    Export_Path_15=r'E:\数据库\同花顺ETF跟踪指数量价数据\15min'

    HF_End_Date=End_Date+' 15:00'

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date, Export_Path_60,60)

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date,Export_Path_15,15)

    #公司上涨数量更新
    
    Up_Down_Company_Path=r'E:\数据库\另类数据\涨跌家数'

    DUD.Updating_Up_Down_Companies(End_Date,Up_Down_Company_Path)

    #涨停跌停数量

    up_path=r'E:\数据库\另类数据\涨停跌停'

    DUD.Updating_updown_Data(End_Date,up_path)


    return print('updating finished')

#海外数据第二天更新
def Update_Oversea_Data(End_Date):

    A50_Path=r'E:\数据库\另类数据\A50期货数据'

    DUD.Updating_A50_Futures_Data(End_Date,A50_Path)

    return print('海外数据更新完毕')

Update_Oversea_Data('2024-12-25')

# Update_All('2024-12-25')

0
登录成功
更新开始
CN0Y.SG.csv出现错误
更新结束
海外数据更新完毕

已重启 base (Python 3.9.7)

In [ ]:
# -*- coding: utf-8 -*-
from iFinDPy import *
from datetime import datetime
import pandas as pd
import time as _time
import json
from threading import Thread,Lock,Semaphore
import requests
import numpy as np
from datetime import datetime
from numpy import nan as NA
import matplotlib.pyplot as plt
import math
from pandas.tseries.offsets import Day,MonthEnd
import os
from tqdm import tqdm  # 用于显示进度条
import concurrent.futures
from concurrent.futures import ThreadPoolExecutor


def thslogindemo():
    # 输入用户的帐号和密码
    thsLogin = THS_iFinDLogin("hwqh100","155d50")
    print(thsLogin)
    if thsLogin != 0:
        print('登录失败')
    else:
        print('登录成功')

thslogindemo()


class Downloading_And_Updating_Data():

    def __init__(self):

        self.A_Share_Trading_Hours= ["10:30", "11:30", "14:00", "15:00"]

        self.A_Share_Trading_15mins=["9:45", "10:00", "10:15", "10:30", 
                                    "10:45", "11:00", "11:15", "11:30",
                                     "13:15", "13:30", "13:45","14:00",
                                      "14:15", "14:30", "14:45", "15:00"]
    
    def Downloading_Market_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HQ(Code_List[i],'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_Market_Vol_Price_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_HQ(code,'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_All_Market_Vol_Data(self,End_Date, Data_Path_List):

        def Updating_Market_Vol_Price_Data(End_Date, Data_Path):
            os.chdir(Data_Path)  # 切换到数据路径

            List = os.listdir()  # 获取路径下所有文件
            Doc_Number = len(List)

            print("更新开始")

            def update_file(file_name):
                try:
                    file_path = os.path.join(Data_Path, file_name)
                    df = pd.read_csv(file_path, index_col=[0])
                    df.index = pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                        New_Begin_Date = (df.index[-1] + timedelta(days=1)).strftime("%Y-%m-%d")
                        code = file_name.replace('.csv', "")

                        # 获取新数据
                        new_data = THS_HQ(code, 'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital', '', New_Begin_Date, End_Date).data
                        new_data.index = pd.to_datetime(new_data["time"])  # 将时间列设为索引
                        new_data = new_data.drop(columns=["time", "thscode"])  # 删除无关列

                        Updated_Data = pd.concat([df, new_data], axis=0)  # 合并新旧数据
                        Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[1,0]
                        Updated_Data.to_csv(file_path)  # 保存更新后的数据
                        return f"{file_name} 更新成功"
                    else:
                        return f"{file_name} 数据更新至最新"
                except Exception as e:
                    return f"{file_name} 出现错误: {e}"

            with concurrent.futures.ThreadPoolExecutor() as executor:
                results = list(tqdm(executor.map(update_file, List), total=Doc_Number, desc="更新进度"))

            for result in results:
                print(result)

            print("更新结束")

        for data_path in Data_Path_List:
            try:
                Updating_Market_Vol_Price_Data(End_Date, data_path)
            except Exception as e:
                print(f"{data_path} 出现错误: {e}")

        return

    def Download_Index_Valuation_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_Valuation_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            Data=Data.set_index('time',drop=True)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_Valuation_Data(i,Begin_Date,End_Date)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_Valuation_Data(self,End_Date, Data_Path):
        def process_file(filename):
            try:
                df = pd.read_csv(os.path.join(Data_Path, filename), index_col=[0])
                df.index = pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                    New_Begin_Date = df.index[-1] + Day()
                    New_Begin_Date = New_Begin_Date.strftime("%Y-%m-%d")

                    code = filename.replace('.csv', "")
                    new_data = THS_DS(code, 'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index', '100,100;100,100;', 'block:history', New_Begin_Date, End_Date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    Updated_Data = pd.concat([df, new_data], axis=0)
                    Updated_Data.to_csv(os.path.join(Data_Path, filename))

                    print(f"{filename} processed successfully.")
                else:
                    print(f"{filename} is already up to date.")
            except Exception as e:
                print(f"Error processing {filename}: {e}")

        os.chdir(Data_Path)
        List = os.listdir()
        Doc_Number = len(List)

        print("更新开始")

        with ThreadPoolExecutor(max_workers=4) as executor:
            futures = [executor.submit(process_file, filename) for filename in List]
            for i, future in enumerate(futures):
                try:
                    future.result()  # Wait for thread to complete and handle exceptions
                except Exception as e:
                    print(f"Thread {i} generated an exception: {e}")

        print("更新结束")

        return


        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Free_Turn_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Free_Trun_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_free_turnover_ratio_index','','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Free_Trun_Data(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Updating_Index_Free_Turn_Data(self,end_date, data_path):
        """
        更新指定路径下的所有CSV文件中的数据，如果数据不是最新的，则从最新日期开始更新至指定的结束日期。
        
        :param end_date: 数据更新的截止日期，格式为'YYYY-MM-DD'
        :param data_path: 存放CSV文件的路径
        """
        def update_file(file_name):
            try:
                # 读取CSV文件
                df = pd.read_csv(os.path.join(data_path, file_name), index_col=[0])
                df.index = pd.to_datetime(df.index)

                # 检查数据是否已经是最新的
                if df.index[-1].strftime('%Y-%m-%d') != end_date:
                    # 计算新的开始日期
                    new_begin_date = (df.index[-1] + Day(1)).strftime("%Y-%m-%d")
                    code = file_name.replace('.csv', "")

                    # 获取新的数据
                    new_data = THS_DS(code, 'ths_free_turnover_ratio_index', '', 'block:history', new_begin_date, end_date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    # 合并旧数据和新数据
                    updated_data = pd.concat([df, new_data], axis=0)

                    # 保存更新后的数据
                    updated_data.to_csv(os.path.join(data_path, file_name))

                    print(f"{file_name} 更新完成")
                else:
                    print(f"{file_name} 数据已是最新")

            except Exception as e:
                print(f"{file_name} 出现错误: {e}")

        # 获取路径下所有文件的列表
        file_list = os.listdir(data_path)

        print("更新开始")

        # 使用线程池来并行处理文件
        with ThreadPoolExecutor() as executor:
            futures = [executor.submit(update_file, file_name) for file_name in file_list]

            for future in futures:
                future.result()  # 等待所有线程完成

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code
    
    def Download_Index_Forcast_2yr_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

            def Downloading_Forcast_2yr_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_fore_np_compound_growth_2y_index','','block:history',i,j).data

                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

            os.chdir(Export_Path)

            Error_Code=[]

            print("更新开始")
            
            for i in Code_List:

                try:
                    
                    Data=Downloading_Forcast_2yr_Data(i,Begin_Date,End_Date)

                    Data.index=Data.loc[:,"time"]

                    Data=Data.iloc[:,1:]

                    Data.to_csv(i+".csv")

                    print(i+"输出完成")

                except:

                    print(i+"出现错误")

                    Error_Code.append(i)
            
            return
    
    def Updating_Forcast_2yr_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_fore_np_compound_growth_2y_index','','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_EDB_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        for i in range(0,len(Code_List)):
        
            try:
                Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data.index=pd.to_datetime(Data.index)

                Data=Data.iloc[:,2:5]

                os.chdir(Export_Path)

                Data.to_csv(Code_List[i]+".csv")

                print('完成度: '+str(i/len(Code_List)))

            except:

                print(Code_List[i]+"出现错误")

        return

    def Update_EDB_Data(self,Data_Path,End_Date):

        def Download_EDB_Data(Code_List,Begin_Date,End_Date,Export_Path):

                for i in range(0,len(Code_List)):
                
                    try:
                        Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                        Data.index=Data.loc[:,"time"]

                        Data.index=pd.to_datetime(Data.index)

                        Data=Data.iloc[:,2:5]

                        os.chdir(Export_Path)

                        Data.to_csv(Code_List[i]+".csv")

                        print('完成度: '+str(i/len(Code_List)))

                    except:

                        print(Code_List[i]+"出现错误")

                return

        List=os.listdir(Data_Path)

        Code_List=[]

        for i in List:

            Code=i.replace(".csv","")

            Code_List.append(Code)

        Download_EDB_Data(Code_List,"2003-01-01",End_Date,Data_Path)

        return

    def Downloading_ETF_Option_PCR_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
    
        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_ETF_Option_PCR(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

            def generate_date_intervals(start_date, end_date):
                # 将输入的日期字符串转换为datetime对象
                start_date = datetime.strptime(start_date, "%Y-%m-%d")
                end_date = datetime.strptime(end_date, "%Y-%m-%d")

                # 初始化开始日期和结束日期的列表
                begin_date_list = []
                end_date_list = []

                temp_date = start_date
                while temp_date <= end_date:
                    # 将当前日期添加到开始日期列表
                    begin_date_list.append(temp_date.strftime("%Y-%m-%d"))

                    if temp_date.year == end_date.year:
                        # 如果是结束日期的年份，那么结束日期就是输入的结束日期
                        temp_end_date = end_date
                    else:
                        # 否则，结束日期是当前年份的12月31日
                        temp_end_date = datetime(temp_date.year, 12, 31)

                    # 将结束日期添加到结束日期列表
                    end_date_list.append(temp_end_date.strftime("%Y-%m-%d"))

                    # 将临时日期设置为下一年的1月1日
                    temp_date = datetime(temp_date.year + 1, 1, 1)

                return begin_date_list, end_date_list

            Begin_Date_List,End_Date_List=generate_date_intervals(Begin_Date,End_Date)

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                date=FY1+';'+FY1

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',i,j).data

                Data.append(DF)
            
            result=pd.concat(Data,axis=0)

            return result

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        # 使用tqdm包装Code_List
        for i in Code_List: 

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Update_Index_Forcast_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    Year=New_Begin_Date[:4]

                    FY1=int(Year)+1

                    FY1=str(FY1)

                    date=FY1+';'+FY1

                    new_data=THS_DS(code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_Mutal_Fund_Netvalue(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_accum_unit_nv_fund','','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data[['ths_accum_unit_nv_fund']]

                Data.columns=[Code_List[i]]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Downloading_F_Score_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path = Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0, len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',Begin_Date,End_Date).data   

                Data.index = Data.loc[:, "time"]

                Data = Data.iloc[:, 1:]

                Data.to_csv(Code_List[i] + ".csv")

                print(str(i / len(Code_List)))

            except:

                print(Code_List[i] + "出现错误")

        print("下载结束")

    def Update_F_Score_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',New_Begin_Date,End_Date).data  
                    
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("个股财务数据更新结束")
        
    def Downloading_Cov_Bond_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',Begin_Date,End_Date).data
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Update_Cov_Bond_Vol_Price_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',New_Begin_Date,End_Date).data
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("可转债数据更新结束")

        return

    def Downloading_A50_Futures_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',Begin_Date,End_Date).data

                Data=Data.set_index('time',drop=True)

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_A50_Futures_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=  THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date).data
                        
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_newHL_Data(self,Begin_Date, End_Date, Export_Path, Code='001005010'):
        
        Begin_Date = pd.to_datetime(Begin_Date)
        End_Date = pd.to_datetime(End_Date)
        
        Gap = (End_Date - Begin_Date) / 250
        Period = Gap.days
        
        Timeseries = pd.date_range(Begin_Date, End_Date, periods=Period)
        Timeseries_List = Timeseries.strftime("%Y-%m-%d").tolist()
        
        Begin_Date_List = Timeseries_List[:-1]
        End_Date_List = Timeseries_List[1:]
        
        Data = []
        
        # 使用 tqdm 来显示进度条
        for i, j in tqdm(zip(Begin_Date_List, End_Date_List), total=len(Begin_Date_List), desc="Downloading Data"):
            
            DF = THS_DS(Code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', i, j).data
            
            Data.append(DF)
        
        Data = pd.concat(Data, axis=0)
        Data = Data.set_index('time', drop=True)
        
        os.chdir(Export_Path)
        Data.to_csv(Code+'.csv')
        
        return Data
     
    def Updating_newHL_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0) 

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_High_Freq_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path,Interval=60):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HF(Code_List[i],'open;high;low;close;volume;amount','Fill:Original,Interval:'+str(Interval),Begin_Date,End_Date).data
                
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def get_next_trading_time_1h(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_Hours
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "10:30"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("10:30", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")

    def get_next_trading_time_15min(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_15mins
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "09:45"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("09:45", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")
        
    def Update_High_Freq_Vol_Price_Data(self, End_Date, Export_Path, Interval=60):
        """
        更新高频数据 (小时级别)，确保数据不重复下载，并且增量更新。
        
        :param End_Date: 数据更新的结束时间（字符串格式 'YYYY-MM-DD HH:MM'）
        :param Export_Path: 导出文件夹的路径
        :param Interval: 数据的时间间隔，默认是 60 分钟（1 小时）
        """
        
        os.chdir(Export_Path)  # 切换到数据存放的目录
        
        # 获取所有以 .csv 结尾的文件名，并去掉 .csv 后缀，生成股票代码列表
        Code_List = [f.replace('.csv', '') for f in os.listdir(Export_Path) if f.endswith('.csv')]
        
        print("更新开始")
        
        if Interval == 60:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_1h(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                    else:
                        df_combined = new_data
                    
                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')
                    
                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")
        
        if Interval == 15:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_15min(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                        df_combined = df_combined[~df_combined.index.duplicated(keep='last')]  # 去重并保留最新的数据
                    else:
                        df_combined = new_data

                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')

                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")

    def Downloading_ETF_Option_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
            # 期权code 上证50=510050 沪深300=510300 500ETF=510500 科创50ETF=588000 科创板50=588080

            Export_Path=Export_Path

            print("下载开始")

            for i in range(0,len(Code_List)):

                try:
                    code=Code_List[i]+'O'
                    sdate=Begin_Date.replace('-','')
                    edate=End_Date.replace('-','')
                    Data=THS_DR('p02872','qqbd='+code+';'+'sdate='+sdate+';'+'edate='+edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    
                    Data=Data.set_index('p02872_f001',drop=True)

                    Data=Data.sort_index()

                    Data.to_csv(Export_Path+'\\'+Code_List[i]+".csv")

                    print(str(i/len(Code_List)))
                
                except:

                    print(Code_List[i]+"出现错误")

            print("下载结束")

    def Updating_ETF_Option(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code_original = List[i].replace('.csv', "")
                    code=code_original+'O'
                    code=Code_List[i]+'O'

                    new_sdate=New_Begin_Date.replace('-','')
                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p02872','qqbd='+code+';'+'sdate='+new_sdate+';'+'edate='+new_edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    new_data=new_data.set_index('p02872_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_DDE_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_DDE_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',i,j).data
                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_DDE_Data(i,Begin_Date,End_Date)

                Data=Data.set_index('time',drop=True)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_DDE_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                    THS_DS('801017.SL','ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data
                    new_data=THS_DS(code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)
                    
                    Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[0,0]

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return
    
        
        def Updating_updown_Data(End_Date, Data_Path):

            Data_Path=Data_Path

            os.chdir(Data_Path)

            List=os.listdir()

            Doc_Number=len(List)

            print("更新开始")

            for i in range(0,Doc_Number):

                try:

                    df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                    df.index=pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                        New_Begin_Date=df.index[-1]+Day()

                        New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                        code = List[i].replace('.csv', "")

                        new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                        new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                        new_data=new_data.iloc[:,2:]

                        Updated_Data=pd.concat([df,new_data],axis=0)

                        Updated_Data.to_csv(List[i])

                        print(str(i/Doc_Number))

                    else:

                        print("数据更新至最新")

                except:

                    print(List[i]+"出现错误")

            print("更新结束")

            return

    def Updating_updown_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_Up_Down_Companies(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code= List[i].replace('.csv', "")

                    new_sdate=New_Begin_Date.replace('-','')

                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p00112','sdate='+new_sdate+';'+'edate='+new_edate+';p0='+code,'p00112_f001:Y,p00112_f002:Y,p00112_f003:Y,p00112_f004:Y,p00112_f005:Y,p00112_f006:Y,p00112_f007:Y,p00112_f008:Y,p00112_f009:Y,p00112_f010:Y,p00112_f011:Y,p00112_f012:Y,p00112_f013:Y,p00112_f014:Y,p00112_f021:Y,p00112_f022:Y,p00112_f023:Y,p00112_f024:Y,p00112_f025:Y',
                                    'format:dataframe').data
                    new_data=new_data.set_index('p00112_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return


DUD=Downloading_And_Updating_Data()



def Update_All(End_Date):

    Price_Data_Path_1=r"E:\数据库\同花顺指数量价数据"

    Price_Data_Path_2=r"E:\数据库\同花顺ETF跟踪指数量价数据\1d"

    Price_Data_Path_3=r'E:\数据库\同花顺ETF量价数据'

    Price_Data_Path_4=r'E:\数据库\同花顺商品指数量价数据'

    Path_List=[Price_Data_Path_1,Price_Data_Path_2,Price_Data_Path_3,Price_Data_Path_4]

    DUD.Updating_All_Market_Vol_Data(End_Date,Path_List)

    Forcast_Path=r"E:\数据库\同花顺ETF跟踪指数一致预期数据\预测净利润两年复合增长"

    DUD.Updating_Forcast_2yr_Data(End_Date,Forcast_Path)

    Free_Turn_Path=r"E:\数据库\同花顺指数自由流通换手率"

    DUD.Updating_Index_Free_Turn_Data(End_Date,Free_Turn_Path)

    Valuation_Path=r"E:\数据库\同花顺ETF跟踪指数估值数据"

    DUD.Updating_Index_Valuation_Data(End_Date,Valuation_Path)

    EDB_Data_Path=r"E:\数据库\同花顺EDB数据"

    DUD.Update_EDB_Data(EDB_Data_Path,End_Date)

    ETF_Option_Path=r"E:\数据库\另类数据\ETF期权数据"

    DUD.Updating_ETF_Option(End_Date,ETF_Option_Path)

    Forcast_Data_Path=r'E:\数据库\同花顺ETF跟踪指数一致预期数据\盈利预测综合值'

    DUD.Update_Index_Forcast_Data(End_Date,Forcast_Data_Path)

    Cov_Bond_Path=r'E:\数据库\同花顺可转债数据'

    DUD.Update_Cov_Bond_Vol_Price_Data(End_Date,Cov_Bond_Path)

    #新高新低
    H_L_Path=r'E:\数据库\另类数据\新高新低'

    DUD.Updating_newHL_Data(End_Date,H_L_Path)

    #高频数据更新

    Export_Path_60 = r'E:\数据库\同花顺ETF跟踪指数量价数据\1h' 

    Export_Path_15=r'E:\数据库\同花顺ETF跟踪指数量价数据\15min'

    HF_End_Date=End_Date+' 15:00'

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date, Export_Path_60,60)

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date,Export_Path_15,15)

    #公司上涨数量更新
    
    Up_Down_Company_Path=r'E:\数据库\另类数据\涨跌家数'

    DUD.Updating_Up_Down_Companies(End_Date,Up_Down_Company_Path)

    #涨停跌停数量

    up_path=r'E:\数据库\另类数据\涨停跌停'

    DUD.Updating_updown_Data(End_Date,up_path)


    return print('updating finished')

#海外数据第二天更新
def Update_Oversea_Data(End_Date):

    A50_Path=r'E:\数据库\另类数据\A50期货数据'

    DUD.Updating_A50_Futures_Data(End_Date,A50_Path)

    return print('海外数据更新完毕')

Update_Oversea_Data('2024-12-25')

# Update_All('2024-12-25')

d:\Anaconda3\Lib\site-packages\iFinDPy.pth
0
登录成功
更新开始
CN0Y.SG.csv出现错误
更新结束
海外数据更新完毕

In [ ]:
    A50_Path=r'E:\数据库\另类数据\A50期货数据'

In [ ]:
Data_Path=A50_Path

In [ ]:

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

In [ ]:
List

['CN0Y.SG.csv']

In [ ]:
i=0

In [ ]:
                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

In [ ]:
df

,thscode,ths_open_price_future,ths_high_price_future,ths_low_future,ths_close_price_future,ths_basis_trading_rate_future
time,,,,,,
2016-10-28,CN0Y.SG,9915.0,9917.5,9885.0,9890.0,-0.195248
2016-10-31,CN0Y.SG,9867.5,9880.0,9850.0,9855.0,-0.031050
2016-11-01,CN0Y.SG,9917.5,9940.0,9882.5,9882.5,0.294561
2016-11-02,CN0Y.SG,9840.0,9852.5,9830.0,9842.5,-0.149454
2016-11-03,CN0Y.SG,9930.0,9950.0,9915.0,9915.0,0.235804
...,...,...,...,...,...,...
2024-12-18,CN0Y.SG,13408.0,13557.0,13390.0,13488.0,-0.124703
2024-12-19,CN0Y.SG,13476.0,13486.0,13325.0,13409.0,0.049966
2024-12-20,CN0Y.SG,13409.0,13426.0,13235.0,13289.0,0.034239
2024-12-23,CN0Y.SG,13282.0,13524.0,13247.0,13419.0,-0.036590
2024-12-24,CN0Y.SG,13426.0,13624.0,13394.0,13595.0,0.005443

In [ ]:
End_Date='2024-12-25'

In [ ]:
                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=  THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date).data

AttributeError: 'str' object has no attribute 'strftime'

In [ ]:
                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

In [ ]:
df

,thscode,ths_open_price_future,ths_high_price_future,ths_low_future,ths_close_price_future,ths_basis_trading_rate_future
time,,,,,,
2016-10-28,CN0Y.SG,9915.0,9917.5,9885.0,9890.0,-0.195248
2016-10-31,CN0Y.SG,9867.5,9880.0,9850.0,9855.0,-0.031050
2016-11-01,CN0Y.SG,9917.5,9940.0,9882.5,9882.5,0.294561
2016-11-02,CN0Y.SG,9840.0,9852.5,9830.0,9842.5,-0.149454
2016-11-03,CN0Y.SG,9930.0,9950.0,9915.0,9915.0,0.235804
...,...,...,...,...,...,...
2024-12-18,CN0Y.SG,13408.0,13557.0,13390.0,13488.0,-0.124703
2024-12-19,CN0Y.SG,13476.0,13486.0,13325.0,13409.0,0.049966
2024-12-20,CN0Y.SG,13409.0,13426.0,13235.0,13289.0,0.034239
2024-12-23,CN0Y.SG,13282.0,13524.0,13247.0,13419.0,-0.036590
2024-12-24,CN0Y.SG,13426.0,13624.0,13394.0,13595.0,0.005443

In [ ]:
                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

IndentationError: expected an indented block (<ipython-input-13-2a4650f39dd8>, line 1)

In [ ]:
                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strtime("%Y-%m-%d")

AttributeError: 'Timestamp' object has no attribute 'strtime'

In [ ]:
End_Date'2024-12-25

SyntaxError: EOL while scanning string literal (<ipython-input-15-6728e4e49f3b>, line 1)

In [ ]:
End_Date='2024-12-25'

In [ ]:
                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strtime("%Y-%m-%d")

AttributeError: 'Timestamp' object has no attribute 'strtime'

In [ ]:
                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

In [ ]:
New_Begin_Date

'2024-12-25'

In [ ]:

                    code = List[i].replace('.csv', "")

                    new_data=  THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date).data

In [ ]:
new_data

Empty DataFrame
Columns: []
Index: []

In [ ]:
THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date)

errorcode=0
errmsg=
data=Empty DataFrame
Columns: []
Index: []

In [ ]:
THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','','2024-12-23',End_Date)

errorcode=0
errmsg=
data=         time  thscode  ths_open_price_future  ths_high_price_future  \
0  2024-12-23  CN0Y.SG                13282.0                13524.0
1  2024-12-24  CN0Y.SG                13426.0                13624.0

   ths_low_future  ths_close_price_future  ths_basis_trading_rate_future
0         13247.0                 13419.0                      -0.036590
1         13394.0                 13595.0                       0.005443

已连接到 base (Python 3.9.7)

In [ ]:
# -*- coding: utf-8 -*-
from iFinDPy import *
from datetime import datetime
import pandas as pd
import time as _time
import json
from threading import Thread,Lock,Semaphore
import requests
import numpy as np
from datetime import datetime
from numpy import nan as NA
import matplotlib.pyplot as plt
import math
from pandas.tseries.offsets import Day,MonthEnd
import os
from tqdm import tqdm  # 用于显示进度条
import concurrent.futures
from concurrent.futures import ThreadPoolExecutor


def thslogindemo():
    # 输入用户的帐号和密码
    thsLogin = THS_iFinDLogin("hwqh100","155d50")
    print(thsLogin)
    if thsLogin != 0:
        print('登录失败')
    else:
        print('登录成功')

thslogindemo()


class Downloading_And_Updating_Data():

    def __init__(self):

        self.A_Share_Trading_Hours= ["10:30", "11:30", "14:00", "15:00"]

        self.A_Share_Trading_15mins=["9:45", "10:00", "10:15", "10:30", 
                                    "10:45", "11:00", "11:15", "11:30",
                                     "13:15", "13:30", "13:45","14:00",
                                      "14:15", "14:30", "14:45", "15:00"]
    
    def Downloading_Market_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HQ(Code_List[i],'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_Market_Vol_Price_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_HQ(code,'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_All_Market_Vol_Data(self,End_Date, Data_Path_List):

        def Updating_Market_Vol_Price_Data(End_Date, Data_Path):
            os.chdir(Data_Path)  # 切换到数据路径

            List = os.listdir()  # 获取路径下所有文件
            Doc_Number = len(List)

            print("更新开始")

            def update_file(file_name):
                try:
                    file_path = os.path.join(Data_Path, file_name)
                    df = pd.read_csv(file_path, index_col=[0])
                    df.index = pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                        New_Begin_Date = (df.index[-1] + timedelta(days=1)).strftime("%Y-%m-%d")
                        code = file_name.replace('.csv', "")

                        # 获取新数据
                        new_data = THS_HQ(code, 'open,high,low,close,volume,amount,turnoverRatio,totalCapital,floatCapital', '', New_Begin_Date, End_Date).data
                        new_data.index = pd.to_datetime(new_data["time"])  # 将时间列设为索引
                        new_data = new_data.drop(columns=["time", "thscode"])  # 删除无关列

                        Updated_Data = pd.concat([df, new_data], axis=0)  # 合并新旧数据
                        Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[1,0]
                        Updated_Data.to_csv(file_path)  # 保存更新后的数据
                        return f"{file_name} 更新成功"
                    else:
                        return f"{file_name} 数据更新至最新"
                except Exception as e:
                    return f"{file_name} 出现错误: {e}"

            with concurrent.futures.ThreadPoolExecutor() as executor:
                results = list(tqdm(executor.map(update_file, List), total=Doc_Number, desc="更新进度"))

            for result in results:
                print(result)

            print("更新结束")

        for data_path in Data_Path_List:
            try:
                Updating_Market_Vol_Price_Data(End_Date, data_path)
            except Exception as e:
                print(f"{data_path} 出现错误: {e}")

        return

    def Download_Index_Valuation_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_Valuation_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            Data=Data.set_index('time',drop=True)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_Valuation_Data(i,Begin_Date,End_Date)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_Valuation_Data(self,End_Date, Data_Path):
        def process_file(filename):
            try:
                df = pd.read_csv(os.path.join(Data_Path, filename), index_col=[0])
                df.index = pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d') != End_Date:
                    New_Begin_Date = df.index[-1] + Day()
                    New_Begin_Date = New_Begin_Date.strftime("%Y-%m-%d")

                    code = filename.replace('.csv', "")
                    new_data = THS_DS(code, 'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index', '100,100;100,100;', 'block:history', New_Begin_Date, End_Date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    Updated_Data = pd.concat([df, new_data], axis=0)
                    Updated_Data.to_csv(os.path.join(Data_Path, filename))

                    print(f"{filename} processed successfully.")
                else:
                    print(f"{filename} is already up to date.")
            except Exception as e:
                print(f"Error processing {filename}: {e}")

        os.chdir(Data_Path)
        List = os.listdir()
        Doc_Number = len(List)

        print("更新开始")

        with ThreadPoolExecutor(max_workers=4) as executor:
            futures = [executor.submit(process_file, filename) for filename in List]
            for i, future in enumerate(futures):
                try:
                    future.result()  # Wait for thread to complete and handle exceptions
                except Exception as e:
                    print(f"Thread {i} generated an exception: {e}")

        print("更新结束")

        return


        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_pe_ttm_index;ths_pb_index;ths_dividend_rate_index','100,100;100,100;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Free_Turn_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Free_Trun_Data(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                DF=THS_DS(Code,'ths_free_turnover_ratio_index','','block:history',i,j).data

                Data.append(DF)
            
            Data=pd.concat(Data,axis=0)

            return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Free_Trun_Data(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Updating_Index_Free_Turn_Data(self,end_date, data_path):
        """
        更新指定路径下的所有CSV文件中的数据，如果数据不是最新的，则从最新日期开始更新至指定的结束日期。
        
        :param end_date: 数据更新的截止日期，格式为'YYYY-MM-DD'
        :param data_path: 存放CSV文件的路径
        """
        def update_file(file_name):
            try:
                # 读取CSV文件
                df = pd.read_csv(os.path.join(data_path, file_name), index_col=[0])
                df.index = pd.to_datetime(df.index)

                # 检查数据是否已经是最新的
                if df.index[-1].strftime('%Y-%m-%d') != end_date:
                    # 计算新的开始日期
                    new_begin_date = (df.index[-1] + Day(1)).strftime("%Y-%m-%d")
                    code = file_name.replace('.csv', "")

                    # 获取新的数据
                    new_data = THS_DS(code, 'ths_free_turnover_ratio_index', '', 'block:history', new_begin_date, end_date).data
                    new_data.index = pd.to_datetime(new_data.loc[:, "time"])
                    new_data = new_data.iloc[:, 2:]

                    # 合并旧数据和新数据
                    updated_data = pd.concat([df, new_data], axis=0)

                    # 保存更新后的数据
                    updated_data.to_csv(os.path.join(data_path, file_name))

                    print(f"{file_name} 更新完成")
                else:
                    print(f"{file_name} 数据已是最新")

            except Exception as e:
                print(f"{file_name} 出现错误: {e}")

        # 获取路径下所有文件的列表
        file_list = os.listdir(data_path)

        print("更新开始")

        # 使用线程池来并行处理文件
        with ThreadPoolExecutor() as executor:
            futures = [executor.submit(update_file, file_name) for file_name in file_list]

            for future in futures:
                future.result()  # 等待所有线程完成

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

        #日期循环
            Begin_Date=Begin_Date

            Begin_Date=pd.to_datetime(Begin_Date)

            End_Date=End_Date

            End_Date=pd.to_datetime(End_Date)

            Gap=(End_Date-Begin_Date)/250

            Period=Gap.days

            Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

            Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

            Begin_Date_List=Timeseries_List[:-1]

            End_Date_List=Timeseries_List[1:]

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                FY2=int(Year)+2

                FY2=str(FY2)

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_np_index',Year,'block:history',i,j).data
                
                DF_FY1=THS_DS(Code,'ths_fore_np_index',FY1,'block:history',i,j).data

                DF_FY1=DF_FY1[["ths_fore_np_index"]]

                DF_FY2=THS_DS(Code,'ths_fore_np_index',FY2,'block:history',i,j).data

                DF_FY2=DF_FY2[["ths_fore_np_index"]]
                
                #财报数据下载

                DF_FY0=THS_DS(Code,'ths_np_index','','block:history',i,j).data

                DF_FY0=DF_FY0[["ths_np_index"]]

                Total=pd.concat([DF,DF_FY1,DF_FY2,DF_FY0],axis=1)

                Total.columns=["time","thscode","fore_np_FY0","fore_np_FY1","fore_np_FY2","np_index"]

                Data.append(Total)
            
            Data=pd.concat(Data,axis=0)

            return Data

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code
    
    def Download_Index_Forcast_2yr_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

            def Downloading_Forcast_2yr_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_fore_np_compound_growth_2y_index','','block:history',i,j).data

                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

            os.chdir(Export_Path)

            Error_Code=[]

            print("更新开始")
            
            for i in Code_List:

                try:
                    
                    Data=Downloading_Forcast_2yr_Data(i,Begin_Date,End_Date)

                    Data.index=Data.loc[:,"time"]

                    Data=Data.iloc[:,1:]

                    Data.to_csv(i+".csv")

                    print(i+"输出完成")

                except:

                    print(i+"出现错误")

                    Error_Code.append(i)
            
            return
    
    def Updating_Forcast_2yr_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_fore_np_compound_growth_2y_index','','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_EDB_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        for i in range(0,len(Code_List)):
        
            try:
                Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data.index=pd.to_datetime(Data.index)

                Data=Data.iloc[:,2:5]

                os.chdir(Export_Path)

                Data.to_csv(Code_List[i]+".csv")

                print('完成度: '+str(i/len(Code_List)))

            except:

                print(Code_List[i]+"出现错误")

        return

    def Update_EDB_Data(self,Data_Path,End_Date):

        def Download_EDB_Data(Code_List,Begin_Date,End_Date,Export_Path):

                for i in range(0,len(Code_List)):
                
                    try:
                        Data=THS_EDB(Code_List[i],'',Begin_Date,End_Date).data

                        Data.index=Data.loc[:,"time"]

                        Data.index=pd.to_datetime(Data.index)

                        Data=Data.iloc[:,2:5]

                        os.chdir(Export_Path)

                        Data.to_csv(Code_List[i]+".csv")

                        print('完成度: '+str(i/len(Code_List)))

                    except:

                        print(Code_List[i]+"出现错误")

                return

        List=os.listdir(Data_Path)

        Code_List=[]

        for i in List:

            Code=i.replace(".csv","")

            Code_List.append(Code)

        Download_EDB_Data(Code_List,"2003-01-01",End_Date,Data_Path)

        return

    def Downloading_ETF_Option_PCR_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
    
        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_ETF_Option_PCR(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data= THS_DS(code,'ths_option_total_volume_pcr_option;ths_option_total_oi_pcr_option;ths_option_total_amount_pcr_option',';;','',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_Forcast_Neteprofit(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Forcast_Neteprofit(Code,Begin_Date,End_Date):

            def generate_date_intervals(start_date, end_date):
                # 将输入的日期字符串转换为datetime对象
                start_date = datetime.strptime(start_date, "%Y-%m-%d")
                end_date = datetime.strptime(end_date, "%Y-%m-%d")

                # 初始化开始日期和结束日期的列表
                begin_date_list = []
                end_date_list = []

                temp_date = start_date
                while temp_date <= end_date:
                    # 将当前日期添加到开始日期列表
                    begin_date_list.append(temp_date.strftime("%Y-%m-%d"))

                    if temp_date.year == end_date.year:
                        # 如果是结束日期的年份，那么结束日期就是输入的结束日期
                        temp_end_date = end_date
                    else:
                        # 否则，结束日期是当前年份的12月31日
                        temp_end_date = datetime(temp_date.year, 12, 31)

                    # 将结束日期添加到结束日期列表
                    end_date_list.append(temp_end_date.strftime("%Y-%m-%d"))

                    # 将临时日期设置为下一年的1月1日
                    temp_date = datetime(temp_date.year + 1, 1, 1)

                return begin_date_list, end_date_list

            Begin_Date_List,End_Date_List=generate_date_intervals(Begin_Date,End_Date)

            Data=[]

        #日期循环下载数据

            for i,j in zip(Begin_Date_List,End_Date_List):
                
                Year=i[:4]

                FY1=int(Year)+1

                FY1=str(FY1)

                date=FY1+';'+FY1

                #一致预期数据下载
                DF=THS_DS(Code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',i,j).data

                Data.append(DF)
            
            result=pd.concat(Data,axis=0)

            return result

        #code list循环下载
        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        # 使用tqdm包装Code_List
        for i in Code_List: 

            try:
                
                Data=Downloading_Forcast_Neteprofit(i,Begin_Date,End_Date)

                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(i+".csv")

                print(i+"输出完成")

        #将出现错误的Code编成list
            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return Error_Code

    def Update_Index_Forcast_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    Year=New_Begin_Date[:4]

                    FY1=int(Year)+1

                    FY1=str(FY1)

                    date=FY1+';'+FY1

                    new_data=THS_DS(code,'ths_fore_eps_index;ths_fore_roe_mean_index',date,'block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_Mutal_Fund_Netvalue(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_accum_unit_nv_fund','','',Begin_Date,End_Date).data

                Data.index=Data.loc[:,"time"]

                Data=Data[['ths_accum_unit_nv_fund']]

                Data.columns=[Code_List[i]]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Downloading_F_Score_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path = Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0, len(Code_List)):

            try:
                Data=THS_DS(Code_List[i],'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',Begin_Date,End_Date).data   

                Data.index = Data.loc[:, "time"]

                Data = Data.iloc[:, 1:]

                Data.to_csv(Code_List[i] + ".csv")

                print(str(i / len(Code_List)))

            except:

                print(Code_List[i] + "出现错误")

        print("下载结束")

    def Update_F_Score_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_np_atoopc_pit_stock;ths_total_assets_pit_stock;ths_ncf_from_oa_pit_stock;ths_total_liab_pit_stock;ths_total_current_assets_pit_stock;ths_total_current_liab_pit_stock;ths_total_shares_stock;ths_operating_total_revenue_stock;ths_gross_selling_rate_stock','0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;0@103,1;;100;','',New_Begin_Date,End_Date).data  
                    
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("个股财务数据更新结束")
        
    def Downloading_Cov_Bond_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',Begin_Date,End_Date).data
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Update_Cov_Bond_Vol_Price_Data(self,End_Date,Data_Path):

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                            
                    new_data=THS_DS(code,'ths_open_price_bond;ths_high_price_bond;ths_low_bond;ths_close_daily_settle_bond;ths_vol_yz_bond;ths_trans_amt_bond','103;103;103;103;100;','',New_Begin_Date,End_Date).data
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("可转债数据更新结束")

        return

    def Downloading_A50_Futures_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_DS(Code_List[i],'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',Begin_Date,End_Date).data

                Data=Data.set_index('time',drop=True)

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def Updating_A50_Futures_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=  THS_DS(code,'ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_basis_trading_rate_future',';;;;','',New_Begin_Date,End_Date).data
                        
                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,1:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_newHL_Data(self,Begin_Date, End_Date, Export_Path, Code='001005010'):
        
        Begin_Date = pd.to_datetime(Begin_Date)
        End_Date = pd.to_datetime(End_Date)
        
        Gap = (End_Date - Begin_Date) / 250
        Period = Gap.days
        
        Timeseries = pd.date_range(Begin_Date, End_Date, periods=Period)
        Timeseries_List = Timeseries.strftime("%Y-%m-%d").tolist()
        
        Begin_Date_List = Timeseries_List[:-1]
        End_Date_List = Timeseries_List[1:]
        
        Data = []
        
        # 使用 tqdm 来显示进度条
        for i, j in tqdm(zip(Begin_Date_List, End_Date_List), total=len(Begin_Date_List), desc="Downloading Data"):
            
            DF = THS_DS(Code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', i, j).data
            
            Data.append(DF)
        
        Data = pd.concat(Data, axis=0)
        Data = Data.set_index('time', drop=True)
        
        os.chdir(Export_Path)
        Data.to_csv(Code+'.csv')
        
        return Data
     
    def Updating_newHL_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code, 'ths_new_high_num_block;ths_new_low_num_block', '1,250,100;1,250,100', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0) 

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Downloading_High_Freq_Vol_Price_Data(self,Code_List,Begin_Date,End_Date,Export_Path,Interval=60):

        Export_Path=Export_Path

        os.chdir(Export_Path)

        print("下载开始")

        for i in range(0,len(Code_List)):

            try:

                Data=THS_HF(Code_List[i],'open;high;low;close;volume;amount','Fill:Original,Interval:'+str(Interval),Begin_Date,End_Date).data
                
                Data.index=Data.loc[:,"time"]

                Data=Data.iloc[:,1:]

                Data.to_csv(Code_List[i]+".csv")

                print(str(i/len(Code_List)))
            
            except:

                print(Code_List[i]+"出现错误")

        print("下载结束")

    def get_next_trading_time_1h(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_Hours
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "10:30"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("10:30", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")

    def get_next_trading_time_15min(self,last_time):
        """
        根据最后一条数据的时间，计算下一个交易时间。
        :param last_time: 最后一条数据的时间 (pd.Timestamp)
        :return: 下一个交易时间 (str)
        """
        last_date = last_time.date()
        current_time_str = last_time.strftime("%H:%M")
        TRADING_HOURS=self.A_Share_Trading_15mins
        # 查找下一个交易时间
        for trading_time in TRADING_HOURS:
            if current_time_str < trading_time:
                next_trading_time = datetime.combine(last_date, datetime.strptime(trading_time, "%H:%M").time())
                return next_trading_time.strftime("%Y-%m-%d %H:%M")
        
        # 如果当天所有交易时间都过了，返回下一个交易日的第一个交易时间 "09:45"
        next_trading_day = last_date + timedelta(days=1)
        return datetime.combine(next_trading_day, datetime.strptime("09:45", "%H:%M").time()).strftime("%Y-%m-%d %H:%M")
        
    def Update_High_Freq_Vol_Price_Data(self, End_Date, Export_Path, Interval=60):
        """
        更新高频数据 (小时级别)，确保数据不重复下载，并且增量更新。
        
        :param End_Date: 数据更新的结束时间（字符串格式 'YYYY-MM-DD HH:MM'）
        :param Export_Path: 导出文件夹的路径
        :param Interval: 数据的时间间隔，默认是 60 分钟（1 小时）
        """
        
        os.chdir(Export_Path)  # 切换到数据存放的目录
        
        # 获取所有以 .csv 结尾的文件名，并去掉 .csv 后缀，生成股票代码列表
        Code_List = [f.replace('.csv', '') for f in os.listdir(Export_Path) if f.endswith('.csv')]
        
        print("更新开始")
        
        if Interval == 60:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_1h(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                    else:
                        df_combined = new_data
                    
                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')
                    
                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")
        
        if Interval == 15:
            # 使用 tqdm 显示进度条
            for code in tqdm(Code_List):
                try:
                    file_path = os.path.join(Export_Path, f"{code}.csv")
                    
                    # 读取现有的 CSV 文件
                    if os.path.exists(file_path):
                        df_existing = pd.read_csv(file_path, parse_dates=['time'])
                        df_existing.set_index('time', inplace=True)  # 确保 'time' 列作为索引
                        
                        # 获取最后一条数据的时间，并确保是 pd.Timestamp 类型
                        last_time = pd.to_datetime(df_existing.index.max())
                        
                        # 获取下一个交易时间
                        start_time = self.get_next_trading_time_15min(last_time)
                        
                        # 如果最后一条时间已经超过了指定的结束时间，则跳过更新
                        if pd.to_datetime(start_time) > pd.to_datetime(End_Date):
                            print(f"{code} 数据已经是最新的，跳过更新。")
                            continue
                    else:
                        # 如果文件不存在，从头开始下载
                        start_time = "2010-01-01 00:00"
                        df_existing = pd.DataFrame()  # 空的 DataFrame 用于拼接

                    # 调用 API 下载新数据，从 start_time 到 End_Date
                    new_data = THS_HF(code, 'open;high;low;close;volume;amount', 
                                    f'Fill:Original,Interval:{Interval}', start_time, End_Date).data

                    # 确保 'time' 列存在，将其设置为索引
                    if 'time' in new_data.columns:
                        new_data.set_index('time', inplace=True)

                    # 如果没有新数据，跳过处理
                    if new_data.empty:
                        print(f"{code} 无新数据需要更新。")
                        continue

                    # 将新数据与旧数据拼接，并去重
                    if not df_existing.empty:
                        df_combined = pd.concat([df_existing, new_data])
                        df_combined = df_combined[~df_combined.index.duplicated(keep='last')]  # 去重并保留最新的数据
                    else:
                        df_combined = new_data

                    # 将索引转换为日期时间格式
                    df_combined.index = pd.to_datetime(df_combined.index, errors='coerce')

                    # 检查是否有 NaT 索引，删除无效的时间索引
                    df_combined = df_combined[df_combined.index.notna()]

                    # 保存更新后的数据，确保 'time' 列作为索引
                    df_combined.to_csv(file_path, index=True)  # index=True 保留时间索引
                    print(f"{code} 数据更新成功。")

                except Exception as e:
                    print(f"{code} 更新时出现错误: {e}")
            
            print("数据更新结束")

    def Downloading_ETF_Option_Data(self,Code_List,Begin_Date,End_Date,Export_Path):
            # 期权code 上证50=510050 沪深300=510300 500ETF=510500 科创50ETF=588000 科创板50=588080

            Export_Path=Export_Path

            print("下载开始")

            for i in range(0,len(Code_List)):

                try:
                    code=Code_List[i]+'O'
                    sdate=Begin_Date.replace('-','')
                    edate=End_Date.replace('-','')
                    Data=THS_DR('p02872','qqbd='+code+';'+'sdate='+sdate+';'+'edate='+edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    
                    Data=Data.set_index('p02872_f001',drop=True)

                    Data=Data.sort_index()

                    Data.to_csv(Export_Path+'\\'+Code_List[i]+".csv")

                    print(str(i/len(Code_List)))
                
                except:

                    print(Code_List[i]+"出现错误")

            print("下载结束")

    def Updating_ETF_Option(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code_original = List[i].replace('.csv', "")
                    code=code_original+'O'
                    code=Code_List[i]+'O'

                    new_sdate=New_Begin_Date.replace('-','')
                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p02872','qqbd='+code+';'+'sdate='+new_sdate+';'+'edate='+new_edate+';jys=212001;bdlx=基金;date=全部',
                        'p02872_f001:Y,p02872_f002:Y,p02872_f003:Y,p02872_f004:Y,p02872_f005:Y,p02872_f006:Y,p02872_f007:Y,p02872_f008:Y,p02872_f009:Y,p02872_f010:Y,p02872_f014:Y,p02872_f011:Y,p02872_f015:Y,p02872_f016:Y,p02872_f017:Y',
                        'format:dataframe').data
                    new_data=new_data.set_index('p02872_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Download_Index_DDE_Data(self,Code_List,Begin_Date,End_Date,Export_Path):

        def Downloading_Index_DDE_Data(Code,Begin_Date,End_Date):

            #日期循环
                Begin_Date=Begin_Date

                Begin_Date=pd.to_datetime(Begin_Date)

                End_Date=End_Date

                End_Date=pd.to_datetime(End_Date)

                Gap=(End_Date-Begin_Date)/250

                Period=Gap.days

                Timeseries=pd.date_range(Begin_Date,End_Date,periods=Period)

                Timeseries_List=Timeseries.strftime("%Y-%m-%d").tolist()

                Begin_Date_List=Timeseries_List[:-1]

                End_Date_List=Timeseries_List[1:]

                Data=[]

            #日期循环下载数据

                for i,j in zip(Begin_Date_List,End_Date_List):
                    
                    DF=THS_DS(Code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',i,j).data
                    Data.append(DF)
                
                Data=pd.concat(Data,axis=0)

                return Data

        os.chdir(Export_Path)

        Error_Code=[]

        print("更新开始")
        
        for i in Code_List:

            try:
                
                Data=Downloading_Index_DDE_Data(i,Begin_Date,End_Date)

                Data=Data.set_index('time',drop=True)

                Data.to_csv(i+".csv")

                print(i+"输出完成")

            except:

                print(i+"出现错误")

                Error_Code.append(i)
        
        return

    def Updating_Index_DDE_Data(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")
                    THS_DS('801017.SL','ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data
                    new_data=THS_DS(code,'ths_dde_5d_hb_index;ths_dde_10d_hb_index;ths_dde_20d_hb_index',';;','block:history',New_Begin_Date,End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)
                    
                    Updated_Data.loc[:,"thscode"]=Updated_Data.iloc[0,0]

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return
    
        
        def Updating_updown_Data(End_Date, Data_Path):

            Data_Path=Data_Path

            os.chdir(Data_Path)

            List=os.listdir()

            Doc_Number=len(List)

            print("更新开始")

            for i in range(0,Doc_Number):

                try:

                    df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                    df.index=pd.to_datetime(df.index)

                    if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                        New_Begin_Date=df.index[-1]+Day()

                        New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                        code = List[i].replace('.csv', "")

                        new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                        new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                        new_data=new_data.iloc[:,2:]

                        Updated_Data=pd.concat([df,new_data],axis=0)

                        Updated_Data.to_csv(List[i])

                        print(str(i/Doc_Number))

                    else:

                        print("数据更新至最新")

                except:

                    print(List[i]+"出现错误")

            print("更新结束")

            return

    def Updating_updown_Data(self,End_Date, Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code = List[i].replace('.csv', "")

                    new_data=THS_DS(code,'ths_limit_up_stock_num_sector;ths_limit_down_stock_num_sector',';', 'block:latest', New_Begin_Date, End_Date).data

                    new_data.index=pd.to_datetime(new_data.loc[:,"time"])

                    new_data=new_data.iloc[:,2:]

                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                    print(str(i/Doc_Number))

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return

    def Updating_Up_Down_Companies(self,End_Date,Data_Path):

        Data_Path=Data_Path

        os.chdir(Data_Path)

        List=os.listdir()

        Doc_Number=len(List)

        print("更新开始")

        for i in range(0,Doc_Number):

            try:

                df=pd.read_csv(Data_Path+"\\"+List[i],index_col=[0])

                df.index=pd.to_datetime(df.index)

                if df.index[-1].strftime('%Y-%m-%d')!=End_Date:

                    New_Begin_Date=df.index[-1]+Day()

                    New_Begin_Date=New_Begin_Date.strftime("%Y-%m-%d")

                    code= List[i].replace('.csv', "")

                    new_sdate=New_Begin_Date.replace('-','')

                    new_edate=End_Date.replace('-','')

                    new_data=THS_DR('p00112','sdate='+new_sdate+';'+'edate='+new_edate+';p0='+code,'p00112_f001:Y,p00112_f002:Y,p00112_f003:Y,p00112_f004:Y,p00112_f005:Y,p00112_f006:Y,p00112_f007:Y,p00112_f008:Y,p00112_f009:Y,p00112_f010:Y,p00112_f011:Y,p00112_f012:Y,p00112_f013:Y,p00112_f014:Y,p00112_f021:Y,p00112_f022:Y,p00112_f023:Y,p00112_f024:Y,p00112_f025:Y',
                                    'format:dataframe').data
                    new_data=new_data.set_index('p00112_f001',drop=True)
                    new_data.index=pd.to_datetime(new_data.index)
                    new_data=new_data.sort_index()
                    Updated_Data=pd.concat([df,new_data],axis=0)

                    Updated_Data.to_csv(List[i])

                else:

                    print("数据更新至最新")

            except:

                print(List[i]+"出现错误")

        print("更新结束")

        return


DUD=Downloading_And_Updating_Data()



def Update_All(End_Date):

    Price_Data_Path_1=r"E:\数据库\同花顺指数量价数据"

    Price_Data_Path_2=r"E:\数据库\同花顺ETF跟踪指数量价数据\1d"

    Price_Data_Path_3=r'E:\数据库\同花顺ETF量价数据'

    Price_Data_Path_4=r'E:\数据库\同花顺商品指数量价数据'

    Path_List=[Price_Data_Path_1,Price_Data_Path_2,Price_Data_Path_3,Price_Data_Path_4]

    DUD.Updating_All_Market_Vol_Data(End_Date,Path_List)

    Forcast_Path=r"E:\数据库\同花顺ETF跟踪指数一致预期数据\预测净利润两年复合增长"

    DUD.Updating_Forcast_2yr_Data(End_Date,Forcast_Path)

    Free_Turn_Path=r"E:\数据库\同花顺指数自由流通换手率"

    DUD.Updating_Index_Free_Turn_Data(End_Date,Free_Turn_Path)

    Valuation_Path=r"E:\数据库\同花顺ETF跟踪指数估值数据"

    DUD.Updating_Index_Valuation_Data(End_Date,Valuation_Path)

    EDB_Data_Path=r"E:\数据库\同花顺EDB数据"

    DUD.Update_EDB_Data(EDB_Data_Path,End_Date)

    ETF_Option_Path=r"E:\数据库\另类数据\ETF期权数据"

    DUD.Updating_ETF_Option(End_Date,ETF_Option_Path)

    Forcast_Data_Path=r'E:\数据库\同花顺ETF跟踪指数一致预期数据\盈利预测综合值'

    DUD.Update_Index_Forcast_Data(End_Date,Forcast_Data_Path)

    Cov_Bond_Path=r'E:\数据库\同花顺可转债数据'

    DUD.Update_Cov_Bond_Vol_Price_Data(End_Date,Cov_Bond_Path)

    #新高新低
    H_L_Path=r'E:\数据库\另类数据\新高新低'

    DUD.Updating_newHL_Data(End_Date,H_L_Path)

    #高频数据更新

    Export_Path_60 = r'E:\数据库\同花顺ETF跟踪指数量价数据\1h' 

    Export_Path_15=r'E:\数据库\同花顺ETF跟踪指数量价数据\15min'

    HF_End_Date=End_Date+' 15:00'

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date, Export_Path_60,60)

    DUD.Update_High_Freq_Vol_Price_Data(HF_End_Date,Export_Path_15,15)

    #公司上涨数量更新
    
    Up_Down_Company_Path=r'E:\数据库\另类数据\涨跌家数'

    DUD.Updating_Up_Down_Companies(End_Date,Up_Down_Company_Path)

    #涨停跌停数量

    up_path=r'E:\数据库\另类数据\涨停跌停'

    DUD.Updating_updown_Data(End_Date,up_path)


    return print('updating finished')

#海外数据第二天更新
def Update_Oversea_Data(End_Date):

    A50_Path=r'E:\数据库\另类数据\A50期货数据'

    DUD.Updating_A50_Futures_Data(End_Date,A50_Path)

    return print('海外数据更新完毕')

Update_Oversea_Data('2024-12-25')

# Update_All('2024-12-25')

d:\Anaconda3\Lib\site-packages\iFinDPy.pth
0
登录成功
更新开始
CN0Y.SG.csv出现错误
更新结束
海外数据更新完毕

In [ ]:
def Update_Oversea_Data(End_Date):

    A50_Path=r'E:\数据库\另类数据\A50期货数据'

    DUD.Updating_A50_Futures_Data(End_Date,A50_Path)

    return print('海外数据更新完毕')

Update_Oversea_Data('2024-12-26')

更新开始
更新结束
海外数据更新完毕

已连接到 base (Python 3.9.7)

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

#数据路径设置

result_path=r'C:\Users\Wesle\Desktop\srcb_daily_report\result'

data_path=r'C:\Users\Wesle\Desktop\srcb_daily_report\原始数据'

#部门归属表文件名
department_list='员工部门归属表.xlsx'

#昨日日报表文件名
yesterday_daily_report='网点鑫e贷月度指标完成情况1226.xlsx'

#【浦东分行鑫e贷】客户经理营销数据文件名
client_manager_data='【浦东分行鑫e贷】客户经理营销数据_2024-12-26.xlsx'

retail_performance_data='零售市场部协同外拓及理财转介业绩报送-9.xlsx'

type_B_data='【浦东分行鑫e贷】鑫e贷b款明细_2024-12-26.xlsx'

T0_Date='2024-12-26'


#网点鑫e贷月度指标完成情况

#鑫e贷总授信
def XY_Dai_Zong_Shou_Xin(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,result_path):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_daily_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:45,2:]

    daily_report.index=index_list

    daily_report.columns=new_columns

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷总授信_指标','鑫e贷放款_指标','鑫e贷授信-B款_指标']

    kpi_result=kpi[['鑫e贷总授信_指标']]
    
    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['完成数']]

    yesterday_finished.columns=['鑫e贷总授信_昨日完成数','鑫e贷放款_昨日完成数','鑫e贷授信-B款_昨日完成数']

    yesterday_finished_result=yesterday_finished[['鑫e贷总授信_昨日完成数']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果(报表数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_shouxin=client_manager_df[['benyueshouxinrenshu']]

    manager_total_shouxin = monthly_shouxin.groupby(monthly_shouxin.index).sum()

    department_df=pd.read_excel(data_path+'\\'+department_list)

    # 重命名列，确保列名一致，便于匹配
    department_df.rename(columns={'员工姓名': 'kehujinglixingm', '部门': 'department'}, inplace=True)

    # 合并客户经理业绩数据和部门数据
    merged_df = manager_total_shouxin.reset_index().merge(department_df, on='kehujinglixingm', how='left')
    
    # 按部门分组，计算业绩总和
    department_totals =  merged_df.groupby('department', as_index=False)['benyueshouxinrenshu'].sum()

    department_totals=department_totals.set_index('department',drop=True)
    #匹配到浦东分行的表里

    result.loc[:,"鑫e贷总授信_报表数"]=department_totals


    #第四个结果(协同外拓)

    #提取昨日协同外拓数

    yesterday_retail_performance=daily_report[['协同外拓']]

    yesterday_retail_performance.columns=['鑫e贷总授信_昨日协同外拓','鑫e贷放款_昨日协同外拓','鑫e贷授信-B款_昨日协同外拓']

    yesterday_retail_performance=yesterday_retail_performance[['鑫e贷总授信_昨日协同外拓']]
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','协同外拓网点','其中本人\nA款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷总授信_今日协同外拓"]=today_retail_df.loc[:,"其中本人\nA款授信（户）"]+today_retail_df.loc[:,"其中本人\nB款授信（户）"]*2
    
    today_retail_result=today_retail_df[['协同外拓网点','鑫e贷总授信_今日协同外拓']]

    today_retail_result=today_retail_result.set_index('协同外拓网点',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷总授信_协同外拓"] = (
        newest_result.loc[:, "鑫e贷总授信_昨日协同外拓"].fillna(0) +
        newest_result.loc[:, "鑫e贷总授信_今日协同外拓"].fillna(0)
    )

    result.loc[:,"鑫e贷总授信_协同外拓"]=newest_result.loc[:, "鑫e贷总授信_协同外拓"]

    result.loc[:,"B款月底额外计1户授信"]=0

    #取昨日数据调整数

    yesterday_daily_adjusted=daily_report[['数据调整数']]

    result.loc[:,"数据调整数"]=yesterday_daily_adjusted

    #完成数

    result.loc[:,"鑫e贷总授信_完成数"]=result[['鑫e贷总授信_报表数','鑫e贷总授信_协同外拓',
                                'B款月底额外计1户授信','数据调整数']].sum(axis=1)
    # 计算完成率（完成数 / 指标），保留小数点后两位
    result.loc[:, "鑫e贷总授信_完成率"] = (
        result.loc[:, "鑫e贷总授信_完成数"] / result.loc[:, "鑫e贷总授信_指标"]
    ).fillna(0).round(2)
    
    result.loc[:,"鑫e贷总授信_昨日完成数(轧差)"]=result.loc[:,"鑫e贷总授信_完成数"]-result.loc[:,"鑫e贷总授信_昨日完成数"]

    final_result=result[['鑫e贷总授信_指标','鑫e贷总授信_昨日完成数(轧差)',
                            '鑫e贷总授信_报表数','鑫e贷总授信_协同外拓','B款月底额外计1户授信','数据调整数',
                                '鑫e贷总授信_完成数','鑫e贷总授信_完成率']]

    final_result.to_excel(result_path+'\\'+'鑫e贷总授信完成情况.xlsx')

    print('恭喜米，鑫e贷总授信计算完成')

    return final_result

#鑫e贷放款
def XY_Dai_Fang_Kuang(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):
    
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_daily_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:45,2:]

    daily_report.index=index_list

    daily_report.columns=new_columns

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷总授信_指标','鑫e贷放款_指标','鑫e贷授信-B款_指标']

    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['完成数']]

    yesterday_finished.columns=['鑫e贷总授信_昨日完成数','鑫e贷放款_昨日完成数','鑫e贷授信-B款_昨日完成数']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日完成数']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果（报表数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

    department_df=pd.read_excel(data_path+'\\'+department_list)

    # 重命名列，确保列名一致，便于匹配
    department_df.rename(columns={'员工姓名': 'kehujinglixingm', '部门': 'department'}, inplace=True)

    # 合并客户经理业绩数据和部门数据
    merged_df = manager_total_fangkuan.reset_index().merge(department_df, on='kehujinglixingm', how='left')
    
    # 按部门分组，计算业绩总和
    department_totals =  merged_df.groupby('department', as_index=False)['benyuefangkuanjine'].sum()

    department_totals=department_totals.set_index('department',drop=True)

    department_totals=department_totals/10000

    department_totals=department_totals.fillna(0).round(0)

    department_totals.columns=['鑫e贷放款_报表数']

    result.loc[:,"鑫e贷放款_报表数"]=department_totals
    
    #第四个结果（自然流量）

    #读取b款数据

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    department_df_1=pd.read_excel(data_path+'\\'+department_list)

    # 重命名列，确保列名一致，便于匹配
    department_df_1.rename(columns={'员工姓名': 'jingdiaokehujingl', '部门': 'department'}, inplace=True)

    # 合并客户经理业绩数据和部门数据
    netural_merged_df = netural_result.reset_index().merge(department_df_1, on='jingdiaokehujingl', how='left')
    
    netural_department_totals =  netural_merged_df.groupby('department', as_index=False)['fangkuanjine'].sum()

    netural_department_totals=netural_department_totals.set_index('department',drop=True)

    netural_department_totals=netural_department_totals/10000

    netural_department_totals=netural_department_totals.fillna(0).round(2)

    netural_department_totals.columns=['鑫e贷放款_自然流量']

    result.loc[:,"鑫e贷放款_自然流量"]=netural_department_totals

    #第四个指标（协同外拓）

    yesterday_retail_performance=daily_report[['协同外拓']]

    yesterday_retail_performance.columns=['鑫e贷总授信_昨日协同外拓','鑫e贷放款_昨日协同外拓','鑫e贷授信-B款_昨日协同外拓']

    result.loc[:,"鑫e贷放款_协同外拓"]=yesterday_retail_performance[['鑫e贷放款_昨日协同外拓']]

    result.loc[:,"鑫e贷放款_完成数"]=result[['鑫e贷放款_报表数','鑫e贷放款_自然流量',
                                '鑫e贷放款_协同外拓']].sum(axis=1)

    result.loc[:, "鑫e贷放款_完成率"] = (result.loc[:, "鑫e贷放款_完成数"] /
                             result.loc[:, "鑫e贷放款_指标"]).fillna(0).round(2)
    
    result.loc[:,"鑫e贷放款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷放款_完成数"]-result.loc[:,"鑫e贷放款_昨日完成数"]

    final_result=result[['鑫e贷放款_指标','鑫e贷放款_昨日完成数(轧差)',
                        '鑫e贷放款_报表数','鑫e贷放款_自然流量','鑫e贷放款_协同外拓','鑫e贷放款_完成数',
                            '鑫e贷放款_完成率']]
                            
    # final_result.sort_values('鑫e贷放款_完成率', ascending=True)[['鑫e贷放款_完成率']].plot(
    #     kind='barh', 
    #     figsize=(10, 15)
    # )
    # plt.title('团队KPI完成率对比', fontsize=14)
    # plt.tight_layout()
    # plt.show()

    final_result.to_excel(result_path+'\\'+'鑫e贷放款完成情况.xlsx')
    
    print('恭喜米，鑫e贷放款计算完成')

    return final_result

#B宽授信
def B_Kuang_Shou_Xin(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_daily_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:45,2:]

    daily_report.index=index_list

    daily_report.columns=new_columns

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷总授信_指标','鑫e贷放款_指标','鑫e贷授信-B款_指标']

    kpi_result=kpi[['鑫e贷授信-B款_指标']]

    result=pd.DataFrame(index=kpi_result.index)

    result.loc[:,"鑫e贷授信-B款_指标"]=kpi_result

    #第二个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    department_df=pd.read_excel(data_path+'\\'+department_list)

    # 重命名列，确保列名一致，便于匹配
    department_df.rename(columns={'员工姓名': 'jingdiaokehujingli', '部门': 'department'}, inplace=True)

    department_df=department_df.set_index('jingdiaokehujingli',drop=True)

    # 合并客户经理业绩数据和部门数据
    merged_df =pd.merge(DD_result,department_df,right_index=True,left_index=True)
    
    merged_df.columns=['count','department']
    # 按部门分组，计算业绩总和
    department_totals =  merged_df.groupby('department', as_index=False)['count'].sum()

    department_totals=department_totals.set_index('department',drop=True)

    department_totals.columns=['鑫e贷授信-B款_报表数']

    result.loc[:,"鑫e贷授信-B款_报表数"]=department_totals

    #第三个结果（协同外拓）

    yesterday_retail_performance=daily_report[['协同外拓']]

    yesterday_retail_performance.columns=['鑫e贷总授信_昨日协同外拓','鑫e贷放款_昨日协同外拓','鑫e贷授信-B款_昨日协同外拓']

    yesterday_retail_performance=yesterday_retail_performance[['鑫e贷授信-B款_昨日协同外拓']]
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]
    
    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df[['客户经理姓名','协同外拓网点','其中本人\nA款授信（户）','其中本人\nB款授信（户）']]
    
    today_retail_df=today_retail_df.fillna(0)
    
    today_retail_df.loc[:,"鑫e贷授信-B款_今日协同外拓"]=today_retail_df.loc[:,"其中本人\nB款授信（户）"].fillna(0)
    
    today_retail_result=today_retail_df[['协同外拓网点','鑫e贷授信-B款_今日协同外拓']]

    today_retail_result=today_retail_result.set_index('协同外拓网点',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款_协同外拓"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日协同外拓"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款_今日协同外拓"].fillna(0)
        )

    result.loc[:,"鑫e贷授信-B款_协同外拓"]=newest_result.loc[:, "鑫e贷授信-B款_协同外拓"]

    #第四个结果（调整数）

    result.loc[:,"鑫e贷授信-B款_调整数"]=0

    #第五个结果（完成数）

    result.loc[:,"鑫e贷授信-B款_完成数"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_协同外拓',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

    result.loc[:, "鑫e贷授信-B款_完成率"] = (result.loc[:, "鑫e贷授信-B款_完成数"] /
                             result.loc[:, "鑫e贷授信-B款_指标"]).fillna(0).round(2)
                                   
    result.to_excel(result_path+'\\'+'鑫e贷授信-B款完成情况.xlsx')

    print('恭喜米，鑫e贷授信-B款计算完成')

    return result



XY_Dai_Zong_Shou_Xin_result=XY_Dai_Zong_Shou_Xin(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,result_path)


XY_Dai_Fang_Kuang_result=XY_Dai_Fang_Kuang(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)

B_Kuang_Shou_Xin_result=B_Kuang_Shou_Xin(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)


total=pd.concat([XY_Dai_Zong_Shou_Xin_result,XY_Dai_Fang_Kuang_result,B_Kuang_Shou_Xin_result],axis=1)

total.to_excel(result_path+'\\'+'日报总表.xlsx')


#零售团队月度日报

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

恭喜米，鑫e贷总授信计算完成
恭喜米，鑫e贷放款计算完成
恭喜米，鑫e贷授信-B款计算完成

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

NameError: name 'yesterday_team_report' is not defined

In [ ]:
yesterday_team_report='团队非按揭业绩日报20241218.xlsx'

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,团队名称,姓名,二手受理,NaN,NaN,NaN,NaN,鑫e贷放款,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,财富转介户数,NaN,NaN,月度目标\n达成率,月度目标\n达成率系数
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

In [ ]:

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

In [ ]:
index_list

['许闻多',
 '宋丽凤',
 '孙仰阳',
 '瞿逸程',
 '顾伟丽',
 '合计',
 '马越骋',
 '陈名',
 '万华',
 '茅敏艳',
 '钱潇伟',
 '合计',
 '杨小东',
 '王美燕',
 '徐君',
 '李亚',
 '杜星瑶',
 '曹倩云',
 '黄旭',
 '合计']

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
daily_report

NameError: name 'daily_report' is not defined

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_daily_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
yesterday_daily_report_df

,网点鑫e贷月度指标完成情况,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
1,NaN,NaN,指标,昨日完成数,报表数,协同外拓,B款月底额外计1户授信,数据调整数,完成数,完成率,...,协同外拓,完成数,完成率,指标,报表数,协同外拓,调整数,完成数,完成率,NaN
2,中心支行,陆家嘴支行,38,0,6,163,0,0,169,4.45,...,0,155,1.41,3,6,79,0,85,28.33,0.18
3,NaN,营业部,25,0,2,8,0,0,10,0.4,...,0,78,0.39,2,NaN,1,0,1,0.5,0.0645
4,NaN,曹路支行,20,0,14,6,0,0,20,1,...,0,118.44,0.74,2,2,1,0,3,1.5,0.147
5,NaN,川沙支行,22,5,109,0,0,0,109,4.95,...,0,158.8,1.76,2,NaN,0,0,0,0,0.12
6,NaN,合庆支行,22,1,50,14,0,0,64,2.91,...,20,143,1.19,2,15,7,0,22,11,0.1795
7,NaN,高桥支行,29,0,3,5,0,0,8,0.28,...,0,87,0.58,1,NaN,0,0,0,0,0.043
8,NaN,张江支行,38,0,6,15,0,0,21,0.55,...,0,128,0.64,2,1,6,0,7,3.5,0.1195
9,NaN,高行支行,20,1,6,0,0,0,6,0.3,...,0,83,1.38,1,2,0,0,2,2,0.135
10,NaN,金桥支行,27,0,10,0,0,0,10,0.37,...,0,84,0.42,2,NaN,0,0,0,0,0.0395
11,NaN,三林支行,27,0,0,27,0,0,27,1,...,0,51,0.36,2,NaN,13,0,13,6.5,0.128
12,NaN,唐镇支行,20,0,0,0,0,0,0,0,...,0,53,0.76,2,NaN,0,0,0,0,0.038
13,NaN,花木支行,29,0,8,13,0,0,21,0.72,...,0,103.72,1.3,2,6,6,0,12,6,0.156
14,NaN,高东支行,20,0,7,7,0,0,14,0.7,...,0,26,0.37,1,NaN,0,0,0,0,0.0535
15,NaN,北蔡支行,30,0,4,14,0,0,18,0.6,...,0,124,0.62,2,2,7,0,9,4.5,0.121
16,NaN,江镇支行,22,0,9,0,0,0,9,0.41,...,0,63.8,0.58,2,NaN,0,0,0,0,0.0495
17,二级支行,妙境支行,10,0,4,0,0,0,4,0.4,...,0,84,1.05,1,1,0,0,1,1,0.1225
18,NaN,新园路支行,9,0,1,0,0,0,1,0.11,...,0,60,3,1,NaN,0,0,0,0,0.0655
19,NaN,洋泾支行,10,0,15,0,0,0,15,1.5,...,0,84,0.84,1,2,0,0,2,2,0.162
20,NaN,金杨支行,17,0,12,22,0,0,34,2,...,0,95,1.9,1,3,10,0,13,13,0.18
21,NaN,施湾支行,9,0,0,0,0,1,1,0.11,...,0,6,0.2,1,1,0,0,1,1,0.0655
22,NaN,龚路支行,9,0,17,0,0,0,17,1.89,...,0,30,0.38,1,1,0,0,1,1,0.129
23,NaN,黄楼支行,10,0,20,0,0,0,20,2,...,0,22,0.55,1,NaN,0,0,0,0,0.0875
24,NaN,杨思支行,17,5,15,15,0,0,30,1.76,...,0,37.97,0.95,1,8,4,0,12,12,0.1675
25,NaN,凌桥支行,9,1,17,0,0,0,17,1.89,...,0,2,0.1,1,1,0,0,1,1,0.115
26,NaN,东沟支行,9,0,0,0,0,0,0,0,...,0,31,0.78,1,NaN,0,0,0,0,0.039
27,NaN,和炯路支行,9,0,0,0,0,0,0,0,...,0,93.3,0.62,1,NaN,0,0,0,0,0.031
28,NaN,严桥支行,14,0,10,0,0,0,10,0.71,...,0,13,0.22,1,1,0,0,1,1,0.0965
29,NaN,孙桥支行,10,0,4,0,0,0,4,0.4,...,0,58,1.45,1,NaN,0,0,0,0,0.08
30,NaN,五星路支行,9,1,2,0,0,0,2,0.22,...,0,15,0.75,1,NaN,0,0,0,0,0.0485
31,NaN,六团支行,9,0,6,0,0,0,6,0.67,...,0,7,0.14,1,NaN,0,0,0,0,0.0405
32,NaN,六里支行,17,0,1,20,0,0,21,1.24,...,0,17,0.34,1,NaN,7,0,7,7,0.137
33,NaN,王港支行,9,0,0,97,0,0,97,10.78,...,0,18,0.11,1,NaN,24,0,24,24,0.1255
34,NaN,蔡路支行,9,0,9,0,0,0,9,1,...,0,39,0.65,1,1,0,0,1,1,0.1325
35,NaN,杨园支行,9,0,0,0,0,0,0,0,...,0,0,0,1,NaN,0,0,0,0,0
36,分理处,芳华分理处,9,0,20,0,0,0,20,2.22,...,0,12,0.4,1,NaN,0,0,0,0,0.08
37,NaN,香山分理处,9,0,2,0,0,0,2,0.22,...,0,40,1.25,1,1,0,0,1,1,0.121
38,NaN,潼港分理处,9,1,31,0,0,0,31,3.44,...,0,12,0.1,1,NaN,0,0,0,0,0.065
39,NaN,东波分理处,9,0,2,0,0,0,2,0.22,...,0,6,0.3,1,NaN,0,0,0,0,0.026
40,NaN,益江支行,9,0,3,0,0,0,3,0.33,...,0,9,0.22,1,NaN,0,0,0,0,0.0275
41,NaN,南新支行,9,0,1,0,0,0,1,0.11,...,0,17,0.42,1,NaN,0,0,0,0,0.0265
42,NaN,凌兆分理处,12,0,6,9,0,0,15,1.25,...,0,6,0.12,1,2,2,0,4,4,0.126
43,NaN,民耀分理处,9,0,5,0,0,0,5,0.56,...,0,2,0.07,1,NaN,0,0,0,0,0.0315
44,NaN,御桥分理处,9,1,3,0,0,0,3,0.33,...,0,13,0.65,1,1,0,0,1,1,0.099
45,NaN,金海华城分理处,9,0,0,0,0,0,0,0,...,0,6.5,0.22,1,NaN,0,0,0,0,0.011
46,合计,NaN,686,16,440,435,0,1,876,1.276968,...,20,2292.53,0.672296,57,57,167,0,224,3.929825,0.153615

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:34,2:]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report.index=index_list

ValueError: Length mismatch: Expected axis has 21 elements, new values have 20 elements

In [ ]:

    daily_report=yesterday_daily_report_df.iloc[1:35,2:]

    daily_report.index=index_list

ValueError: Length mismatch: Expected axis has 21 elements, new values have 20 elements

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:35,2:]

    daily_report.index=index_list

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

ValueError: Length mismatch: Expected axis has 21 elements, new values have 20 elements

In [ ]:
index_list

['许闻多',
 '宋丽凤',
 '孙仰阳',
 '瞿逸程',
 '顾伟丽',
 '合计',
 '马越骋',
 '陈名',
 '万华',
 '茅敏艳',
 '钱潇伟',
 '合计',
 '杨小东',
 '王美燕',
 '徐君',
 '李亚',
 '杜星瑶',
 '曹倩云',
 '黄旭',
 '合计']

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
new_columns

Unnamed: 2          指标
Unnamed: 3          昨日
Unnamed: 4          昨日
Unnamed: 5          本月
Unnamed: 6         完成率
Unnamed: 7          指标
Unnamed: 8          昨日
Unnamed: 9       报表完成数
Unnamed: 10    自然流量完成数
Unnamed: 11       线下贷款
Unnamed: 12        调整数
Unnamed: 13         本月
Unnamed: 14        完成率
Unnamed: 15         指标
Unnamed: 16         昨日
Unnamed: 17      报表完成数
Unnamed: 18      外拓双算数
Unnamed: 19       自然流量
Unnamed: 20        调整数
Unnamed: 21         本月
Unnamed: 22        完成率
Unnamed: 23         指标
Unnamed: 24         昨日
Unnamed: 25        报表数
Unnamed: 26        外拓数
Unnamed: 27        调整数
Unnamed: 28         本月
Unnamed: 29        完成率
Unnamed: 30         指标
Unnamed: 31         本月
Unnamed: 32        完成率
Unnamed: 33        NaN
Unnamed: 34        NaN
Name: 1, dtype: object

In [ ]:
new_columns

Unnamed: 2          指标
Unnamed: 3          昨日
Unnamed: 4          昨日
Unnamed: 5          本月
Unnamed: 6         完成率
Unnamed: 7          指标
Unnamed: 8          昨日
Unnamed: 9       报表完成数
Unnamed: 10    自然流量完成数
Unnamed: 11       线下贷款
Unnamed: 12        调整数
Unnamed: 13         本月
Unnamed: 14        完成率
Unnamed: 15         指标
Unnamed: 16         昨日
Unnamed: 17      报表完成数
Unnamed: 18      外拓双算数
Unnamed: 19       自然流量
Unnamed: 20        调整数
Unnamed: 21         本月
Unnamed: 22        完成率
Unnamed: 23         指标
Unnamed: 24         昨日
Unnamed: 25        报表数
Unnamed: 26        外拓数
Unnamed: 27        调整数
Unnamed: 28         本月
Unnamed: 29        完成率
Unnamed: 30         指标
Unnamed: 31         本月
Unnamed: 32        完成率
Unnamed: 33        NaN
Unnamed: 34        NaN
Name: 1, dtype: object

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:34,2:]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:33,2:]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:32,2:]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
daily_report=yesterday_daily_report_df.iloc[1:32,2:]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:30,2:]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:32,2:]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:30,2:]

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
yesterday_daily_report_df.iloc[1:30,2:]

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,-,-,-,-,-,650,20,30,563.026,NaN,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,20000,0,0,19357,0.96785,6700,369,1840,2264,0,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
yesterday_daily_report_df

,零贷专营团队月度指标完成日报1216,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
1,NaN,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,...,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率,NaN,NaN
2,按揭一队,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,...,3,NaN,NaN,3,1,2,2,1,0.676283,0.711917
3,NaN,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,...,0,NaN,NaN,0,0,2,1,0.5,0.86,NaN
4,NaN,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,...,1,NaN,NaN,1,0.2,3,0,0,0.818222,NaN
5,NaN,瞿逸程,2000,0,209,1108,0.554,150,0,0,...,0,NaN,NaN,0,0,2,0,0,0.3324,NaN
6,NaN,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,...,2,NaN,NaN,2,0.666667,2,0,0,0.354568,NaN
7,NaN,合计,10000,0,NaN,9597.5,0.95975,800,52,274,...,6,NaN,NaN,6,0.352941,11,3,0.272727,0.711917,NaN
8,按揭二队,马越骋,2000,0,32,2485,1.2425,150,0,0,...,1,NaN,NaN,1,0.333333,2,0,0,0.753333,0.767303
9,NaN,陈名,2000,0,186,2956,1.478,150,0,34.2425,...,2,NaN,NaN,2,0.666667,2,0,0,0.832323,NaN
10,NaN,万华,2000,0,NaN,1340,0.67,150,0,112.5334,...,3,NaN,NaN,3,1,2,2,1,0.752045,NaN
11,NaN,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,...,1,NaN,NaN,1,0.333333,2,0,0,0.856729,NaN
12,NaN,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,...,1,NaN,NaN,1,0.333333,2,3,1.5,0.396267,NaN
13,NaN,合计,10000,0,NaN,9759.5,0.97595,750,27,269,...,8,NaN,NaN,8,0.533333,10,5,0.5,0.767303,NaN
14,非按揭队,杨小东,-,-,-,-,-,1500,133,686.7238,...,81,NaN,NaN,81,1.8,5,6,1.2,0.89653,0.89653
15,NaN,王美燕,-,-,-,-,-,750,14,81.22,...,41,3,NaN,44,0.977778,3,12,4,0.570663,0.570663
16,NaN,徐君,-,-,-,-,-,750,12,305.6412,...,15,NaN,NaN,15,0.333333,3,0,0,0.466336,0.466336
17,NaN,李亚,-,-,-,-,-,650,20,30,...,44,6,NaN,50,1.25,3,0,0,0.874075,0.874075
18,NaN,杜星瑶,-,-,-,-,-,500,40,75.8,...,29,2,NaN,31,0.775,2,1,0.5,0.699467,0.699467
19,NaN,曹倩云,-,-,-,-,-,500,52,103.8,...,28,5,NaN,33,0.825,2,1,0.5,0.834019,0.834019
20,NaN,黄旭,-,-,-,-,-,500,20,13.9,...,35,NaN,NaN,35,0.875,2,1,0.5,0.82782,0.82782
21,NaN,合计,-,-,-,-,-,5150,290,1297,...,273,NaN,NaN,273,0.925424,20,21,1.05,0.784314,-
22,合计,NaN,20000,0,0,19357,0.96785,6700,369,1840,...,287,16,0,303,0.926606,41,29,0.707317,-,-

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[:,1:33]

In [ ]:
daily_report

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
1,NaN,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,自然流量完成数,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
2,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,...,3,0,3,NaN,NaN,3,1,2,2,1
3,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,...,3,0,0,NaN,NaN,0,0,2,1,0.5
4,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,...,5,0,1,NaN,NaN,1,0.2,3,0,0
5,瞿逸程,2000,0,209,1108,0.554,150,0,0,0,...,3,0,0,NaN,NaN,0,0,2,0,0
6,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
7,合计,10000,0,NaN,9597.5,0.95975,800,52,274,20,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
8,马越骋,2000,0,32,2485,1.2425,150,0,0,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
9,陈名,2000,0,186,2956,1.478,150,0,34.2425,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
10,万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,...,3,0,3,NaN,NaN,3,1,2,2,1
11,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
12,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
13,合计,10000,0,NaN,9759.5,0.97595,750,27,269,25,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
14,杨小东,-,-,-,-,-,1500,133,686.7238,354.6,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
15,王美燕,-,-,-,-,-,750,14,81.22,106.8948,...,45,10,41,3,NaN,44,0.977778,3,12,4
16,徐君,-,-,-,-,-,750,12,305.6412,122.7916,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
17,李亚,-,-,-,-,-,650,20,30,563.026,...,40,14,44,6,NaN,50,1.25,3,0,0
18,杜星瑶,-,-,-,-,-,500,40,75.8,268.2,...,40,1,29,2,NaN,31,0.775,2,1,0.5
19,曹倩云,-,-,-,-,-,500,52,103.8,364.8271,...,40,1,28,5,NaN,33,0.825,2,1,0.5
20,黄旭,-,-,-,-,-,500,20,13.9,438.45,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
21,合计,-,-,-,-,-,5150,290,1297,2219,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05
22,NaN,20000,0,0,19357,0.96785,6700,369,1840,2264,...,327,36,287,16,0,303,0.926606,41,29,0.707317

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:21, 1:33]

In [ ]:
daily_report

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
2,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,...,3,0,3,NaN,NaN,3,1,2,2,1
3,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,...,3,0,0,NaN,NaN,0,0,2,1,0.5
4,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,...,5,0,1,NaN,NaN,1,0.2,3,0,0
5,瞿逸程,2000,0,209,1108,0.554,150,0,0,0,...,3,0,0,NaN,NaN,0,0,2,0,0
6,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
7,合计,10000,0,NaN,9597.5,0.95975,800,52,274,20,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
8,马越骋,2000,0,32,2485,1.2425,150,0,0,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
9,陈名,2000,0,186,2956,1.478,150,0,34.2425,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
10,万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,...,3,0,3,NaN,NaN,3,1,2,2,1
11,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
12,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
13,合计,10000,0,NaN,9759.5,0.97595,750,27,269,25,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
14,杨小东,-,-,-,-,-,1500,133,686.7238,354.6,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
15,王美燕,-,-,-,-,-,750,14,81.22,106.8948,...,45,10,41,3,NaN,44,0.977778,3,12,4
16,徐君,-,-,-,-,-,750,12,305.6412,122.7916,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
17,李亚,-,-,-,-,-,650,20,30,563.026,...,40,14,44,6,NaN,50,1.25,3,0,0
18,杜星瑶,-,-,-,-,-,500,40,75.8,268.2,...,40,1,29,2,NaN,31,0.775,2,1,0.5
19,曹倩云,-,-,-,-,-,500,52,103.8,364.8271,...,40,1,28,5,NaN,33,0.825,2,1,0.5
20,黄旭,-,-,-,-,-,500,20,13.9,438.45,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
21,合计,-,-,-,-,-,5150,290,1297,2219,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:]  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 1:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

ValueError: Length mismatch: Expected axis has 32 elements, new values have 33 elements

In [ ]:
daily_report

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
许闻多,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,瞿逸程,2000,0,209,1108,0.554,150,0,0,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
合计,合计,10000,0,NaN,9597.5,0.95975,800,52,274,20,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
马越骋,马越骋,2000,0,32,2485,1.2425,150,0,0,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,陈名,2000,0,186,2956,1.478,150,0,34.2425,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
合计,合计,10000,0,NaN,9759.5,0.97595,750,27,269,25,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
杨小东,杨小东,-,-,-,-,-,1500,133,686.7238,354.6,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,王美燕,-,-,-,-,-,750,14,81.22,106.8948,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,徐君,-,-,-,-,-,750,12,305.6412,122.7916,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,李亚,-,-,-,-,-,650,20,30,563.026,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,杜星瑶,-,-,-,-,-,500,40,75.8,268.2,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,曹倩云,-,-,-,-,-,500,52,103.8,364.8271,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,黄旭,-,-,-,-,-,500,20,13.9,438.45,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
合计,合计,-,-,-,-,-,5150,290,1297,2219,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05

In [ ]:
new_columns

Unnamed: 2          指标
Unnamed: 3          昨日
Unnamed: 4          昨日
Unnamed: 5          本月
Unnamed: 6         完成率
Unnamed: 7          指标
Unnamed: 8          昨日
Unnamed: 9       报表完成数
Unnamed: 10    自然流量完成数
Unnamed: 11       线下贷款
Unnamed: 12        调整数
Unnamed: 13         本月
Unnamed: 14        完成率
Unnamed: 15         指标
Unnamed: 16         昨日
Unnamed: 17      报表完成数
Unnamed: 18      外拓双算数
Unnamed: 19       自然流量
Unnamed: 20        调整数
Unnamed: 21         本月
Unnamed: 22        完成率
Unnamed: 23         指标
Unnamed: 24         昨日
Unnamed: 25        报表数
Unnamed: 26        外拓数
Unnamed: 27        调整数
Unnamed: 28         本月
Unnamed: 29        完成率
Unnamed: 30         指标
Unnamed: 31         本月
Unnamed: 32        完成率
Unnamed: 33        NaN
Unnamed: 34        NaN
Name: 1, dtype: object

In [ ]:
new_columns.dropna()

Unnamed: 2          指标
Unnamed: 3          昨日
Unnamed: 4          昨日
Unnamed: 5          本月
Unnamed: 6         完成率
Unnamed: 7          指标
Unnamed: 8          昨日
Unnamed: 9       报表完成数
Unnamed: 10    自然流量完成数
Unnamed: 11       线下贷款
Unnamed: 12        调整数
Unnamed: 13         本月
Unnamed: 14        完成率
Unnamed: 15         指标
Unnamed: 16         昨日
Unnamed: 17      报表完成数
Unnamed: 18      外拓双算数
Unnamed: 19       自然流量
Unnamed: 20        调整数
Unnamed: 21         本月
Unnamed: 22        完成率
Unnamed: 23         指标
Unnamed: 24         昨日
Unnamed: 25        报表数
Unnamed: 26        外拓数
Unnamed: 27        调整数
Unnamed: 28         本月
Unnamed: 29        完成率
Unnamed: 30         指标
Unnamed: 31         本月
Unnamed: 32        完成率
Name: 1, dtype: object

In [ ]:
    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 1:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

ValueError: Length mismatch: Expected axis has 32 elements, new values have 31 elements

In [ ]:
new_columns

Unnamed: 2          指标
Unnamed: 3          昨日
Unnamed: 4          昨日
Unnamed: 5          本月
Unnamed: 6         完成率
Unnamed: 7          指标
Unnamed: 8          昨日
Unnamed: 9       报表完成数
Unnamed: 10    自然流量完成数
Unnamed: 11       线下贷款
Unnamed: 12        调整数
Unnamed: 13         本月
Unnamed: 14        完成率
Unnamed: 15         指标
Unnamed: 16         昨日
Unnamed: 17      报表完成数
Unnamed: 18      外拓双算数
Unnamed: 19       自然流量
Unnamed: 20        调整数
Unnamed: 21         本月
Unnamed: 22        完成率
Unnamed: 23         指标
Unnamed: 24         昨日
Unnamed: 25        报表数
Unnamed: 26        外拓数
Unnamed: 27        调整数
Unnamed: 28         本月
Unnamed: 29        完成率
Unnamed: 30         指标
Unnamed: 31         本月
Unnamed: 32        完成率
Name: 1, dtype: object

In [ ]:
daily_report

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
许闻多,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,瞿逸程,2000,0,209,1108,0.554,150,0,0,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
合计,合计,10000,0,NaN,9597.5,0.95975,800,52,274,20,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
马越骋,马越骋,2000,0,32,2485,1.2425,150,0,0,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,陈名,2000,0,186,2956,1.478,150,0,34.2425,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
合计,合计,10000,0,NaN,9759.5,0.97595,750,27,269,25,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
杨小东,杨小东,-,-,-,-,-,1500,133,686.7238,354.6,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,王美燕,-,-,-,-,-,750,14,81.22,106.8948,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,徐君,-,-,-,-,-,750,12,305.6412,122.7916,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,李亚,-,-,-,-,-,650,20,30,563.026,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,杜星瑶,-,-,-,-,-,500,40,75.8,268.2,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,曹倩云,-,-,-,-,-,500,52,103.8,364.8271,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,黄旭,-,-,-,-,-,500,20,13.9,438.45,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
合计,合计,-,-,-,-,-,5150,290,1297,2219,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:21, 1:33]

In [ ]:
daily_report

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
2,许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,...,3,0,3,NaN,NaN,3,1,2,2,1
3,宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,...,3,0,0,NaN,NaN,0,0,2,1,0.5
4,孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,...,5,0,1,NaN,NaN,1,0.2,3,0,0
5,瞿逸程,2000,0,209,1108,0.554,150,0,0,0,...,3,0,0,NaN,NaN,0,0,2,0,0
6,顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
7,合计,10000,0,NaN,9597.5,0.95975,800,52,274,20,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
8,马越骋,2000,0,32,2485,1.2425,150,0,0,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
9,陈名,2000,0,186,2956,1.478,150,0,34.2425,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
10,万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,...,3,0,3,NaN,NaN,3,1,2,2,1
11,茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
12,钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
13,合计,10000,0,NaN,9759.5,0.97595,750,27,269,25,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
14,杨小东,-,-,-,-,-,1500,133,686.7238,354.6,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
15,王美燕,-,-,-,-,-,750,14,81.22,106.8948,...,45,10,41,3,NaN,44,0.977778,3,12,4
16,徐君,-,-,-,-,-,750,12,305.6412,122.7916,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
17,李亚,-,-,-,-,-,650,20,30,563.026,...,40,14,44,6,NaN,50,1.25,3,0,0
18,杜星瑶,-,-,-,-,-,500,40,75.8,268.2,...,40,1,29,2,NaN,31,0.775,2,1,0.5
19,曹倩云,-,-,-,-,-,500,52,103.8,364.8271,...,40,1,28,5,NaN,33,0.825,2,1,0.5
20,黄旭,-,-,-,-,-,500,20,13.9,438.45,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
21,合计,-,-,-,-,-,5150,290,1297,2219,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05

In [ ]:
    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

In [ ]:
daily_report

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
2,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
3,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,3,0,0,NaN,NaN,0,0,2,1,0.5
4,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,5,0,1,NaN,NaN,1,0.2,3,0,0
5,2000,0,209,1108,0.554,150,0,0,0,NaN,...,3,0,0,NaN,NaN,0,0,2,0,0
6,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
7,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
8,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
9,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
10,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
11,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
12,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
13,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
14,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
15,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,45,10,41,3,NaN,44,0.977778,3,12,4
16,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
17,-,-,-,-,-,650,20,30,563.026,NaN,...,40,14,44,6,NaN,50,1.25,3,0,0
18,-,-,-,-,-,500,40,75.8,268.2,NaN,...,40,1,29,2,NaN,31,0.775,2,1,0.5
19,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,40,1,28,5,NaN,33,0.825,2,1,0.5
20,-,-,-,-,-,500,20,13.9,438.45,NaN,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
21,-,-,-,-,-,5150,290,1297,2219,NaN,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
daily_report

1,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,自然流量完成数,线下贷款,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,2000,0,209,1108,0.554,150,0,0,0,NaN,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
合计,10000,0,NaN,9597.5,0.95975,800,52,274,20,NaN,...,17,0,6,NaN,NaN,6,0.352941,11,3,0.272727
马越骋,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
合计,10000,0,NaN,9759.5,0.97595,750,27,269,25,NaN,...,15,0,8,NaN,NaN,8,0.533333,10,5,0.5
杨小东,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,-,-,-,-,-,650,20,30,563.026,NaN,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,-,-,-,-,-,500,40,75.8,268.2,NaN,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,-,-,-,-,-,500,20,13.9,438.45,NaN,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5
合计,-,-,-,-,-,5150,290,1297,2219,NaN,...,295,36,273,NaN,NaN,273,0.925424,20,21,1.05

In [ ]:
    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷总授信_指标','鑫e贷放款_指标','鑫e贷授信-B款_指标']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 3 elements

In [ ]:
    kpi=daily_report[['指标']]

In [ ]:
kpi

1       指标    指标   指标   指标  指标
许闻多   2000   150    -    3   2
宋丽凤   2000   150    -    3   2
孙仰阳   2000   200    -    5   3
瞿逸程   2000   150    -    3   2
顾伟丽   2000   150  NaN    3   2
合计   10000   800    -   17  11
马越骋   2000   150    -    3   2
陈名    2000   150    -    3   2
万华    2000   150    -    3   2
茅敏艳   2000   150    -    3   2
钱潇伟   2000   150    -    3   2
合计   10000   750    -   15  10
杨小东      -  1500   65   45   5
王美燕      -   750   65   45   3
徐君       -   750   65   45   3
李亚       -   650   60   40   3
杜星瑶      -   500   60   40   2
曹倩云      -   500   60   40   2
黄旭       -   500   60   40   2
合计       -  5150  435  295  20

In [ ]:
    daily_report=daily_report.drop('合计')

In [ ]:
daily_report

1,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,自然流量完成数,线下贷款,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,2000,0,209,1108,0.554,150,0,0,0,NaN,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,-,-,-,-,-,650,20,30,563.026,NaN,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,-,-,-,-,-,500,40,75.8,268.2,NaN,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,-,-,-,-,-,500,20,13.9,438.45,NaN,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    kpi=daily_report[['指标']]

In [ ]:
kpi

1      指标    指标   指标  指标 指标
许闻多  2000   150    -   3  2
宋丽凤  2000   150    -   3  2
孙仰阳  2000   200    -   5  3
瞿逸程  2000   150    -   3  2
顾伟丽  2000   150  NaN   3  2
马越骋  2000   150    -   3  2
陈名   2000   150    -   3  2
万华   2000   150    -   3  2
茅敏艳  2000   150    -   3  2
钱潇伟  2000   150    -   3  2
杨小东     -  1500   65  45  5
王美燕     -   750   65  45  3
徐君      -   750   65  45  3
李亚      -   650   60  40  3
杜星瑶     -   500   60  40  2
曹倩云     -   500   60  40  2
黄旭      -   500   60  40  2

In [ ]:
daily_report

1,指标,昨日,昨日,本月,完成率,指标,昨日,报表完成数,自然流量完成数,线下贷款,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,2000,0,42.5,1304.5,0.65225,150,10,63.7,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,2000,0,192.5,2902,1.451,150,0,61.1,6.4,NaN,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,2000,0,NaN,3699,1.8495,200,2,64.4222,13.8,NaN,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,2000,0,209,1108,0.554,150,0,0,0,NaN,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,2000,NaN,NaN,584,0.292,150,40,84.526,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,2000,0,32,2485,1.2425,150,0,0,0,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,2000,0,186,2956,1.478,150,0,34.2425,0,NaN,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,2000,0,NaN,1340,0.67,150,0,112.5334,0,NaN,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,2000,0,NaN,2478.5,1.23925,150,6,60.5465,17,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,2000,0,NaN,500,0.25,150,21,61.7,8,NaN,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,-,-,-,-,-,1500,133,686.7238,354.6,NaN,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,-,-,-,-,-,750,14,81.22,106.8948,NaN,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,-,-,-,-,-,750,12,305.6412,122.7916,NaN,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,-,-,-,-,-,650,20,30,563.026,NaN,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,-,-,-,-,-,500,40,75.8,268.2,NaN,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,-,-,-,-,-,500,52,103.8,364.8271,NaN,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,-,-,-,-,-,500,20,13.9,438.45,NaN,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    daily_report=daily_report.iloc[:,5:]

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    daily_report=daily_report.iloc[:,5:]

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
kpi

1      指标   指标  指标 指标
许闻多   150    -   3  2
宋丽凤   150    -   3  2
孙仰阳   200    -   5  3
瞿逸程   150    -   3  2
顾伟丽   150  NaN   3  2
马越骋   150    -   3  2
陈名    150    -   3  2
万华    150    -   3  2
茅敏艳   150    -   3  2
钱潇伟   150    -   3  2
杨小东  1500   65  45  5
王美燕   750   65  45  3
徐君    750   65  45  3
李亚    650   60  40  3
杜星瑶   500   60  40  2
曹倩云   500   60  40  2
黄旭    500   60  40  2

In [ ]:
    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']

In [ ]:
    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']

In [ ]:
kpi

    鑫e贷放款_指标 鑫e贷总授信（A/B款）_指标 鑫e贷授信-B款_指标 财富转介户数_指标
许闻多      150               -           3         2
宋丽凤      150               -           3         2
孙仰阳      200               -           5         3
瞿逸程      150               -           3         2
顾伟丽      150             NaN           3         2
马越骋      150               -           3         2
陈名       150               -           3         2
万华       150               -           3         2
茅敏艳      150               -           3         2
钱潇伟      150               -           3         2
杨小东     1500              65          45         5
王美燕      750              65          45         3
徐君       750              65          45         3
李亚       650              60          40         3
杜星瑶      500              60          40         2
曹倩云      500              60          40         2
黄旭       500              60          40         2

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    yesterday_finished=daily_report[['本月']]

In [ ]:
yesterday_finished

1           本月  本月  本月  本月
许闻多       63.7   4   3   2
宋丽凤       67.5   0   0   1
孙仰阳    78.2222   1   1   0
瞿逸程          0   0   0   0
顾伟丽     84.526   2   2   0
马越骋          0   1   1   0
陈名     34.2425   2   2   0
万华    112.5334   3   3   2
茅敏艳    77.5465   2   1   0
钱潇伟       69.7   1   1   3
杨小东  1041.3238  92  81   6
王美燕   188.1148  68  44  12
徐君    428.4328  37  15   0
李亚     593.026  52  50   0
杜星瑶        344  49  31   1
曹倩云   468.6271  34  33   1
黄旭      452.35  36  35   1

In [ ]:
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_本月','鑫e贷总授信（A/B款）_本月','鑫e贷授信-B款_本月','财富转介户数_本月']

In [ ]:
yesterday_finished

      鑫e贷放款_本月 鑫e贷总授信（A/B款）_本月 鑫e贷授信-B款_本月 财富转介户数_本月
许闻多       63.7               4           3         2
宋丽凤       67.5               0           0         1
孙仰阳    78.2222               1           1         0
瞿逸程          0               0           0         0
顾伟丽     84.526               2           2         0
马越骋          0               1           1         0
陈名     34.2425               2           2         0
万华    112.5334               3           3         2
茅敏艳    77.5465               2           1         0
钱潇伟       69.7               1           1         3
杨小东  1041.3238              92          81         6
王美燕   188.1148              68          44        12
徐君    428.4328              37          15         0
李亚     593.026              52          50         0
杜星瑶        344              49          31         1
曹倩云   468.6271              34          33         1
黄旭      452.35              36          35         1

In [ ]:
    yesterday_finished_result=yesterday_finished[['	鑫e贷放款_本月']]

KeyError: "None of [Index(['\\t鑫e贷放款_本月'], dtype='object')] are in the [columns]"

In [ ]:
    yesterday_finished_result=yesterday_finished[['鑫e贷放款_本月']]

In [ ]:
yesterday_finished_result

      鑫e贷放款_本月
许闻多       63.7
宋丽凤       67.5
孙仰阳    78.2222
瞿逸程          0
顾伟丽     84.526
马越骋          0
陈名     34.2425
万华    112.5334
茅敏艳    77.5465
钱潇伟       69.7
杨小东  1041.3238
王美燕   188.1148
徐君    428.4328
李亚     593.026
杜星瑶        344
曹倩云   468.6271
黄旭      452.35

In [ ]:
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

In [ ]:
result

    鑫e贷放款_指标   鑫e贷放款_本月
许闻多      150       63.7
宋丽凤      150       67.5
孙仰阳      200    78.2222
瞿逸程      150          0
顾伟丽      150     84.526
马越骋      150          0
陈名       150    34.2425
万华       150   112.5334
茅敏艳      150    77.5465
钱潇伟      150       69.7
杨小东     1500  1041.3238
王美燕      750   188.1148
徐君       750   428.4328
李亚       650    593.026
杜星瑶      500        344
曹倩云      500   468.6271
黄旭       500     452.35

In [ ]:
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]

In [ ]:
yesterday_finished_result

    鑫e贷放款_昨日本月
许闻多       63.7
宋丽凤       67.5
孙仰阳    78.2222
瞿逸程          0
顾伟丽     84.526
马越骋          0
陈名     34.2425
万华    112.5334
茅敏艳    77.5465
钱潇伟       69.7
杨小东  1041.3238
王美燕   188.1148
徐君    428.4328
李亚     593.026
杜星瑶        344
曹倩云   468.6271
黄旭      452.35

In [ ]:
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月
许闻多      150       63.7
宋丽凤      150       67.5
孙仰阳      200    78.2222
瞿逸程      150          0
顾伟丽      150     84.526
马越骋      150          0
陈名       150    34.2425
万华       150   112.5334
茅敏艳      150    77.5465
钱潇伟      150       69.7
杨小东     1500  1041.3238
王美燕      750   188.1148
徐君       750   428.4328
李亚       650    593.026
杜星瑶      500        344
曹倩云      500   468.6271
黄旭       500     452.35

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

#数据路径设置

result_path=r'C:\Users\Wesle\Desktop\srcb_daily_report\result'

data_path=r'C:\Users\Wesle\Desktop\srcb_daily_report\原始数据'

#部门归属表文件名
department_list='员工部门归属表.xlsx'

#昨日日报表文件名
yesterday_daily_report='网点鑫e贷月度指标完成情况1226.xlsx'

yesterday_team_report='团队非按揭业绩日报20241218.xlsx'

#【浦东分行鑫e贷】客户经理营销数据文件名
client_manager_data='【浦东分行鑫e贷】客户经理营销数据_2024-12-18.xlsx'

retail_performance_data='零售市场部协同外拓及理财转介业绩报送-9.xlsx'

type_B_data='【浦东分行鑫e贷】鑫e贷b款明细_2024-12-18.xlsx'

T0_Date='2024-12-26'

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

In [ ]:

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]

In [ ]:
monthly_fangkuan

                 benyuefangkuanjine
kehujinglixingm
顾佳怡                             0.0
张毓琦                             0.0
蔡利华                             0.0
许闻多                        100000.0
许闻多                             0.0
...                             ...
李润杰                          6648.0
严丹                          30000.0
朱伟杰                             0.0
张臻                              0.0
赵娇娇                             0.0

[2352 rows x 1 columns]

In [ ]:
manager_total_fangkuan

NameError: name 'manager_total_fangkuan' is not defined

In [ ]:
    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

In [ ]:
manager_total_fangkuan

                 benyuefangkuanjine
kehujinglixingm
丁丹萍                             0.0
丁晓雄                             0.0
万云峰                             0.0
万佳来                             0.0
万华                        1141064.0
...                             ...
龚昊                              0.0
龚欣怡                             0.0
龚洁                         107000.0
龚浩                              0.0
龚纯                              0.0

[741 rows x 1 columns]

In [ ]:
manager_total_fangkuan

                 benyuefangkuanjine
kehujinglixingm
丁丹萍                             0.0
丁晓雄                             0.0
万云峰                             0.0
万佳来                             0.0
万华                        1141064.0
...                             ...
龚昊                              0.0
龚欣怡                             0.0
龚洁                         107000.0
龚浩                              0.0
龚纯                              0.0

[741 rows x 1 columns]

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月
许闻多      150       63.7
宋丽凤      150       67.5
孙仰阳      200    78.2222
瞿逸程      150          0
顾伟丽      150     84.526
马越骋      150          0
陈名       150    34.2425
万华       150   112.5334
茅敏艳      150    77.5465
钱潇伟      150       69.7
杨小东     1500  1041.3238
王美燕      750   188.1148
徐君       750   428.4328
李亚       650    593.026
杜星瑶      500        344
曹倩云      500   468.6271
黄旭       500     452.35

In [ ]:
    result.loc[:,"鑫e贷放款_报表完成数"]=manager_total_fangkuan

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数
许闻多      150       63.7     637000.0
宋丽凤      150       67.5     811000.0
孙仰阳      200    78.2222     764222.0
瞿逸程      150          0          0.0
顾伟丽      150     84.526     845260.0
马越骋      150          0          0.0
陈名       150    34.2425     440425.0
万华       150   112.5334    1141064.0
茅敏艳      150    77.5465     614351.0
钱潇伟      150       69.7     617000.0
杨小东     1500  1041.3238    7714938.0
王美燕      750   188.1148     812200.0
徐君       750   428.4328    3076412.0
李亚       650    593.026     300000.0
杜星瑶      500        344     908000.0
曹倩云      500   468.6271    1038000.0
黄旭       500     452.35     139000.0

In [ ]:
    result.loc[:,"鑫e贷放款_报表完成数"]= result.loc[:,"鑫e贷放款_报表完成数"]/10000

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数
许闻多      150       63.7      63.7000
宋丽凤      150       67.5      81.1000
孙仰阳      200    78.2222      76.4222
瞿逸程      150          0       0.0000
顾伟丽      150     84.526      84.5260
马越骋      150          0       0.0000
陈名       150    34.2425      44.0425
万华       150   112.5334     114.1064
茅敏艳      150    77.5465      61.4351
钱潇伟      150       69.7      61.7000
杨小东     1500  1041.3238     771.4938
王美燕      750   188.1148      81.2200
徐君       750   428.4328     307.6412
李亚       650    593.026      30.0000
杜星瑶      500        344      90.8000
曹倩云      500   468.6271     103.8000
黄旭       500     452.35      13.9000

In [ ]:
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

In [ ]:
type_B_df

,fangkuanjine,fangkuanriq,1,1.1,1.2,1.3,1.4,1.5,1.6,yingxiaokehujingl,...,1.8,1.9,1.10,1.11,jingdiaokehujingl,1.12,1.13,1.14,1.15,1.16
0,220000,2023-06-19,4.896,4.89600,4.89600,623162*********6077,本行卡,0.0,-,杨小东,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
1,10000,2023-06-19,4.896,4.89600,4.89600,623162*********6077,本行卡,0.0,-,杨小东,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
2,250000,2023-06-28,4.896,4.89600,4.89600,623162*********6077,本行卡,0.0,-,杨小东,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
3,200000,2024-07-14,11.880,4.39560,11.88000,621688*********8202,本行卡,0.0,-,寿春连,...,31297.0,浦东分行本部,31328,北蔡支行,寿春连,77621,31297,浦东分行本部,31328,北蔡支行
4,50000,2024-09-13,4.806,4.80600,4.80600,623162*********5681,本行卡,0.0,-,吴亮宇,...,10002.0,业务处理中心,-,-,曹倩云,83960,31297,浦东分行本部,31298,浦东分行财务会计部
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5803,200000,2024-10-15,7.506,4.95396,4.95396,623162*********4570,本行卡,0.0,-,杨小东,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
5804,100000,2024-10-18,7.506,4.95396,4.95396,623162*********4570,本行卡,0.0,-,杨小东,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
5805,198000,2024-10-22,7.506,4.95396,4.95396,623162*********4570,本行卡,0.0,-,杨小东,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
5806,200000,2023-12-12,5.508,4.46148,4.46148,623162*********4723,本行卡,0.0,-,郭勤,...,31297.0,浦东分行本部,31311,川沙支行,郭勤,28233,31297,浦东分行本部,31311,川沙支行
5807,220000,2024-01-10,5.508,5.50800,5.50800,623162*********4723,本行卡,0.0,-,郭勤,...,31297.0,浦东分行本部,31311,川沙支行,郭勤,28233,31297,浦东分行本部,31311,川沙支行

In [ ]:
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

In [ ]:
netural_result

                   fangkuanjine
jingdiaokehujingl
孙仰阳                      138000
宋丽凤                      100000
张子豪                       50000
张馨怡                      179698
徐君                      1327916
曹倩云                     3853271
李亚                      5630260
杜星瑶                     3282000
杨小东                     3646000
王美燕                     1288948
罗秋慧                       25000
茅敏艳                      169000
莫之汇                      347223
郭勤                       198000
钱潇伟                       80000
阚圣凌                       13000
陆可妍                      498000
顾晓峰                      100000
黄旭                      4794500

In [ ]:
netural_result

                   fangkuanjine
jingdiaokehujingl
孙仰阳                      138000
宋丽凤                      100000
张子豪                       50000
张馨怡                      179698
徐君                      1327916
曹倩云                     3853271
李亚                      5630260
杜星瑶                     3282000
杨小东                     3646000
王美燕                     1288948
罗秋慧                       25000
茅敏艳                      169000
莫之汇                      347223
郭勤                       198000
钱潇伟                       80000
阚圣凌                       13000
陆可妍                      498000
顾晓峰                      100000
黄旭                      4794500

In [ ]:
    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000       100000.0
孙仰阳      200    78.2222      76.4222       138000.0
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351       169000.0
钱潇伟      150       69.7      61.7000        80000.0
杨小东     1500  1041.3238     771.4938      3646000.0
王美燕      750   188.1148      81.2200      1288948.0
徐君       750   428.4328     307.6412      1327916.0
李亚       650    593.026      30.0000      5630260.0
杜星瑶      500        344      90.8000      3282000.0
曹倩云      500   468.6271     103.8000      3853271.0
黄旭       500     452.35      13.9000      4794500.0

In [ ]:
    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result/10000

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000            NaN
孙仰阳      200    78.2222      76.4222            NaN
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351            NaN
钱潇伟      150       69.7      61.7000            NaN
杨小东     1500  1041.3238     771.4938            NaN
王美燕      750   188.1148      81.2200            NaN
徐君       750   428.4328     307.6412            NaN
李亚       650    593.026      30.0000            NaN
杜星瑶      500        344      90.8000            NaN
曹倩云      500   468.6271     103.8000            NaN
黄旭       500     452.35      13.9000            NaN

In [ ]:
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000            NaN
孙仰阳      200    78.2222      76.4222            NaN
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351            NaN
钱潇伟      150       69.7      61.7000            NaN
杨小东     1500  1041.3238     771.4938            NaN
王美燕      750   188.1148      81.2200            NaN
徐君       750   428.4328     307.6412            NaN
李亚       650    593.026      30.0000            NaN
杜星瑶      500        344      90.8000            NaN
曹倩云      500   468.6271     103.8000            NaN
黄旭       500     452.35      13.9000            NaN

In [ ]:
netural_result

                   fangkuanjine
jingdiaokehujingl
孙仰阳                      138000
宋丽凤                      100000
张子豪                       50000
张馨怡                      179698
徐君                      1327916
曹倩云                     3853271
李亚                      5630260
杜星瑶                     3282000
杨小东                     3646000
王美燕                     1288948
罗秋慧                       25000
茅敏艳                      169000
莫之汇                      347223
郭勤                       198000
钱潇伟                       80000
阚圣凌                       13000
陆可妍                      498000
顾晓峰                      100000
黄旭                      4794500

In [ ]:
    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000            NaN
孙仰阳      200    78.2222      76.4222            NaN
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351            NaN
钱潇伟      150       69.7      61.7000            NaN
杨小东     1500  1041.3238     771.4938            NaN
王美燕      750   188.1148      81.2200            NaN
徐君       750   428.4328     307.6412            NaN
李亚       650    593.026      30.0000            NaN
杜星瑶      500        344      90.8000            NaN
曹倩云      500   468.6271     103.8000            NaN
黄旭       500     452.35      13.9000            NaN

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果（报表完成数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

    result.loc[:,"鑫e贷放款_报表完成数"]=manager_total_fangkuan

    result.loc[:,"鑫e贷放款_报表完成数"]= result.loc[:,"鑫e贷放款_报表完成数"]/10000

    #第四个结果（自然流量完成数）

    #读取b款数据

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000       100000.0
孙仰阳      200    78.2222      76.4222       138000.0
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351       169000.0
钱潇伟      150       69.7      61.7000        80000.0
杨小东     1500  1041.3238     771.4938      3646000.0
王美燕      750   188.1148      81.2200      1288948.0
徐君       750   428.4328     307.6412      1327916.0
李亚       650    593.026      30.0000      5630260.0
杜星瑶      500        344      90.8000      3282000.0
曹倩云      500   468.6271     103.8000      3853271.0
黄旭       500     452.35      13.9000      4794500.0

In [ ]:
    result.loc[:,"鑫e贷放款_自然流量完成数"]=result.loc[:,"鑫e贷放款_自然流量完成数"]/10000

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000        10.0000
孙仰阳      200    78.2222      76.4222        13.8000
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351        16.9000
钱潇伟      150       69.7      61.7000         8.0000
杨小东     1500  1041.3238     771.4938       364.6000
王美燕      750   188.1148      81.2200       128.8948
徐君       750   428.4328     307.6412       132.7916
李亚       650    593.026      30.0000       563.0260
杜星瑶      500        344      90.8000       328.2000
曹倩云      500   468.6271     103.8000       385.3271
黄旭       500     452.35      13.9000       479.4500

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    offline_loan=daily_report[['线下贷款']]

In [ ]:
offline_loan

1   线下贷款
许闻多  NaN
宋丽凤  NaN
孙仰阳  NaN
瞿逸程  NaN
顾伟丽  NaN
马越骋  NaN
陈名   NaN
万华   NaN
茅敏艳  NaN
钱潇伟  NaN
杨小东  NaN
王美燕  NaN
徐君   NaN
李亚   NaN
杜星瑶  NaN
曹倩云  NaN
黄旭   NaN

In [ ]:
    offline_loan=daily_report[['线下贷款']]

    offline_loan.columns=['鑫e贷放款_线下贷款']

In [ ]:
offline_loan

    鑫e贷放款_线下贷款
许闻多        NaN
宋丽凤        NaN
孙仰阳        NaN
瞿逸程        NaN
顾伟丽        NaN
马越骋        NaN
陈名         NaN
万华         NaN
茅敏艳        NaN
钱潇伟        NaN
杨小东        NaN
王美燕        NaN
徐君         NaN
李亚         NaN
杜星瑶        NaN
曹倩云        NaN
黄旭         NaN

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数
许闻多      150       63.7      63.7000            NaN
宋丽凤      150       67.5      81.1000        10.0000
孙仰阳      200    78.2222      76.4222        13.8000
瞿逸程      150          0       0.0000            NaN
顾伟丽      150     84.526      84.5260            NaN
马越骋      150          0       0.0000            NaN
陈名       150    34.2425      44.0425            NaN
万华       150   112.5334     114.1064            NaN
茅敏艳      150    77.5465      61.4351        16.9000
钱潇伟      150       69.7      61.7000         8.0000
杨小东     1500  1041.3238     771.4938       364.6000
王美燕      750   188.1148      81.2200       128.8948
徐君       750   428.4328     307.6412       132.7916
李亚       650    593.026      30.0000       563.0260
杜星瑶      500        344      90.8000       328.2000
曹倩云      500   468.6271     103.8000       385.3271
黄旭       500     452.35      13.9000       479.4500

In [ ]:
    offline_loan=daily_report[['线下贷款']]

    offline_loan.columns=['鑫e贷放款_线下贷款']

    result.loc[:,"鑫e贷放款_线下贷款"]=offline_loan

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数 鑫e贷放款_线下贷款
许闻多      150       63.7      63.7000            NaN        NaN
宋丽凤      150       67.5      81.1000        10.0000        NaN
孙仰阳      200    78.2222      76.4222        13.8000        NaN
瞿逸程      150          0       0.0000            NaN        NaN
顾伟丽      150     84.526      84.5260            NaN        NaN
马越骋      150          0       0.0000            NaN        NaN
陈名       150    34.2425      44.0425            NaN        NaN
万华       150   112.5334     114.1064            NaN        NaN
茅敏艳      150    77.5465      61.4351        16.9000        NaN
钱潇伟      150       69.7      61.7000         8.0000        NaN
杨小东     1500  1041.3238     771.4938       364.6000        NaN
王美燕      750   188.1148      81.2200       128.8948        NaN
徐君       750   428.4328     307.6412       132.7916        NaN
李亚       650    593.026      30.0000       563.0260        NaN
杜星瑶      500        344      90.8000       328.2000        NaN
曹倩云      500   468.6271     103.8000       385.3271        NaN
黄旭       500     452.35      13.9000       479.4500        NaN

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    adjust_number=daily_report[['调整数']]

In [ ]:
adjust_number

1    调整数  调整数  调整数
许闻多  NaN  NaN  NaN
宋丽凤  NaN  NaN  NaN
孙仰阳  NaN  NaN  NaN
瞿逸程  NaN  NaN  NaN
顾伟丽  NaN  NaN  NaN
马越骋  NaN  NaN  NaN
陈名   NaN  NaN  NaN
万华   NaN  NaN  NaN
茅敏艳  NaN  NaN  NaN
钱潇伟  NaN  NaN  NaN
杨小东  NaN    2  NaN
王美燕  NaN  NaN  NaN
徐君   NaN  NaN  NaN
李亚   NaN  NaN  NaN
杜星瑶  NaN  NaN  NaN
曹倩云  NaN  NaN  NaN
黄旭   NaN  NaN  NaN

In [ ]:
    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

In [ ]:
adjust_number

    鑫e贷放款_调整数 鑫e贷总授信（A/B款）_调整数 鑫e贷授信-B款_调整数
许闻多       NaN              NaN          NaN
宋丽凤       NaN              NaN          NaN
孙仰阳       NaN              NaN          NaN
瞿逸程       NaN              NaN          NaN
顾伟丽       NaN              NaN          NaN
马越骋       NaN              NaN          NaN
陈名        NaN              NaN          NaN
万华        NaN              NaN          NaN
茅敏艳       NaN              NaN          NaN
钱潇伟       NaN              NaN          NaN
杨小东       NaN                2          NaN
王美燕       NaN              NaN          NaN
徐君        NaN              NaN          NaN
李亚        NaN              NaN          NaN
杜星瑶       NaN              NaN          NaN
曹倩云       NaN              NaN          NaN
黄旭        NaN              NaN          NaN

In [ ]:
    adjust_number_result=adjust_number[['鑫e贷放款_调整数']]

In [ ]:
adjust_number_result

    鑫e贷放款_调整数
许闻多       NaN
宋丽凤       NaN
孙仰阳       NaN
瞿逸程       NaN
顾伟丽       NaN
马越骋       NaN
陈名        NaN
万华        NaN
茅敏艳       NaN
钱潇伟       NaN
杨小东       NaN
王美燕       NaN
徐君        NaN
李亚        NaN
杜星瑶       NaN
曹倩云       NaN
黄旭        NaN

In [ ]:
    result.loc[:,"鑫e贷放款_调整数"]=adjust_number_result

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数 鑫e贷放款_线下贷款 鑫e贷放款_调整数
许闻多      150       63.7      63.7000            NaN        NaN       NaN
宋丽凤      150       67.5      81.1000        10.0000        NaN       NaN
孙仰阳      200    78.2222      76.4222        13.8000        NaN       NaN
瞿逸程      150          0       0.0000            NaN        NaN       NaN
顾伟丽      150     84.526      84.5260            NaN        NaN       NaN
马越骋      150          0       0.0000            NaN        NaN       NaN
陈名       150    34.2425      44.0425            NaN        NaN       NaN
万华       150   112.5334     114.1064            NaN        NaN       NaN
茅敏艳      150    77.5465      61.4351        16.9000        NaN       NaN
钱潇伟      150       69.7      61.7000         8.0000        NaN       NaN
杨小东     1500  1041.3238     771.4938       364.6000        NaN       NaN
王美燕      750   188.1148      81.2200       128.8948        NaN       NaN
徐君       750   428.4328     307.6412       132.7916        NaN       NaN
李亚       650    593.026      30.0000       563.0260        NaN       NaN
杜星瑶      500        344      90.8000       328.2000        NaN       NaN
曹倩云      500   468.6271     103.8000       385.3271        NaN       NaN
黄旭       500     452.35      13.9000       479.4500        NaN       NaN

In [ ]:
    result.loc[:,"本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum()

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数 鑫e贷放款_线下贷款 鑫e贷放款_调整数   本月
许闻多      150       63.7      63.7000            NaN        NaN       NaN  NaN
宋丽凤      150       67.5      81.1000        10.0000        NaN       NaN  NaN
孙仰阳      200    78.2222      76.4222        13.8000        NaN       NaN  NaN
瞿逸程      150          0       0.0000            NaN        NaN       NaN  NaN
顾伟丽      150     84.526      84.5260            NaN        NaN       NaN  NaN
马越骋      150          0       0.0000            NaN        NaN       NaN  NaN
陈名       150    34.2425      44.0425            NaN        NaN       NaN  NaN
万华       150   112.5334     114.1064            NaN        NaN       NaN  NaN
茅敏艳      150    77.5465      61.4351        16.9000        NaN       NaN  NaN
钱潇伟      150       69.7      61.7000         8.0000        NaN       NaN  NaN
杨小东     1500  1041.3238     771.4938       364.6000        NaN       NaN  NaN
王美燕      750   188.1148      81.2200       128.8948        NaN       NaN  NaN
徐君       750   428.4328     307.6412       132.7916        NaN       NaN  NaN
李亚       650    593.026      30.0000       563.0260        NaN       NaN  NaN
杜星瑶      500        344      90.8000       328.2000        NaN       NaN  NaN
曹倩云      500   468.6271     103.8000       385.3271        NaN       NaN  NaN
黄旭       500     452.35      13.9000       479.4500        NaN       NaN  NaN

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果（报表完成数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

    result.loc[:,"鑫e贷放款_报表完成数"]=manager_total_fangkuan

    result.loc[:,"鑫e贷放款_报表完成数"]= result.loc[:,"鑫e贷放款_报表完成数"]/10000

    #第四个结果（自然流量完成数）

    #读取b款数据

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

    result.loc[:,"鑫e贷放款_自然流量完成数"]=result.loc[:,"鑫e贷放款_自然流量完成数"]/10000



    #第四个指标（线下贷款）

    offline_loan=daily_report[['线下贷款']]

    offline_loan.columns=['鑫e贷放款_线下贷款']

    result.loc[:,"鑫e贷放款_线下贷款"]=offline_loan


    #第五个指标(调整数)

    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷放款_调整数']]

    result.loc[:,"鑫e贷放款_调整数"]=adjust_number_result

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
result

    鑫e贷放款_指标 鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数 鑫e贷放款_线下贷款 鑫e贷放款_调整数
许闻多      150       63.7      63.7000            NaN        NaN       NaN
宋丽凤      150       67.5      81.1000        10.0000        NaN       NaN
孙仰阳      200    78.2222      76.4222        13.8000        NaN       NaN
瞿逸程      150          0       0.0000            NaN        NaN       NaN
顾伟丽      150     84.526      84.5260            NaN        NaN       NaN
马越骋      150          0       0.0000            NaN        NaN       NaN
陈名       150    34.2425      44.0425            NaN        NaN       NaN
万华       150   112.5334     114.1064            NaN        NaN       NaN
茅敏艳      150    77.5465      61.4351        16.9000        NaN       NaN
钱潇伟      150       69.7      61.7000         8.0000        NaN       NaN
杨小东     1500  1041.3238     771.4938       364.6000        NaN       NaN
王美燕      750   188.1148      81.2200       128.8948        NaN       NaN
徐君       750   428.4328     307.6412       132.7916        NaN       NaN
李亚       650    593.026      30.0000       563.0260        NaN       NaN
杜星瑶      500        344      90.8000       328.2000        NaN       NaN
曹倩云      500   468.6271     103.8000       385.3271        NaN       NaN
黄旭       500     452.35      13.9000       479.4500        NaN       NaN

In [ ]:
    result=result.fillna(0)

In [ ]:
result

     鑫e贷放款_指标  鑫e贷放款_昨日本月  鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数  鑫e贷放款_线下贷款  鑫e贷放款_调整数
许闻多       150     63.7000      63.7000         0.0000           0          0
宋丽凤       150     67.5000      81.1000        10.0000           0          0
孙仰阳       200     78.2222      76.4222        13.8000           0          0
瞿逸程       150      0.0000       0.0000         0.0000           0          0
顾伟丽       150     84.5260      84.5260         0.0000           0          0
马越骋       150      0.0000       0.0000         0.0000           0          0
陈名        150     34.2425      44.0425         0.0000           0          0
万华        150    112.5334     114.1064         0.0000           0          0
茅敏艳       150     77.5465      61.4351        16.9000           0          0
钱潇伟       150     69.7000      61.7000         8.0000           0          0
杨小东      1500   1041.3238     771.4938       364.6000           0          0
王美燕       750    188.1148      81.2200       128.8948           0          0
徐君        750    428.4328     307.6412       132.7916           0          0
李亚        650    593.0260      30.0000       563.0260           0          0
杜星瑶       500    344.0000      90.8000       328.2000           0          0
曹倩云       500    468.6271     103.8000       385.3271           0          0
黄旭        500    452.3500      13.9000       479.4500           0          0

In [ ]:
    result.loc[:,"本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum()

In [ ]:
result

,鑫e贷放款_指标,鑫e贷放款_昨日本月,鑫e贷放款_报表完成数,鑫e贷放款_自然流量完成数,鑫e贷放款_线下贷款,鑫e贷放款_调整数,本月
许闻多,150,63.7000,63.7000,0.0000,0,0,NaN
宋丽凤,150,67.5000,81.1000,10.0000,0,0,NaN
孙仰阳,200,78.2222,76.4222,13.8000,0,0,NaN
瞿逸程,150,0.0000,0.0000,0.0000,0,0,NaN
顾伟丽,150,84.5260,84.5260,0.0000,0,0,NaN
马越骋,150,0.0000,0.0000,0.0000,0,0,NaN
陈名,150,34.2425,44.0425,0.0000,0,0,NaN
万华,150,112.5334,114.1064,0.0000,0,0,NaN
茅敏艳,150,77.5465,61.4351,16.9000,0,0,NaN
钱潇伟,150,69.7000,61.7000,8.0000,0,0,NaN
杨小东,1500,1041.3238,771.4938,364.6000,0,0,NaN
王美燕,750,188.1148,81.2200,128.8948,0,0,NaN
徐君,750,428.4328,307.6412,132.7916,0,0,NaN
李亚,650,593.0260,30.0000,563.0260,0,0,NaN
杜星瑶,500,344.0000,90.8000,328.2000,0,0,NaN
曹倩云,500,468.6271,103.8000,385.3271,0,0,NaN
黄旭,500,452.3500,13.9000,479.4500,0,0,NaN

In [ ]:
result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"]

     鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数  鑫e贷放款_线下贷款  鑫e贷放款_调整数
许闻多      63.7000         0.0000           0          0
宋丽凤      81.1000        10.0000           0          0
孙仰阳      76.4222        13.8000           0          0
瞿逸程       0.0000         0.0000           0          0
顾伟丽      84.5260         0.0000           0          0
马越骋       0.0000         0.0000           0          0
陈名       44.0425         0.0000           0          0
万华      114.1064         0.0000           0          0
茅敏艳      61.4351        16.9000           0          0
钱潇伟      61.7000         8.0000           0          0
杨小东     771.4938       364.6000           0          0
王美燕      81.2200       128.8948           0          0
徐君      307.6412       132.7916           0          0
李亚       30.0000       563.0260           0          0
杜星瑶      90.8000       328.2000           0          0
曹倩云     103.8000       385.3271           0          0
黄旭       13.9000       479.4500           0          0

In [ ]:
    result.loc[:,"本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum(axis=0)

In [ ]:
result

,鑫e贷放款_指标,鑫e贷放款_昨日本月,鑫e贷放款_报表完成数,鑫e贷放款_自然流量完成数,鑫e贷放款_线下贷款,鑫e贷放款_调整数,本月
许闻多,150,63.7000,63.7000,0.0000,0,0,NaN
宋丽凤,150,67.5000,81.1000,10.0000,0,0,NaN
孙仰阳,200,78.2222,76.4222,13.8000,0,0,NaN
瞿逸程,150,0.0000,0.0000,0.0000,0,0,NaN
顾伟丽,150,84.5260,84.5260,0.0000,0,0,NaN
马越骋,150,0.0000,0.0000,0.0000,0,0,NaN
陈名,150,34.2425,44.0425,0.0000,0,0,NaN
万华,150,112.5334,114.1064,0.0000,0,0,NaN
茅敏艳,150,77.5465,61.4351,16.9000,0,0,NaN
钱潇伟,150,69.7000,61.7000,8.0000,0,0,NaN
杨小东,1500,1041.3238,771.4938,364.6000,0,0,NaN
王美燕,750,188.1148,81.2200,128.8948,0,0,NaN
徐君,750,428.4328,307.6412,132.7916,0,0,NaN
李亚,650,593.0260,30.0000,563.0260,0,0,NaN
杜星瑶,500,344.0000,90.8000,328.2000,0,0,NaN
曹倩云,500,468.6271,103.8000,385.3271,0,0,NaN
黄旭,500,452.3500,13.9000,479.4500,0,0,NaN

In [ ]:
result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"]

     鑫e贷放款_报表完成数  鑫e贷放款_自然流量完成数  鑫e贷放款_线下贷款  鑫e贷放款_调整数
许闻多      63.7000         0.0000           0          0
宋丽凤      81.1000        10.0000           0          0
孙仰阳      76.4222        13.8000           0          0
瞿逸程       0.0000         0.0000           0          0
顾伟丽      84.5260         0.0000           0          0
马越骋       0.0000         0.0000           0          0
陈名       44.0425         0.0000           0          0
万华      114.1064         0.0000           0          0
茅敏艳      61.4351        16.9000           0          0
钱潇伟      61.7000         8.0000           0          0
杨小东     771.4938       364.6000           0          0
王美燕      81.2200       128.8948           0          0
徐君      307.6412       132.7916           0          0
李亚       30.0000       563.0260           0          0
杜星瑶      90.8000       328.2000           0          0
曹倩云     103.8000       385.3271           0          0
黄旭       13.9000       479.4500           0          0

In [ ]:
    result.loc[:,"本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum(axis=1)

In [ ]:
result

,鑫e贷放款_指标,鑫e贷放款_昨日本月,鑫e贷放款_报表完成数,鑫e贷放款_自然流量完成数,鑫e贷放款_线下贷款,鑫e贷放款_调整数,本月
许闻多,150,63.7000,63.7000,0.0000,0,0,63.7000
宋丽凤,150,67.5000,81.1000,10.0000,0,0,91.1000
孙仰阳,200,78.2222,76.4222,13.8000,0,0,90.2222
瞿逸程,150,0.0000,0.0000,0.0000,0,0,0.0000
顾伟丽,150,84.5260,84.5260,0.0000,0,0,84.5260
马越骋,150,0.0000,0.0000,0.0000,0,0,0.0000
陈名,150,34.2425,44.0425,0.0000,0,0,44.0425
万华,150,112.5334,114.1064,0.0000,0,0,114.1064
茅敏艳,150,77.5465,61.4351,16.9000,0,0,78.3351
钱潇伟,150,69.7000,61.7000,8.0000,0,0,69.7000
杨小东,1500,1041.3238,771.4938,364.6000,0,0,1136.0938
王美燕,750,188.1148,81.2200,128.8948,0,0,210.1148
徐君,750,428.4328,307.6412,132.7916,0,0,440.4328
李亚,650,593.0260,30.0000,563.0260,0,0,593.0260
杜星瑶,500,344.0000,90.8000,328.2000,0,0,419.0000
曹倩云,500,468.6271,103.8000,385.3271,0,0,489.1271
黄旭,500,452.3500,13.9000,479.4500,0,0,493.3500

In [ ]:
    
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果（报表完成数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

    result.loc[:,"鑫e贷放款_报表完成数"]=manager_total_fangkuan

    result.loc[:,"鑫e贷放款_报表完成数"]= result.loc[:,"鑫e贷放款_报表完成数"]/10000

    #第四个结果（自然流量完成数）

    #读取b款数据

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

    result.loc[:,"鑫e贷放款_自然流量完成数"]=result.loc[:,"鑫e贷放款_自然流量完成数"]/10000



    #第四个指标（线下贷款）

    offline_loan=daily_report[['线下贷款']]

    offline_loan.columns=['鑫e贷放款_线下贷款']

    result.loc[:,"鑫e贷放款_线下贷款"]=offline_loan


    #第五个指标(调整数)

    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷放款_调整数']]

    result.loc[:,"鑫e贷放款_调整数"]=adjust_number_result

    #计算本月和昨日轧差

    result=result.fillna(0)
    result.loc[:,"鑫e贷放款_本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum(axis=1)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
    result.loc[:,"鑫e贷放款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷放款_本月"]-result.loc[:,"鑫e贷放款_昨日本月"]

In [ ]:
result

,鑫e贷放款_指标,鑫e贷放款_昨日本月,鑫e贷放款_报表完成数,鑫e贷放款_自然流量完成数,鑫e贷放款_线下贷款,鑫e贷放款_调整数,鑫e贷放款_本月,鑫e贷放款_昨日完成数(轧差)
许闻多,150,63.7000,63.7000,0.0000,0,0,63.7000,0.0000
宋丽凤,150,67.5000,81.1000,10.0000,0,0,91.1000,23.6000
孙仰阳,200,78.2222,76.4222,13.8000,0,0,90.2222,12.0000
瞿逸程,150,0.0000,0.0000,0.0000,0,0,0.0000,0.0000
顾伟丽,150,84.5260,84.5260,0.0000,0,0,84.5260,0.0000
马越骋,150,0.0000,0.0000,0.0000,0,0,0.0000,0.0000
陈名,150,34.2425,44.0425,0.0000,0,0,44.0425,9.8000
万华,150,112.5334,114.1064,0.0000,0,0,114.1064,1.5730
茅敏艳,150,77.5465,61.4351,16.9000,0,0,78.3351,0.7886
钱潇伟,150,69.7000,61.7000,8.0000,0,0,69.7000,0.0000
杨小东,1500,1041.3238,771.4938,364.6000,0,0,1136.0938,94.7700
王美燕,750,188.1148,81.2200,128.8948,0,0,210.1148,22.0000
徐君,750,428.4328,307.6412,132.7916,0,0,440.4328,12.0000
李亚,650,593.0260,30.0000,563.0260,0,0,593.0260,0.0000
杜星瑶,500,344.0000,90.8000,328.2000,0,0,419.0000,75.0000
曹倩云,500,468.6271,103.8000,385.3271,0,0,489.1271,20.5000
黄旭,500,452.3500,13.9000,479.4500,0,0,493.3500,41.0000

In [ ]:
    result.loc[:,"鑫e贷放款_完成率"]=result.loc[:,"鑫e贷放款_本月"]/result.loc[:,"鑫e贷放款_指标"]

In [ ]:
result

,鑫e贷放款_指标,鑫e贷放款_昨日本月,鑫e贷放款_报表完成数,鑫e贷放款_自然流量完成数,鑫e贷放款_线下贷款,鑫e贷放款_调整数,鑫e贷放款_本月,鑫e贷放款_昨日完成数(轧差),鑫e贷放款_完成率
许闻多,150,63.7000,63.7000,0.0000,0,0,63.7000,0.0000,0.424667
宋丽凤,150,67.5000,81.1000,10.0000,0,0,91.1000,23.6000,0.607333
孙仰阳,200,78.2222,76.4222,13.8000,0,0,90.2222,12.0000,0.451111
瞿逸程,150,0.0000,0.0000,0.0000,0,0,0.0000,0.0000,0.000000
顾伟丽,150,84.5260,84.5260,0.0000,0,0,84.5260,0.0000,0.563507
马越骋,150,0.0000,0.0000,0.0000,0,0,0.0000,0.0000,0.000000
陈名,150,34.2425,44.0425,0.0000,0,0,44.0425,9.8000,0.293617
万华,150,112.5334,114.1064,0.0000,0,0,114.1064,1.5730,0.760709
茅敏艳,150,77.5465,61.4351,16.9000,0,0,78.3351,0.7886,0.522234
钱潇伟,150,69.7000,61.7000,8.0000,0,0,69.7000,0.0000,0.464667
杨小东,1500,1041.3238,771.4938,364.6000,0,0,1136.0938,94.7700,0.757396
王美燕,750,188.1148,81.2200,128.8948,0,0,210.1148,22.0000,0.280153
徐君,750,428.4328,307.6412,132.7916,0,0,440.4328,12.0000,0.587244
李亚,650,593.0260,30.0000,563.0260,0,0,593.0260,0.0000,0.912348
杜星瑶,500,344.0000,90.8000,328.2000,0,0,419.0000,75.0000,0.838000
曹倩云,500,468.6271,103.8000,385.3271,0,0,489.1271,20.5000,0.978254
黄旭,500,452.3500,13.9000,479.4500,0,0,493.3500,41.0000,0.986700

In [ ]:
    final_result=result[['鑫e贷放款_指标','鑫e贷放款_昨日完成数(轧差)',
                        '鑫e贷放款_报表数完成数','鑫e贷放款_自然流量完成数','线下贷款','鑫e贷放款_调整数',
                            '鑫e贷放款_本月','鑫e贷放款_完成率']]

KeyError: "['鑫e贷放款_报表数完成数', '线下贷款'] not in index"

In [ ]:
    final_result=result[['鑫e贷放款_指标','鑫e贷放款_昨日完成数(轧差)',
                        '鑫e贷放款_报表完成数','鑫e贷放款_自然流量完成数','鑫e贷放款_线下贷款','鑫e贷放款_调整数',
                            '鑫e贷放款_本月','鑫e贷放款_完成率']]

In [ ]:
final_result

,鑫e贷放款_指标,鑫e贷放款_昨日完成数(轧差),鑫e贷放款_报表完成数,鑫e贷放款_自然流量完成数,鑫e贷放款_线下贷款,鑫e贷放款_调整数,鑫e贷放款_本月,鑫e贷放款_完成率
许闻多,150,0.0000,63.7000,0.0000,0,0,63.7000,0.424667
宋丽凤,150,23.6000,81.1000,10.0000,0,0,91.1000,0.607333
孙仰阳,200,12.0000,76.4222,13.8000,0,0,90.2222,0.451111
瞿逸程,150,0.0000,0.0000,0.0000,0,0,0.0000,0.000000
顾伟丽,150,0.0000,84.5260,0.0000,0,0,84.5260,0.563507
马越骋,150,0.0000,0.0000,0.0000,0,0,0.0000,0.000000
陈名,150,9.8000,44.0425,0.0000,0,0,44.0425,0.293617
万华,150,1.5730,114.1064,0.0000,0,0,114.1064,0.760709
茅敏艳,150,0.7886,61.4351,16.9000,0,0,78.3351,0.522234
钱潇伟,150,0.0000,61.7000,8.0000,0,0,69.7000,0.464667
杨小东,1500,94.7700,771.4938,364.6000,0,0,1136.0938,0.757396
王美燕,750,22.0000,81.2200,128.8948,0,0,210.1148,0.280153
徐君,750,12.0000,307.6412,132.7916,0,0,440.4328,0.587244
李亚,650,0.0000,30.0000,563.0260,0,0,593.0260,0.912348
杜星瑶,500,75.0000,90.8000,328.2000,0,0,419.0000,0.838000
曹倩云,500,20.5000,103.8000,385.3271,0,0,489.1271,0.978254
黄旭,500,41.0000,13.9000,479.4500,0,0,493.3500,0.986700

In [ ]:

def XY_Dai_Fang_Kuang_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):
    
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果（报表完成数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

    result.loc[:,"鑫e贷放款_报表完成数"]=manager_total_fangkuan

    result.loc[:,"鑫e贷放款_报表完成数"]= result.loc[:,"鑫e贷放款_报表完成数"]/10000

    #第四个结果（自然流量完成数）

    #读取b款数据

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

    result.loc[:,"鑫e贷放款_自然流量完成数"]=result.loc[:,"鑫e贷放款_自然流量完成数"]/10000



    #第四个指标（线下贷款）

    offline_loan=daily_report[['线下贷款']]

    offline_loan.columns=['鑫e贷放款_线下贷款']

    result.loc[:,"鑫e贷放款_线下贷款"]=offline_loan


    #第五个指标(调整数)

    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷放款_调整数']]

    result.loc[:,"鑫e贷放款_调整数"]=adjust_number_result

    #计算本月和昨日轧差

    result=result.fillna(0)
    result.loc[:,"鑫e贷放款_本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum(axis=1)
    
    result.loc[:,"鑫e贷放款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷放款_本月"]-result.loc[:,"鑫e贷放款_昨日本月"]

    #完成率

    result.loc[:,"鑫e贷放款_完成率"]=result.loc[:,"鑫e贷放款_本月"]/result.loc[:,"鑫e贷放款_指标"]
    #
    final_result=result[['鑫e贷放款_指标','鑫e贷放款_昨日完成数(轧差)',
                        '鑫e贷放款_报表完成数','鑫e贷放款_自然流量完成数','鑫e贷放款_线下贷款','鑫e贷放款_调整数',
                            '鑫e贷放款_本月','鑫e贷放款_完成率']]

    final_result.to_excel(result_path+'\\'+'团队_鑫e贷放款完成情况.xlsx')
    
    print('恭喜米，团队鑫e贷放款计算完成')

    return final_result


XY_Dai_Fang_Kuang_Team_result=XY_Dai_Fang_Kuang_Team(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

ValueError: Length mismatch: Expected axis has 20 elements, new values have 44 elements

In [ ]:

def XY_Dai_Fang_Kuang_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):
    
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷放款_指标']]

    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷放款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    #第三个结果（报表完成数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_fangkuan=client_manager_df[['benyuefangkuanjine']]
    
    manager_total_fangkuan = monthly_fangkuan.groupby(monthly_fangkuan.index).sum()

    result.loc[:,"鑫e贷放款_报表完成数"]=manager_total_fangkuan

    result.loc[:,"鑫e贷放款_报表完成数"]= result.loc[:,"鑫e贷放款_报表完成数"]/10000

    #第四个结果（自然流量完成数）

    #读取b款数据

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户借据数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

    result.loc[:,"鑫e贷放款_自然流量完成数"]=result.loc[:,"鑫e贷放款_自然流量完成数"]/10000



    #第四个指标（线下贷款）

    offline_loan=daily_report[['线下贷款']]

    offline_loan.columns=['鑫e贷放款_线下贷款']

    result.loc[:,"鑫e贷放款_线下贷款"]=offline_loan


    #第五个指标(调整数)

    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷放款_调整数']]

    result.loc[:,"鑫e贷放款_调整数"]=adjust_number_result

    #计算本月和昨日轧差

    result=result.fillna(0)
    result.loc[:,"鑫e贷放款_本月"]=result.loc[:,"鑫e贷放款_报表完成数":"鑫e贷放款_调整数"].sum(axis=1)
    
    result.loc[:,"鑫e贷放款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷放款_本月"]-result.loc[:,"鑫e贷放款_昨日本月"]

    #完成率

    result.loc[:,"鑫e贷放款_完成率"]=result.loc[:,"鑫e贷放款_本月"]/result.loc[:,"鑫e贷放款_指标"]
    #
    final_result=result[['鑫e贷放款_指标','鑫e贷放款_昨日完成数(轧差)',
                        '鑫e贷放款_报表完成数','鑫e贷放款_自然流量完成数','鑫e贷放款_线下贷款','鑫e贷放款_调整数',
                            '鑫e贷放款_本月','鑫e贷放款_完成率']]

    final_result.to_excel(result_path+'\\'+'团队_鑫e贷放款完成情况.xlsx')
    
    print('恭喜米，团队鑫e贷放款计算完成')

    return final_result


XY_Dai_Fang_Kuang_Team_result=XY_Dai_Fang_Kuang_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)

恭喜米，团队鑫e贷放款计算完成

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

In [ ]:
kpi

1      指标   指标  指标 指标
许闻多   150    -   3  2
宋丽凤   150    -   3  2
孙仰阳   200    -   5  3
瞿逸程   150    -   3  2
顾伟丽   150  NaN   3  2
马越骋   150    -   3  2
陈名    150    -   3  2
万华    150    -   3  2
茅敏艳   150    -   3  2
钱潇伟   150    -   3  2
杨小东  1500   65  45  5
王美燕   750   65  45  3
徐君    750   65  45  3
李亚    650   60  40  3
杜星瑶   500   60  40  2
曹倩云   500   60  40  2
黄旭    500   60  40  2

In [ ]:
    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']

In [ ]:
    kpi_result=kpi[['鑫e贷总授信（A/B款）_指标']]

In [ ]:
kpi_result

    鑫e贷总授信（A/B款）_指标
许闻多               -
宋丽凤               -
孙仰阳               -
瞿逸程               -
顾伟丽             NaN
马越骋               -
陈名                -
万华                -
茅敏艳               -
钱潇伟               -
杨小东              65
王美燕              65
徐君               65
李亚               60
杜星瑶              60
曹倩云              60
黄旭               60

In [ ]:
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷总授信（A/B款）_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

In [ ]:
result

    鑫e贷总授信（A/B款）_指标 鑫e贷总授信（A/B款）_昨日本月
许闻多               -                 4
宋丽凤               -                 0
孙仰阳               -                 1
瞿逸程               -                 0
顾伟丽             NaN                 2
马越骋               -                 1
陈名                -                 2
万华                -                 3
茅敏艳               -                 2
钱潇伟               -                 1
杨小东              65                92
王美燕              65                68
徐君               65                37
李亚               60                52
杜星瑶              60                49
曹倩云              60                34
黄旭               60                36

In [ ]:

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

In [ ]:
    monthly_shouxin=client_manager_df[['benyueshouxinrenshu']]

    manager_total_shouxin = monthly_shouxin.groupby(monthly_shouxin.index).sum()

In [ ]:
manager_total_shouxin

                 benyueshouxinrenshu
kehujinglixingm
丁丹萍                                0
丁晓雄                                2
万云峰                                0
万佳来                                0
万华                                 5
...                              ...
龚昊                                 1
龚欣怡                                0
龚洁                                 0
龚浩                                 0
龚纯                                 0

[741 rows x 1 columns]

In [ ]:
    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_shouxin=client_manager_df[['benyueshouxinrenshu']]

    manager_total_shouxin = monthly_shouxin.groupby(monthly_shouxin.index).sum()

    result.loc[:,"鑫e贷总授信（A/B款）_报表数"]=manager_total_shouxin

In [ ]:
result

    鑫e贷总授信（A/B款）_指标 鑫e贷总授信（A/B款）_昨日本月  鑫e贷总授信（A/B款）_报表数
许闻多               -                 4                 4
宋丽凤               -                 0                 1
孙仰阳               -                 1                 1
瞿逸程               -                 0                 0
顾伟丽             NaN                 2                 2
马越骋               -                 1                 1
陈名                -                 2                 2
万华                -                 3                 5
茅敏艳               -                 2                 2
钱潇伟               -                 1                 1
杨小东              65                92                71
王美燕              65                68                55
徐君               65                37                33
李亚               60                52                28
杜星瑶              60                49                26
曹倩云              60                34                19
黄旭               60                36                24

In [ ]:
yesterday_retail_performance

NameError: name 'yesterday_retail_performance' is not defined

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:
    yesterday_retail_performance=daily_report[['外拓双算数']]

In [ ]:
yesterday_retail_performance

1   外拓双算数
许闻多   NaN
宋丽凤   NaN
孙仰阳   NaN
瞿逸程   NaN
顾伟丽   NaN
马越骋   NaN
陈名    NaN
万华    NaN
茅敏艳   NaN
钱潇伟   NaN
杨小东   NaN
王美燕    14
徐君    NaN
李亚      6
杜星瑶    12
曹倩云     6
黄旭    NaN

In [ ]:
    yesterday_retail_performance.columns=["鑫e贷总授信（A/B款）_昨日外拓双算数"]

In [ ]:
yesterday_retail_performance

    鑫e贷总授信（A/B款）_昨日外拓双算数
许闻多                  NaN
宋丽凤                  NaN
孙仰阳                  NaN
瞿逸程                  NaN
顾伟丽                  NaN
马越骋                  NaN
陈名                   NaN
万华                   NaN
茅敏艳                  NaN
钱潇伟                  NaN
杨小东                  NaN
王美燕                   14
徐君                   NaN
李亚                     6
杜星瑶                   12
曹倩云                    6
黄旭                   NaN

In [ ]:
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

In [ ]:
retail_performance_df

,外拓日期,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
0,45632.0,曹倩云,花木支行,2.0,6.0,1.0,4.0,1.0,2.0,3.0,9
1,45635.0,王美燕,曹路支行,5.0,1.0,4.0,1.0,1.0,0.0,1.0,6
2,45628.0,杨小东,陆家嘴支行,NaN,10.0,NaN,10.0,0.0,0.0,0.0,20
3,45629.0,杨小东,陆家嘴支行,NaN,18.0,NaN,18.0,0.0,0.0,0.0,36
4,45630.0,王美燕,陆家嘴支行,1.0,8.0,1.0,8.0,0.0,0.0,0.0,17
5,45630.0,徐君,营业部,6.0,1.0,6.0,1.0,0.0,0.0,0.0,8
6,45631.0,杨小东,陆家嘴支行,NaN,2.0,NaN,2.0,0.0,0.0,0.0,4
7,45632.0,杜星瑶,凌兆分理处,8.0,3.0,4.0,1.0,4.0,2.0,6.0,6
8,45635.0,徐君,高东支行,7.0,NaN,7.0,NaN,0.0,0.0,0.0,7
9,45636.0,杨小东,高桥支行,5.0,NaN,5.0,NaN,0.0,0.0,0.0,5
10,45636.0,曹倩云,花木支行,NaN,5.0,NaN,2.0,0.0,3.0,3.0,4
11,45636.0,王美燕,三林支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
12,45637.0,王美燕,张江支行,3.0,4.0,1.0,4.0,2.0,0.0,2.0,9
13,45637.0,杜星瑶,凌兆分理处,2.0,1.0,1.0,1.0,1.0,0.0,1.0,3
14,45638.0,王美燕,张江支行,3.0,3.0,2.0,2.0,1.0,1.0,2.0,6
15,45638.0,徐君,北蔡支行,NaN,7.0,NaN,7.0,0.0,0.0,0.0,14
16,45638.0,杜星瑶，王美燕,金杨支行,6.0,6.0,1.0,6.0,5.0,0.0,5.0,13
17,45639.0,李亚,合庆支行,NaN,11.0,NaN,5.0,0.0,6.0,6.0,10
18,45639.0,杜星瑶，王美燕,金杨支行,4.0,5.0,1.0,4.0,3.0,1.0,4.0,9
19,45639.0,杨小东,陆家嘴支行,NaN,17.0,NaN,17.0,0.0,0.0,0.0,34
20,45642.0,王美燕,陆家嘴支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
21,45643.0,李亚,王港支行,3.0,14.0,3.0,14.0,0.0,0.0,0.0,31
22,45643.0,王美燕,陆家嘴支行,1.0,10.0,1.0,10.0,0.0,0.0,0.0,21
23,45644.0,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
24,45644.0,徐君,杨思支行,10.0,NaN,5.0,NaN,5.0,0.0,5.0,5
25,45644.0,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
26,45644.0,王美燕,陆家嘴支行,NaN,6.0,NaN,6.0,0.0,0.0,0.0,12
27,45645.0,杨小东，曹倩云,王港支行,3.0,10.0,3.0,10.0,0.0,0.0,0.0,23
28,45645.0,王美燕,陆家嘴支行,NaN,12.0,NaN,12.0,0.0,0.0,0.0,24
29,45645.0,李亚,六里支行,1.0,5.0,1.0,5.0,0.0,0.0,0.0,11
30,45646.0,王美燕,三林支行,NaN,11.0,NaN,11.0,0.0,0.0,0.0,22
31,45646.0,李亚,合庆支行,NaN,9.0,NaN,2.0,0.0,7.0,7.0,4
32,45649.0,王美燕,陆家嘴支行,2.0,NaN,2.0,NaN,0.0,0.0,0.0,2
33,45650.0,徐君,杨思支行,4.0,2.0,1.0,2.0,3.0,0.0,3.0,5
34,45652.0,王美燕,三林支行,2.0,7.0,2.0,7.0,0.0,0.0,0.0,16
35,45652.0,徐君,营业部,2.0,4.0,2.0,4.0,0.0,0.0,0.0,10
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)

In [ ]:
retail_performance_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
45632.0,曹倩云,花木支行,2.0,6.0,1.0,4.0,1.0,2.0,3.0,9
45635.0,王美燕,曹路支行,5.0,1.0,4.0,1.0,1.0,0.0,1.0,6
45628.0,杨小东,陆家嘴支行,NaN,10.0,NaN,10.0,0.0,0.0,0.0,20
45629.0,杨小东,陆家嘴支行,NaN,18.0,NaN,18.0,0.0,0.0,0.0,36
45630.0,王美燕,陆家嘴支行,1.0,8.0,1.0,8.0,0.0,0.0,0.0,17
45630.0,徐君,营业部,6.0,1.0,6.0,1.0,0.0,0.0,0.0,8
45631.0,杨小东,陆家嘴支行,NaN,2.0,NaN,2.0,0.0,0.0,0.0,4
45632.0,杜星瑶,凌兆分理处,8.0,3.0,4.0,1.0,4.0,2.0,6.0,6
45635.0,徐君,高东支行,7.0,NaN,7.0,NaN,0.0,0.0,0.0,7
45636.0,杨小东,高桥支行,5.0,NaN,5.0,NaN,0.0,0.0,0.0,5
45636.0,曹倩云,花木支行,NaN,5.0,NaN,2.0,0.0,3.0,3.0,4
45636.0,王美燕,三林支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
45637.0,王美燕,张江支行,3.0,4.0,1.0,4.0,2.0,0.0,2.0,9
45637.0,杜星瑶,凌兆分理处,2.0,1.0,1.0,1.0,1.0,0.0,1.0,3
45638.0,王美燕,张江支行,3.0,3.0,2.0,2.0,1.0,1.0,2.0,6
45638.0,徐君,北蔡支行,NaN,7.0,NaN,7.0,0.0,0.0,0.0,14
45638.0,杜星瑶，王美燕,金杨支行,6.0,6.0,1.0,6.0,5.0,0.0,5.0,13
45639.0,李亚,合庆支行,NaN,11.0,NaN,5.0,0.0,6.0,6.0,10
45639.0,杜星瑶，王美燕,金杨支行,4.0,5.0,1.0,4.0,3.0,1.0,4.0,9
45639.0,杨小东,陆家嘴支行,NaN,17.0,NaN,17.0,0.0,0.0,0.0,34
45642.0,王美燕,陆家嘴支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
45643.0,李亚,王港支行,3.0,14.0,3.0,14.0,0.0,0.0,0.0,31
45643.0,王美燕,陆家嘴支行,1.0,10.0,1.0,10.0,0.0,0.0,0.0,21
45644.0,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
45644.0,徐君,杨思支行,10.0,NaN,5.0,NaN,5.0,0.0,5.0,5
45644.0,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
45644.0,王美燕,陆家嘴支行,NaN,6.0,NaN,6.0,0.0,0.0,0.0,12
45645.0,杨小东，曹倩云,王港支行,3.0,10.0,3.0,10.0,0.0,0.0,0.0,23
45645.0,王美燕,陆家嘴支行,NaN,12.0,NaN,12.0,0.0,0.0,0.0,24
45645.0,李亚,六里支行,1.0,5.0,1.0,5.0,0.0,0.0,0.0,11
45646.0,王美燕,三林支行,NaN,11.0,NaN,11.0,0.0,0.0,0.0,22
45646.0,李亚,合庆支行,NaN,9.0,NaN,2.0,0.0,7.0,7.0,4
45649.0,王美燕,陆家嘴支行,2.0,NaN,2.0,NaN,0.0,0.0,0.0,2
45650.0,徐君,杨思支行,4.0,2.0,1.0,2.0,3.0,0.0,3.0,5
45652.0,王美燕,三林支行,2.0,7.0,2.0,7.0,0.0,0.0,0.0,16
45652.0,徐君,营业部,2.0,4.0,2.0,4.0,0.0,0.0,0.0,10
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

In [ ]:
retail_performance_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-06,曹倩云,花木支行,2.0,6.0,1.0,4.0,1.0,2.0,3.0,9
2024-12-09,王美燕,曹路支行,5.0,1.0,4.0,1.0,1.0,0.0,1.0,6
2024-12-02,杨小东,陆家嘴支行,NaN,10.0,NaN,10.0,0.0,0.0,0.0,20
2024-12-03,杨小东,陆家嘴支行,NaN,18.0,NaN,18.0,0.0,0.0,0.0,36
2024-12-04,王美燕,陆家嘴支行,1.0,8.0,1.0,8.0,0.0,0.0,0.0,17
2024-12-04,徐君,营业部,6.0,1.0,6.0,1.0,0.0,0.0,0.0,8
2024-12-05,杨小东,陆家嘴支行,NaN,2.0,NaN,2.0,0.0,0.0,0.0,4
2024-12-06,杜星瑶,凌兆分理处,8.0,3.0,4.0,1.0,4.0,2.0,6.0,6
2024-12-09,徐君,高东支行,7.0,NaN,7.0,NaN,0.0,0.0,0.0,7
2024-12-10,杨小东,高桥支行,5.0,NaN,5.0,NaN,0.0,0.0,0.0,5
2024-12-10,曹倩云,花木支行,NaN,5.0,NaN,2.0,0.0,3.0,3.0,4
2024-12-10,王美燕,三林支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
2024-12-11,王美燕,张江支行,3.0,4.0,1.0,4.0,2.0,0.0,2.0,9
2024-12-11,杜星瑶,凌兆分理处,2.0,1.0,1.0,1.0,1.0,0.0,1.0,3
2024-12-12,王美燕,张江支行,3.0,3.0,2.0,2.0,1.0,1.0,2.0,6
2024-12-12,徐君,北蔡支行,NaN,7.0,NaN,7.0,0.0,0.0,0.0,14
2024-12-12,杜星瑶，王美燕,金杨支行,6.0,6.0,1.0,6.0,5.0,0.0,5.0,13
2024-12-13,李亚,合庆支行,NaN,11.0,NaN,5.0,0.0,6.0,6.0,10
2024-12-13,杜星瑶，王美燕,金杨支行,4.0,5.0,1.0,4.0,3.0,1.0,4.0,9
2024-12-13,杨小东,陆家嘴支行,NaN,17.0,NaN,17.0,0.0,0.0,0.0,34
2024-12-16,王美燕,陆家嘴支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
2024-12-17,李亚,王港支行,3.0,14.0,3.0,14.0,0.0,0.0,0.0,31
2024-12-17,王美燕,陆家嘴支行,1.0,10.0,1.0,10.0,0.0,0.0,0.0,21
2024-12-18,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
2024-12-18,徐君,杨思支行,10.0,NaN,5.0,NaN,5.0,0.0,5.0,5
2024-12-18,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
2024-12-18,王美燕,陆家嘴支行,NaN,6.0,NaN,6.0,0.0,0.0,0.0,12
2024-12-19,杨小东，曹倩云,王港支行,3.0,10.0,3.0,10.0,0.0,0.0,0.0,23
2024-12-19,王美燕,陆家嘴支行,NaN,12.0,NaN,12.0,0.0,0.0,0.0,24
2024-12-19,李亚,六里支行,1.0,5.0,1.0,5.0,0.0,0.0,0.0,11
2024-12-20,王美燕,三林支行,NaN,11.0,NaN,11.0,0.0,0.0,0.0,22
2024-12-20,李亚,合庆支行,NaN,9.0,NaN,2.0,0.0,7.0,7.0,4
2024-12-23,王美燕,陆家嘴支行,2.0,NaN,2.0,NaN,0.0,0.0,0.0,2
2024-12-24,徐君,杨思支行,4.0,2.0,1.0,2.0,3.0,0.0,3.0,5
2024-12-26,王美燕,三林支行,2.0,7.0,2.0,7.0,0.0,0.0,0.0,16
2024-12-26,徐君,营业部,2.0,4.0,2.0,4.0,0.0,0.0,0.0,10
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
    today_retail_df=retail_performance_df.loc[T0_Date,:]

In [ ]:
today_retail_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-26,王美燕,三林支行,2.0,7.0,2.0,7.0,0.0,0.0,0.0,16
2024-12-26,徐君,营业部,2.0,4.0,2.0,4.0,0.0,0.0,0.0,10

In [ ]:
T0_Date='2024-12-18'

In [ ]:
    today_retail_df=retail_performance_df.loc[T0_Date,:]

In [ ]:
today_retail_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-18,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
2024-12-18,徐君,杨思支行,10.0,NaN,5.0,NaN,5.0,0.0,5.0,5
2024-12-18,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
2024-12-18,王美燕,陆家嘴支行,NaN,6.0,NaN,6.0,0.0,0.0,0.0,12

In [ ]:
    today_retail_df=today_retail_df.fillna(0)

In [ ]:
today_retail_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-18,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
2024-12-18,徐君,杨思支行,10.0,0.0,5.0,0.0,5.0,0.0,5.0,5
2024-12-18,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
2024-12-18,王美燕,陆家嘴支行,0.0,6.0,0.0,6.0,0.0,0.0,0.0,12

In [ ]:
T0_Date='2024-12-23'

In [ ]:
    yesterday_retail_performance=daily_report[['外拓双算数']]

    yesterday_retail_performance.columns=["鑫e贷总授信（A/B款）_昨日外拓双算数"]

    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

In [ ]:
today_retail_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-23,王美燕,陆家嘴支行,2.0,NaN,2.0,NaN,0.0,0.0,0.0,2

In [ ]:
T0_Date='2024-12-18'

In [ ]:
    today_retail_df=retail_performance_df.loc[T0_Date,:]

In [ ]:
today_retail_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-18,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
2024-12-18,徐君,杨思支行,10.0,NaN,5.0,NaN,5.0,0.0,5.0,5
2024-12-18,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
2024-12-18,王美燕,陆家嘴支行,NaN,6.0,NaN,6.0,0.0,0.0,0.0,12

In [ ]:
    today_retail_df=today_retail_df.fillna(0)

In [ ]:
today_retail_df

,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
外拓日期,,,,,,,,,,
2024-12-18,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
2024-12-18,徐君,杨思支行,10.0,0.0,5.0,0.0,5.0,0.0,5.0,5
2024-12-18,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
2024-12-18,王美燕,陆家嘴支行,0.0,6.0,0.0,6.0,0.0,0.0,0.0,12

In [ ]:
    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nA款授信（户）','本场合计\nB款授信（户）','其中本人\nA款授信（户）','其中本人\nB款授信（户）']]

In [ ]:
today_retail_df

           客户经理姓名  本场合计\nA款授信（户）  本场合计\nB款授信（户）  其中本人\nA款授信（户）  其中本人\nB款授信（户）
外拓日期
2024-12-18    杜星瑶            5.0            2.0            5.0            2.0
2024-12-18     徐君           10.0            0.0            5.0            0.0
2024-12-18     黄旭            4.0           20.0            4.0           20.0
2024-12-18    王美燕            0.0            6.0            0.0            6.0

In [ ]:
    today_retail_df.loc[:,"鑫e贷总授信_今日协外拓双算数"]=today_retail_df.loc[:,"其本场合计\nA款授信（户）"]-today_retail_df.loc[:,"其中本人\nA款授信（户）"]+
                        today_retail_df.loc[:,"其本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]+

SyntaxError: invalid syntax (<ipython-input-209-a145342d8072>, line 1)

In [ ]:
    today_retail_df.loc[:,"鑫e贷总授信_今日协外拓双算数"]=today_retail_df.loc[:,"其本场合计\nA款授信（户）"]-today_retail_df.loc[:,"其中本人\nA款授信（户）"]+
                        today_retail_df.loc[:,"其本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]

SyntaxError: invalid syntax (<ipython-input-210-70e59aaad207>, line 1)

In [ ]:
    today_retail_df.loc[:,"鑫e贷总授信_今日协外拓双算数"]=today_retail_df.loc[:,"其本场合计\nA款授信（户）"]-today_retail_df.loc[:,"其中本人\nA款授信（户）"]+today_retail_df.loc[:,"其本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]

KeyError: '其本场合计\nA款授信（户）'

In [ ]:
    today_retail_df.loc[:,"鑫e贷总授信_今日外拓双算数"]=today_retail_df.loc[:,"本场合计\nA款授信（户）"]-today_retail_df.loc[:,"其中本人\nA款授信（户）"]+today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]

d:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [ ]:
today_retail_df

,客户经理姓名,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,鑫e贷总授信_今日外拓双算数
外拓日期,,,,,,
2024-12-18,杜星瑶,5.0,2.0,5.0,2.0,0.0
2024-12-18,徐君,10.0,0.0,5.0,0.0,5.0
2024-12-18,黄旭,4.0,20.0,4.0,20.0,0.0
2024-12-18,王美燕,0.0,6.0,0.0,6.0,0.0

In [ ]:
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷总授信_今日外拓双算数']]

In [ ]:
today_retail_result

           客户经理姓名  鑫e贷总授信_今日外拓双算数
外拓日期
2024-12-18    杜星瑶             0.0
2024-12-18     徐君             5.0
2024-12-18     黄旭             0.0
2024-12-18    王美燕             0.0

In [ ]:
    today_retail_result=today_retail_result.set_index('客户经理姓名	',drop=True)

KeyError: "None of ['客户经理姓名\\t'] are in the columns"

In [ ]:
    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

In [ ]:
today_retail_result

        鑫e贷总授信_今日外拓双算数
客户经理姓名
杜星瑶                0.0
徐君                 5.0
黄旭                 0.0
王美燕                0.0

In [ ]:
result

    鑫e贷总授信（A/B款）_指标 鑫e贷总授信（A/B款）_昨日本月  鑫e贷总授信（A/B款）_报表数
许闻多               -                 4                 4
宋丽凤               -                 0                 1
孙仰阳               -                 1                 1
瞿逸程               -                 0                 0
顾伟丽             NaN                 2                 2
马越骋               -                 1                 1
陈名                -                 2                 2
万华                -                 3                 5
茅敏艳               -                 2                 2
钱潇伟               -                 1                 1
杨小东              65                92                71
王美燕              65                68                55
徐君               65                37                33
李亚               60                52                28
杜星瑶              60                49                26
曹倩云              60                34                19
黄旭               60                36                24

In [ ]:
yesterday_retail_performance

    鑫e贷总授信（A/B款）_昨日外拓双算数
许闻多                  NaN
宋丽凤                  NaN
孙仰阳                  NaN
瞿逸程                  NaN
顾伟丽                  NaN
马越骋                  NaN
陈名                   NaN
万华                   NaN
茅敏艳                  NaN
钱潇伟                  NaN
杨小东                  NaN
王美燕                   14
徐君                   NaN
李亚                     6
杜星瑶                   12
曹倩云                    6
黄旭                   NaN

In [ ]:
    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

In [ ]:
newest_result

    鑫e贷总授信（A/B款）_昨日外拓双算数  鑫e贷总授信_今日外拓双算数
许闻多                  NaN             NaN
宋丽凤                  NaN             NaN
孙仰阳                  NaN             NaN
瞿逸程                  NaN             NaN
顾伟丽                  NaN             NaN
马越骋                  NaN             NaN
陈名                   NaN             NaN
万华                   NaN             NaN
茅敏艳                  NaN             NaN
钱潇伟                  NaN             NaN
杨小东                  NaN             NaN
王美燕                   14             0.0
徐君                   NaN             5.0
李亚                     6             NaN
杜星瑶                   12             0.0
曹倩云                    6             NaN
黄旭                   NaN             0.0

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷总授信（A/B款）_指标']]
    
    #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷总授信（A/B款）_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

    
    #第三个结果(报表完成数）

    client_manager_df=pd.read_excel(data_path+'\\'+client_manager_data)

    client_manager_df=client_manager_df.set_index('kehujinglixingm',drop=True)

    monthly_shouxin=client_manager_df[['benyueshouxinrenshu']]

    manager_total_shouxin = monthly_shouxin.groupby(monthly_shouxin.index).sum()

    result.loc[:,"鑫e贷总授信（A/B款）_报表数"]=manager_total_shouxin


    #第四个结果(外拓双算数)

    #提取昨日协同外拓数

    yesterday_retail_performance=daily_report[['外拓双算数']]

    yesterday_retail_performance.columns=["鑫e贷总授信（A/B款）_昨日外拓双算数"]

    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nA款授信（户）','本场合计\nB款授信（户）','其中本人\nA款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷总授信（A/B款）__今日外拓双算数"]=today_retail_df.loc[:,"本场合计\nA款授信（户）"]-today_retail_df.loc[:,"其中本人\nA款授信（户）"]+today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷总授信_今日外拓双算数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

KeyError: "['鑫e贷总授信_今日外拓双算数'] not in index"

In [ ]:
    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nA款授信（户）','本场合计\nB款授信（户）','其中本人\nA款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷总授信（A/B款）__今日外拓双算数"]=today_retail_df.loc[:,"本场合计\nA款授信（户）"]-today_retail_df.loc[:,"其中本人\nA款授信（户）"]+today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]

In [ ]:
today_retail_df

,客户经理姓名,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,鑫e贷总授信（A/B款）__今日外拓双算数
外拓日期,,,,,,
2024-12-18,杜星瑶,5.0,2.0,5.0,2.0,0.0
2024-12-18,徐君,10.0,0.0,5.0,0.0,5.0
2024-12-18,黄旭,4.0,20.0,4.0,20.0,0.0
2024-12-18,王美燕,0.0,6.0,0.0,6.0,0.0

In [ ]:
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷总授信（A/B款）__今日外拓双算数']]

In [ ]:
today_retail_result

           客户经理姓名  鑫e贷总授信（A/B款）__今日外拓双算数
外拓日期
2024-12-18    杜星瑶                    0.0
2024-12-18     徐君                    5.0
2024-12-18     黄旭                    0.0
2024-12-18    王美燕                    0.0

In [ ]:
    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

In [ ]:
    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

In [ ]:
newest_result

    鑫e贷总授信（A/B款）_昨日外拓双算数  鑫e贷总授信（A/B款）__今日外拓双算数
许闻多                  NaN                    NaN
宋丽凤                  NaN                    NaN
孙仰阳                  NaN                    NaN
瞿逸程                  NaN                    NaN
顾伟丽                  NaN                    NaN
马越骋                  NaN                    NaN
陈名                   NaN                    NaN
万华                   NaN                    NaN
茅敏艳                  NaN                    NaN
钱潇伟                  NaN                    NaN
杨小东                  NaN                    NaN
王美燕                   14                    0.0
徐君                   NaN                    5.0
李亚                     6                    NaN
杜星瑶                   12                    0.0
曹倩云                    6                    NaN
黄旭                   NaN                    0.0

In [ ]:
    newest_result.loc[:, "鑫e贷总授信（A/B款）_外拓双算数"] = (
        newest_result.loc[:, "	鑫e贷总授信（A/B款）_昨日外拓双算数"].fillna(0) +
        newest_result.loc[:, "鑫e贷总授信（A/B款）__今日外拓双算数"].fillna(0)
    )

KeyError: '\t鑫e贷总授信（A/B款）_昨日外拓双算数'

In [ ]:
    newest_result.loc[:, "鑫e贷总授信（A/B款）_外拓双算数"] = (
        newest_result.loc[:, "鑫e贷总授信（A/B款）_昨日外拓双算数"].fillna(0) +
        newest_result.loc[:, "鑫e贷总授信（A/B款）__今日外拓双算数"].fillna(0)
    )

In [ ]:
newest_result

    鑫e贷总授信（A/B款）_昨日外拓双算数  鑫e贷总授信（A/B款）__今日外拓双算数  鑫e贷总授信（A/B款）_外拓双算数
许闻多                  NaN                    NaN                 0.0
宋丽凤                  NaN                    NaN                 0.0
孙仰阳                  NaN                    NaN                 0.0
瞿逸程                  NaN                    NaN                 0.0
顾伟丽                  NaN                    NaN                 0.0
马越骋                  NaN                    NaN                 0.0
陈名                   NaN                    NaN                 0.0
万华                   NaN                    NaN                 0.0
茅敏艳                  NaN                    NaN                 0.0
钱潇伟                  NaN                    NaN                 0.0
杨小东                  NaN                    NaN                 0.0
王美燕                   14                    0.0                14.0
徐君                   NaN                    5.0                 5.0
李亚                     6                    NaN                 6.0
杜星瑶                   12                    0.0                12.0
曹倩云                    6                    NaN                 6.0
黄旭                   NaN                    0.0                 0.0

In [ ]:
    result.loc[:,"鑫e贷总授信（A/B款）_外拓双算数"]=newest_result.loc[:, "鑫e贷总授信（A/B款）_外拓双算数"]

In [ ]:
result

    鑫e贷总授信（A/B款）_指标 鑫e贷总授信（A/B款）_昨日本月  鑫e贷总授信（A/B款）_报表数  鑫e贷总授信（A/B款）_外拓双算数
许闻多               -                 4                 4                 0.0
宋丽凤               -                 0                 1                 0.0
孙仰阳               -                 1                 1                 0.0
瞿逸程               -                 0                 0                 0.0
顾伟丽             NaN                 2                 2                 0.0
马越骋               -                 1                 1                 0.0
陈名                -                 2                 2                 0.0
万华                -                 3                 5                 0.0
茅敏艳               -                 2                 2                 0.0
钱潇伟               -                 1                 1                 0.0
杨小东              65                92                71                 0.0
王美燕              65                68                55                14.0
徐君               65                37                33                 5.0
李亚               60                52                28                 6.0
杜星瑶              60                49                26                12.0
曹倩云              60                34                19                 6.0
黄旭               60                36                24                 0.0

In [ ]:

    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('fangkuanriq')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

    result.loc[:,"鑫e贷放款_自然流量完成数"]=netural_result

    result.loc[:,"鑫e贷放款_自然流量完成数"]=result.loc[:,"鑫e贷放款_自然流量完成数"]/10000

KeyError: "None of ['fangkuanriq'] are in the columns"

In [ ]:
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

    # 筛选出 yingxiaokehujingl 和 jingdiaokehujingl 不相等的行

    netural_df_filtered = netural_df[netural_df['yingxiaokehujingl'] != netural_df['jingdiaokehujingl']]

    netural_result= netural_df_filtered.groupby('jingdiaokehujingl', as_index=False)['fangkuanjine'].sum()
    
    netural_result=netural_result.set_index('jingdiaokehujingl',drop=True)

KeyError: "['jingdiaokehujingl', 'fangkuanjine'] not in index"

In [ ]:
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

In [ ]:
filtered_df

,shengqingshijian,1,1.1,shouxintongguoshijian,jingdiaowanchengshij,1.2,1.3,1.4,1.5,1.6,...,1.17,1.18,1.19,1.20,jingdiaokehujingli,1.21,1.22,1.23,1.24,1.25
qianyueshijian,,,,,,,,,,,,,,,,,,,,,
2024-12-12 12:10:51,2024-12-12 11:59:57,49.8,4.806,2024-12-12 12:01:59,2024-12-12 12:07:39,否,NaN,NaN,NaN,0.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,曹倩云,83960,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-04 09:53:48,2024-12-04 09:35:02,49.8,4.806,2024-12-04 09:47:30,2024-12-04 09:42:27,否,NaN,NaN,NaN,0.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,王美燕,81606,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-05 09:06:23,2024-11-29 17:52:44,28.5,7.506,2024-11-29 17:54:46,2024-12-04 08:53:43,是,3.0,28.5,28.5,28.5,...,10002.0,业务处理中心,-,-,黄旭,53465,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-13 09:11:28,2024-12-12 10:24:39,49.8,7.506,2024-12-12 10:30:43,2024-12-13 09:03:39,是,1.0,10.0,10.0,10.0,...,NaN,NaN,NaN,NaN,黄旭,53465,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-13 15:18:46,2024-12-13 11:31:15,49.8,7.506,2024-12-13 11:31:51,2024-12-13 13:56:18,是,2.0,40.0,40.0,40.0,...,10002.0,业务处理中心,-,-,杜星瑶,50419,31297,浦东分行本部,31298,浦东分行财务会计部
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-03 16:56:45,2024-12-03 14:33:39,49.8,5.508,2024-12-03 15:06:56,2024-12-03 15:01:53,是,1.0,20.0,20.0,20.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-13 14:05:20,2024-12-09 18:20:52,33.1,5.508,2024-12-09 18:22:53,2024-12-13 14:02:55,是,1.0,10.0,10.0,10.0,...,10002.0,业务处理中心,-,-,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-07 20:52:22,2024-09-06 16:53:50,49.8,4.806,2024-09-06 16:55:46,2024-12-07 09:14:21,否,NaN,NaN,NaN,0.0,...,10002.0,业务处理中心,-,-,曹倩云,83960,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-16 12:43:17,2024-12-15 20:57:08,49.8,4.806,2024-12-15 20:59:17,2024-12-16 12:32:01,是,1.0,20.0,20.0,20.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,顾伟丽,28614,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-16 12:55:12,2024-12-13 19:53:00,49.8,4.806,2024-12-13 19:55:06,2024-12-16 12:44:54,是,1.0,20.0,20.0,20.0,...,10002.0,业务处理中心,-,-,杜星瑶,50419,31297,浦东分行本部,31298,浦东分行财务会计部

In [ ]:
    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl','fangkuanjine']]

KeyError: "['jingdiaokehujingl', 'fangkuanjine'] not in index"

In [ ]:
    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

In [ ]:
filtered_df

,shengqingshijian,1,1.1,shouxintongguoshijian,jingdiaowanchengshij,1.2,1.3,1.4,1.5,1.6,...,1.17,1.18,1.19,1.20,jingdiaokehujingli,1.21,1.22,1.23,1.24,1.25
qianyueshijian,,,,,,,,,,,,,,,,,,,,,
2024-12-12 12:10:51,2024-12-12 11:59:57,49.8,4.806,2024-12-12 12:01:59,2024-12-12 12:07:39,否,NaN,NaN,NaN,0.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,曹倩云,83960,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-04 09:53:48,2024-12-04 09:35:02,49.8,4.806,2024-12-04 09:47:30,2024-12-04 09:42:27,否,NaN,NaN,NaN,0.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,王美燕,81606,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-05 09:06:23,2024-11-29 17:52:44,28.5,7.506,2024-11-29 17:54:46,2024-12-04 08:53:43,是,3.0,28.5,28.5,28.5,...,10002.0,业务处理中心,-,-,黄旭,53465,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-13 09:11:28,2024-12-12 10:24:39,49.8,7.506,2024-12-12 10:30:43,2024-12-13 09:03:39,是,1.0,10.0,10.0,10.0,...,NaN,NaN,NaN,NaN,黄旭,53465,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-13 15:18:46,2024-12-13 11:31:15,49.8,7.506,2024-12-13 11:31:51,2024-12-13 13:56:18,是,2.0,40.0,40.0,40.0,...,10002.0,业务处理中心,-,-,杜星瑶,50419,31297,浦东分行本部,31298,浦东分行财务会计部
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-03 16:56:45,2024-12-03 14:33:39,49.8,5.508,2024-12-03 15:06:56,2024-12-03 15:01:53,是,1.0,20.0,20.0,20.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-13 14:05:20,2024-12-09 18:20:52,33.1,5.508,2024-12-09 18:22:53,2024-12-13 14:02:55,是,1.0,10.0,10.0,10.0,...,10002.0,业务处理中心,-,-,杨小东,81607,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-07 20:52:22,2024-09-06 16:53:50,49.8,4.806,2024-09-06 16:55:46,2024-12-07 09:14:21,否,NaN,NaN,NaN,0.0,...,10002.0,业务处理中心,-,-,曹倩云,83960,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-16 12:43:17,2024-12-15 20:57:08,49.8,4.806,2024-12-15 20:59:17,2024-12-16 12:32:01,是,1.0,20.0,20.0,20.0,...,31297.0,浦东分行本部,31298,浦东分行财务会计部,顾伟丽,28614,31297,浦东分行本部,31298,浦东分行财务会计部
2024-12-16 12:55:12,2024-12-13 19:53:00,49.8,4.806,2024-12-13 19:55:06,2024-12-16 12:44:54,是,1.0,20.0,20.0,20.0,...,10002.0,业务处理中心,-,-,杜星瑶,50419,31297,浦东分行本部,31298,浦东分行财务会计部

In [ ]:
    netural_df=filtered_df[['jingdiaokehujingl','yingxiaokehujingl']]

KeyError: "['jingdiaokehujingl'] not in index"

In [ ]:
    netural_df=filtered_df[['jingdiaokehujingli','yingxiaokehujingl']]

In [ ]:
netural_df

                    jingdiaokehujingli yingxiaokehujingl
qianyueshijian
2024-12-12 12:10:51                曹倩云               曹倩云
2024-12-04 09:53:48                王美燕               王美燕
2024-12-05 09:06:23                 黄旭                刘丽
2024-12-13 09:11:28                 黄旭               NaN
2024-12-13 15:18:46                杜星瑶               田建全
...                                ...               ...
2024-12-03 16:56:45                杨小东               杨小东
2024-12-13 14:05:20                杨小东               陈绪灿
2024-12-07 20:52:22                曹倩云               田建全
2024-12-16 12:43:17                顾伟丽               顾伟丽
2024-12-16 12:55:12                杜星瑶               冯伟康

[366 rows x 2 columns]

In [ ]:
    netural_df=filtered_df[['jingdiaokehujingli','yingxiaokehujingl','fangkuanjine']]

KeyError: "['fangkuanjine'] not in index"

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
kpi_result

    鑫e贷授信-B款_指标
许闻多           3
宋丽凤           3
孙仰阳           5
瞿逸程           3
顾伟丽           3
马越骋           3
陈名            3
万华            3
茅敏艳           3
钱潇伟           3
杨小东          45
王美燕          45
徐君           45
李亚           40
杜星瑶          40
曹倩云          40
黄旭           40

In [ ]:

    #第二个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

In [ ]:

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月
许闻多           3             3
宋丽凤           3             0
孙仰阳           5             1
瞿逸程           3             0
顾伟丽           3             2
马越骋           3             1
陈名            3             2
万华            3             3
茅敏艳           3             1
钱潇伟           3             1
杨小东          45            81
王美燕          45            44
徐君           45            15
李亚           40            50
杜星瑶          40            31
曹倩云          40            33
黄旭           40            35

In [ ]:
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

In [ ]:
DD_time

                    jingdiaokehujingli
qianyueshijian
2024-12-12 12:10:51                曹倩云
2024-12-04 09:53:48                王美燕
2024-12-05 09:06:23                 黄旭
2024-12-13 09:11:28                 黄旭
2024-12-13 15:18:46                杜星瑶
...                                ...
2024-12-03 16:56:45                杨小东
2024-12-13 14:05:20                杨小东
2024-12-07 20:52:22                曹倩云
2024-12-16 12:43:17                顾伟丽
2024-12-16 12:55:12                杜星瑶

[366 rows x 1 columns]

In [ ]:
    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']

In [ ]:
DD_result

   index  count
0    杨小东     83
1     黄旭     50
2    王美燕     47
3     李亚     46
4    杜星瑶     33
5    曹倩云     30
6     徐君     18
7    许嘉陆      6
8    费文婷      6
9     万华      5
10   刘一瑾      4
11   张馨怡      4
12   徐圆圆      4
13    杨欢      3
14   许闻多      3
15    陈名      2
16   李雨蒙      2
17   顾伟丽      2
18    陈靓      2
19   张林美      2
20    张欢      1
21    袁冰      1
22   陈淑玲      1
23   陈莉娜      1
24   宋丽凤      1
25   马越骋      1
26   李志明      1
27   陶宏伟      1
28   杨宇鹭      1
29   茅敏艳      1
30   寿春连      1
31   钱潇伟      1
32   童思佳      1
33   孙仰阳      1

In [ ]:
    DD_result=DD_result.set_index('index',drop=True)

In [ ]:
DD_result

       count
index
杨小东       83
黄旭        50
王美燕       47
李亚        46
杜星瑶       33
曹倩云       30
徐君        18
许嘉陆        6
费文婷        6
万华         5
刘一瑾        4
张馨怡        4
徐圆圆        4
杨欢         3
许闻多        3
陈名         2
李雨蒙        2
顾伟丽        2
陈靓         2
张林美        2
张欢         1
袁冰         1
陈淑玲        1
陈莉娜        1
宋丽凤        1
马越骋        1
李志明        1
陶宏伟        1
杨宇鹭        1
茅敏艳        1
寿春连        1
钱潇伟        1
童思佳        1
孙仰阳        1

In [ ]:
    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数
许闻多           3             3           3.0
宋丽凤           3             0           1.0
孙仰阳           5             1           1.0
瞿逸程           3             0           NaN
顾伟丽           3             2           2.0
马越骋           3             1           1.0
陈名            3             2           2.0
万华            3             3           5.0
茅敏艳           3             1           1.0
钱潇伟           3             1           1.0
杨小东          45            81          83.0
王美燕          45            44          47.0
徐君           45            15          18.0
李亚           40            50          46.0
杜星瑶          40            31          33.0
曹倩云          40            33          30.0
黄旭           40            35          50.0

In [ ]:

    yesterday_retail_performance=daily_report[['协同外拓']]

    yesterday_retail_performance.columns=['鑫e贷总授信_昨日协同外拓','鑫e贷放款_昨日协同外拓','鑫e贷授信-B款_昨日协同外拓']

    yesterday_retail_performance=yesterday_retail_performance[['鑫e贷授信-B款_昨日协同外拓']]
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

KeyError: "None of [Index(['协同外拓'], dtype='object', name=1)] are in the [columns]"

In [ ]:
daily_report

1,指标,昨日,报表完成数,自然流量完成数,线下贷款,调整数,本月,完成率,指标,昨日,...,指标,昨日,报表数,外拓数,调整数,本月,完成率,指标,本月,完成率
许闻多,150,10,63.7,0,NaN,NaN,63.7,0.424667,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
宋丽凤,150,0,61.1,6.4,NaN,NaN,67.5,0.45,-,0,...,3,0,0,NaN,NaN,0,0,2,1,0.5
孙仰阳,200,2,64.4222,13.8,NaN,NaN,78.2222,0.391111,-,0,...,5,0,1,NaN,NaN,1,0.2,3,0,0
瞿逸程,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,0,NaN,NaN,0,0,2,0,0
顾伟丽,150,40,84.526,0,NaN,NaN,84.526,0.563507,NaN,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
马越骋,150,0,0,0,NaN,NaN,0,0,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
陈名,150,0,34.2425,0,NaN,NaN,34.2425,0.228283,-,0,...,3,0,2,NaN,NaN,2,0.666667,2,0,0
万华,150,0,112.5334,0,NaN,NaN,112.5334,0.750223,-,0,...,3,0,3,NaN,NaN,3,1,2,2,1
茅敏艳,150,6,60.5465,17,NaN,NaN,77.5465,0.516977,-,1,...,3,0,1,NaN,NaN,1,0.333333,2,0,0
钱潇伟,150,21,61.7,8,NaN,NaN,69.7,0.464667,-,0,...,3,0,1,NaN,NaN,1,0.333333,2,3,1.5
杨小东,1500,133,686.7238,354.6,NaN,NaN,1041.3238,0.694216,65,7,...,45,6,81,NaN,NaN,81,1.8,5,6,1.2
王美燕,750,14,81.22,106.8948,NaN,NaN,188.1148,0.25082,65,11,...,45,10,41,3,NaN,44,0.977778,3,12,4
徐君,750,12,305.6412,122.7916,NaN,NaN,428.4328,0.571244,65,7,...,45,1,15,NaN,NaN,15,0.333333,3,0,0
李亚,650,20,30,563.026,NaN,NaN,593.026,0.912348,60,16,...,40,14,44,6,NaN,50,1.25,3,0,0
杜星瑶,500,40,75.8,268.2,NaN,NaN,344,0.688,60,1,...,40,1,29,2,NaN,31,0.775,2,1,0.5
曹倩云,500,52,103.8,364.8271,NaN,NaN,468.6271,0.937254,60,1,...,40,1,28,5,NaN,33,0.825,2,1,0.5
黄旭,500,20,13.9,438.45,NaN,NaN,452.35,0.9047,60,3,...,40,3,35,NaN,NaN,35,0.875,2,1,0.5

In [ ]:

    yesterday_retail_performance=daily_report[['外拓数']]

In [ ]:
yesterday_retail_performance

1    外拓数
许闻多  NaN
宋丽凤  NaN
孙仰阳  NaN
瞿逸程  NaN
顾伟丽  NaN
马越骋  NaN
陈名   NaN
万华   NaN
茅敏艳  NaN
钱潇伟  NaN
杨小东  NaN
王美燕    3
徐君   NaN
李亚     6
杜星瑶    2
曹倩云    5
黄旭   NaN

In [ ]:
    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']

In [ ]:
yesterday_retail_performance

    鑫e贷授信-B款_昨日外拓数
许闻多            NaN
宋丽凤            NaN
孙仰阳            NaN
瞿逸程            NaN
顾伟丽            NaN
马越骋            NaN
陈名             NaN
万华             NaN
茅敏艳            NaN
钱潇伟            NaN
杨小东            NaN
王美燕              3
徐君             NaN
李亚               6
杜星瑶              2
曹倩云              5
黄旭             NaN

In [ ]:
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

In [ ]:
retail_performance_df

,外拓日期,客户经理姓名,协同外拓网点,本场合计\nA款授信（户）,本场合计\nB款授信（户）,其中本人\nA款授信（户）,其中本人\nB款授信（户）,网点A,网点B,本人加,网点加
0,45632.0,曹倩云,花木支行,2.0,6.0,1.0,4.0,1.0,2.0,3.0,9
1,45635.0,王美燕,曹路支行,5.0,1.0,4.0,1.0,1.0,0.0,1.0,6
2,45628.0,杨小东,陆家嘴支行,NaN,10.0,NaN,10.0,0.0,0.0,0.0,20
3,45629.0,杨小东,陆家嘴支行,NaN,18.0,NaN,18.0,0.0,0.0,0.0,36
4,45630.0,王美燕,陆家嘴支行,1.0,8.0,1.0,8.0,0.0,0.0,0.0,17
5,45630.0,徐君,营业部,6.0,1.0,6.0,1.0,0.0,0.0,0.0,8
6,45631.0,杨小东,陆家嘴支行,NaN,2.0,NaN,2.0,0.0,0.0,0.0,4
7,45632.0,杜星瑶,凌兆分理处,8.0,3.0,4.0,1.0,4.0,2.0,6.0,6
8,45635.0,徐君,高东支行,7.0,NaN,7.0,NaN,0.0,0.0,0.0,7
9,45636.0,杨小东,高桥支行,5.0,NaN,5.0,NaN,0.0,0.0,0.0,5
10,45636.0,曹倩云,花木支行,NaN,5.0,NaN,2.0,0.0,3.0,3.0,4
11,45636.0,王美燕,三林支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
12,45637.0,王美燕,张江支行,3.0,4.0,1.0,4.0,2.0,0.0,2.0,9
13,45637.0,杜星瑶,凌兆分理处,2.0,1.0,1.0,1.0,1.0,0.0,1.0,3
14,45638.0,王美燕,张江支行,3.0,3.0,2.0,2.0,1.0,1.0,2.0,6
15,45638.0,徐君,北蔡支行,NaN,7.0,NaN,7.0,0.0,0.0,0.0,14
16,45638.0,杜星瑶，王美燕,金杨支行,6.0,6.0,1.0,6.0,5.0,0.0,5.0,13
17,45639.0,李亚,合庆支行,NaN,11.0,NaN,5.0,0.0,6.0,6.0,10
18,45639.0,杜星瑶，王美燕,金杨支行,4.0,5.0,1.0,4.0,3.0,1.0,4.0,9
19,45639.0,杨小东,陆家嘴支行,NaN,17.0,NaN,17.0,0.0,0.0,0.0,34
20,45642.0,王美燕,陆家嘴支行,1.0,2.0,1.0,2.0,0.0,0.0,0.0,5
21,45643.0,李亚,王港支行,3.0,14.0,3.0,14.0,0.0,0.0,0.0,31
22,45643.0,王美燕,陆家嘴支行,1.0,10.0,1.0,10.0,0.0,0.0,0.0,21
23,45644.0,杜星瑶,六里支行,5.0,2.0,5.0,2.0,0.0,0.0,0.0,9
24,45644.0,徐君,杨思支行,10.0,NaN,5.0,NaN,5.0,0.0,5.0,5
25,45644.0,黄旭,王港支行,4.0,20.0,4.0,20.0,0.0,0.0,0.0,44
26,45644.0,王美燕,陆家嘴支行,NaN,6.0,NaN,6.0,0.0,0.0,0.0,12
27,45645.0,杨小东，曹倩云,王港支行,3.0,10.0,3.0,10.0,0.0,0.0,0.0,23
28,45645.0,王美燕,陆家嘴支行,NaN,12.0,NaN,12.0,0.0,0.0,0.0,24
29,45645.0,李亚,六里支行,1.0,5.0,1.0,5.0,0.0,0.0,0.0,11
30,45646.0,王美燕,三林支行,NaN,11.0,NaN,11.0,0.0,0.0,0.0,22
31,45646.0,李亚,合庆支行,NaN,9.0,NaN,2.0,0.0,7.0,7.0,4
32,45649.0,王美燕,陆家嘴支行,2.0,NaN,2.0,NaN,0.0,0.0,0.0,2
33,45650.0,徐君,杨思支行,4.0,2.0,1.0,2.0,3.0,0.0,3.0,5
34,45652.0,王美燕,三林支行,2.0,7.0,2.0,7.0,0.0,0.0,0.0,16
35,45652.0,徐君,营业部,2.0,4.0,2.0,4.0,0.0,0.0,0.0,10
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]
    
    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df[['客户经理姓名','协同外拓网点','其中本人\nA款授信（户）','其中本人\nB款授信（户）']]
    
    today_retail_df=today_retail_df.fillna(0)

In [ ]:
today_retail_df

           客户经理姓名 协同外拓网点  其中本人\nA款授信（户）  其中本人\nB款授信（户）
外拓日期
2024-12-18    杜星瑶   六里支行            5.0            2.0
2024-12-18     徐君   杨思支行            5.0            0.0
2024-12-18     黄旭   王港支行            4.0           20.0
2024-12-18    王美燕  陆家嘴支行            0.0            6.0

In [ ]:
    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

In [ ]:
today_retail_df

           客户经理姓名  本场合计\nB款授信（户）  其中本人\nB款授信（户）
外拓日期
2024-12-18    杜星瑶            2.0            2.0
2024-12-18     徐君            0.0            0.0
2024-12-18     黄旭           20.0           20.0
2024-12-18    王美燕            6.0            6.0

In [ ]:
    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]

In [ ]:
today_retail_df

           客户经理姓名  本场合计\nB款授信（户）  其中本人\nB款授信（户）  鑫e贷授信-B款__今日外拓数
外拓日期
2024-12-18    杜星瑶            2.0            2.0              0.0
2024-12-18     徐君            0.0            0.0              0.0
2024-12-18     黄旭           20.0           20.0              0.0
2024-12-18    王美燕            6.0            6.0              0.0

In [ ]:
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

In [ ]:
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

In [ ]:
newest_result

    鑫e贷授信-B款_昨日外拓数  鑫e贷授信-B款__今日外拓数
许闻多            NaN              NaN
宋丽凤            NaN              NaN
孙仰阳            NaN              NaN
瞿逸程            NaN              NaN
顾伟丽            NaN              NaN
马越骋            NaN              NaN
陈名             NaN              NaN
万华             NaN              NaN
茅敏艳            NaN              NaN
钱潇伟            NaN              NaN
杨小东            NaN              NaN
王美燕              3              0.0
徐君             NaN              0.0
李亚               6              NaN
杜星瑶              2              0.0
曹倩云              5              NaN
黄旭             NaN              0.0

In [ ]:
    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

In [ ]:
newest_result

    鑫e贷授信-B款_昨日外拓数  鑫e贷授信-B款__今日外拓数  鑫e贷授信-B款__外拓数
许闻多            NaN              NaN            0.0
宋丽凤            NaN              NaN            0.0
孙仰阳            NaN              NaN            0.0
瞿逸程            NaN              NaN            0.0
顾伟丽            NaN              NaN            0.0
马越骋            NaN              NaN            0.0
陈名             NaN              NaN            0.0
万华             NaN              NaN            0.0
茅敏艳            NaN              NaN            0.0
钱潇伟            NaN              NaN            0.0
杨小东            NaN              NaN            0.0
王美燕              3              0.0            3.0
徐君             NaN              0.0            0.0
李亚               6              NaN            6.0
杜星瑶              2              0.0            2.0
曹倩云              5              NaN            5.0
黄旭             NaN              0.0            0.0

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数
许闻多           3             3           3.0
宋丽凤           3             0           1.0
孙仰阳           5             1           1.0
瞿逸程           3             0           NaN
顾伟丽           3             2           2.0
马越骋           3             1           1.0
陈名            3             2           2.0
万华            3             3           5.0
茅敏艳           3             1           1.0
钱潇伟           3             1           1.0
杨小东          45            81          83.0
王美燕          45            44          47.0
徐君           45            15          18.0
李亚           40            50          46.0
杜星瑶          40            31          33.0
曹倩云          40            33          30.0
黄旭           40            35          50.0

In [ ]:
    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数  鑫e贷授信-B款_外拓数
许闻多           3             3           3.0           0.0
宋丽凤           3             0           1.0           0.0
孙仰阳           5             1           1.0           0.0
瞿逸程           3             0           NaN           0.0
顾伟丽           3             2           2.0           0.0
马越骋           3             1           1.0           0.0
陈名            3             2           2.0           0.0
万华            3             3           5.0           0.0
茅敏艳           3             1           1.0           0.0
钱潇伟           3             1           1.0           0.0
杨小东          45            81          83.0           0.0
王美燕          45            44          47.0           3.0
徐君           45            15          18.0           0.0
李亚           40            50          46.0           6.0
杜星瑶          40            31          33.0           2.0
曹倩云          40            33          30.0           5.0
黄旭           40            35          50.0           0.0

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数  鑫e贷授信-B款_外拓数
许闻多           3             3           3.0           0.0
宋丽凤           3             0           1.0           0.0
孙仰阳           5             1           1.0           0.0
瞿逸程           3             0           NaN           0.0
顾伟丽           3             2           2.0           0.0
马越骋           3             1           1.0           0.0
陈名            3             2           2.0           0.0
万华            3             3           5.0           0.0
茅敏艳           3             1           1.0           0.0
钱潇伟           3             1           1.0           0.0
杨小东          45            81          83.0           0.0
王美燕          45            44          47.0           3.0
徐君           45            15          18.0           0.0
李亚           40            50          46.0           6.0
杜星瑶          40            31          33.0           2.0
曹倩云          40            33          30.0           5.0
黄旭           40            35          50.0           0.0

In [ ]:
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"鑫e贷放款_调整数"]=adjust_number_result

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数  鑫e贷授信-B款_外拓数 鑫e贷放款_调整数
许闻多           3             3           3.0           0.0       NaN
宋丽凤           3             0           1.0           0.0       NaN
孙仰阳           5             1           1.0           0.0       NaN
瞿逸程           3             0           NaN           0.0       NaN
顾伟丽           3             2           2.0           0.0       NaN
马越骋           3             1           1.0           0.0       NaN
陈名            3             2           2.0           0.0       NaN
万华            3             3           5.0           0.0       NaN
茅敏艳           3             1           1.0           0.0       NaN
钱潇伟           3             1           1.0           0.0       NaN
杨小东          45            81          83.0           0.0       NaN
王美燕          45            44          47.0           3.0       NaN
徐君           45            15          18.0           0.0       NaN
李亚           40            50          46.0           6.0       NaN
杜星瑶          40            31          33.0           2.0       NaN
曹倩云          40            33          30.0           5.0       NaN
黄旭           40            35          50.0           0.0       NaN

In [ ]:
adjust_number

    鑫e贷放款_调整数 鑫e贷总授信（A/B款）_调整数 鑫e贷授信-B款_调整数
许闻多       NaN              NaN          NaN
宋丽凤       NaN              NaN          NaN
孙仰阳       NaN              NaN          NaN
瞿逸程       NaN              NaN          NaN
顾伟丽       NaN              NaN          NaN
马越骋       NaN              NaN          NaN
陈名        NaN              NaN          NaN
万华        NaN              NaN          NaN
茅敏艳       NaN              NaN          NaN
钱潇伟       NaN              NaN          NaN
杨小东       NaN                2          NaN
王美燕       NaN              NaN          NaN
徐君        NaN              NaN          NaN
李亚        NaN              NaN          NaN
杜星瑶       NaN              NaN          NaN
曹倩云       NaN              NaN          NaN
黄旭        NaN              NaN          NaN

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数  鑫e贷授信-B款_外拓数 鑫e贷放款_调整数
许闻多           3             3           3.0           0.0       NaN
宋丽凤           3             0           1.0           0.0       NaN
孙仰阳           5             1           1.0           0.0       NaN
瞿逸程           3             0           NaN           0.0       NaN
顾伟丽           3             2           2.0           0.0       NaN
马越骋           3             1           1.0           0.0       NaN
陈名            3             2           2.0           0.0       NaN
万华            3             3           5.0           0.0       NaN
茅敏艳           3             1           1.0           0.0       NaN
钱潇伟           3             1           1.0           0.0       NaN
杨小东          45            81          83.0           0.0       NaN
王美燕          45            44          47.0           3.0       NaN
徐君           45            15          18.0           0.0       NaN
李亚           40            50          46.0           6.0       NaN
杜星瑶          40            31          33.0           2.0       NaN
曹倩云          40            33          30.0           5.0       NaN
黄旭           40            35          50.0           0.0       NaN

In [ ]:
    result.loc[:,"鑫e贷授信-B款_完成数"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

KeyError: "['鑫e贷授信-B款_调整数'] not in index"

In [ ]:
    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"'鑫e贷授信-B款_调整数"]=adjust_number_result

In [ ]:

    #第六个结果（完成数）

    result.loc[:,"鑫e贷授信-B款_完成数"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

KeyError: "['鑫e贷授信-B款_调整数'] not in index"

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)


    #第三个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

    #第四个结果（外拓数）

    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"'鑫e贷授信-B款_调整数"]=adjust_number_result

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数  鑫e贷授信-B款_外拓数 '鑫e贷授信-B款_调整数
许闻多           3             3           3.0           0.0           NaN
宋丽凤           3             0           1.0           0.0           NaN
孙仰阳           5             1           1.0           0.0           NaN
瞿逸程           3             0           NaN           0.0           NaN
顾伟丽           3             2           2.0           0.0           NaN
马越骋           3             1           1.0           0.0           NaN
陈名            3             2           2.0           0.0           NaN
万华            3             3           5.0           0.0           NaN
茅敏艳           3             1           1.0           0.0           NaN
钱潇伟           3             1           1.0           0.0           NaN
杨小东          45            81          83.0           0.0           NaN
王美燕          45            44          47.0           3.0           NaN
徐君           45            15          18.0           0.0           NaN
李亚           40            50          46.0           6.0           NaN
杜星瑶          40            31          33.0           2.0           NaN
曹倩云          40            33          30.0           5.0           NaN
黄旭           40            35          50.0           0.0           NaN

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)


    #第三个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

    #第四个结果（外拓数）

    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"鑫e贷授信-B款_调整数"]=adjust_number_result

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
result

    鑫e贷授信-B款_指标 鑫e贷授信-B款_昨日本月  鑫e贷授信-B款_报表数  鑫e贷授信-B款_外拓数 鑫e贷授信-B款_调整数
许闻多           3             3           3.0           0.0          NaN
宋丽凤           3             0           1.0           0.0          NaN
孙仰阳           5             1           1.0           0.0          NaN
瞿逸程           3             0           NaN           0.0          NaN
顾伟丽           3             2           2.0           0.0          NaN
马越骋           3             1           1.0           0.0          NaN
陈名            3             2           2.0           0.0          NaN
万华            3             3           5.0           0.0          NaN
茅敏艳           3             1           1.0           0.0          NaN
钱潇伟           3             1           1.0           0.0          NaN
杨小东          45            81          83.0           0.0          NaN
王美燕          45            44          47.0           3.0          NaN
徐君           45            15          18.0           0.0          NaN
李亚           40            50          46.0           6.0          NaN
杜星瑶          40            31          33.0           2.0          NaN
曹倩云          40            33          30.0           5.0          NaN
黄旭           40            35          50.0           0.0          NaN

In [ ]:
    result.loc[:,"鑫e贷授信-B款_完成数"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

In [ ]:
result

,鑫e贷授信-B款_指标,鑫e贷授信-B款_昨日本月,鑫e贷授信-B款_报表数,鑫e贷授信-B款_外拓数,鑫e贷授信-B款_调整数,鑫e贷授信-B款_完成数
许闻多,3,3,3.0,0.0,NaN,3.0
宋丽凤,3,0,1.0,0.0,NaN,1.0
孙仰阳,5,1,1.0,0.0,NaN,1.0
瞿逸程,3,0,NaN,0.0,NaN,0.0
顾伟丽,3,2,2.0,0.0,NaN,2.0
马越骋,3,1,1.0,0.0,NaN,1.0
陈名,3,2,2.0,0.0,NaN,2.0
万华,3,3,5.0,0.0,NaN,5.0
茅敏艳,3,1,1.0,0.0,NaN,1.0
钱潇伟,3,1,1.0,0.0,NaN,1.0
杨小东,45,81,83.0,0.0,NaN,83.0
王美燕,45,44,47.0,3.0,NaN,50.0
徐君,45,15,18.0,0.0,NaN,18.0
李亚,40,50,46.0,6.0,NaN,52.0
杜星瑶,40,31,33.0,2.0,NaN,35.0
曹倩云,40,33,30.0,5.0,NaN,35.0
黄旭,40,35,50.0,0.0,NaN,50.0

In [ ]:

    result.loc[:,"鑫e贷授信-B款_本月"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

    result.loc[:, "鑫e贷授信-B款_完成率"] = (result.loc[:, "鑫e贷授信-B款_本月"] /
                             result.loc[:, "鑫e贷授信-B款_指标"]).fillna(0).round(2)

In [ ]:
result

,鑫e贷授信-B款_指标,鑫e贷授信-B款_昨日本月,鑫e贷授信-B款_报表数,鑫e贷授信-B款_外拓数,鑫e贷授信-B款_调整数,鑫e贷授信-B款_完成数,鑫e贷授信-B款_本月,鑫e贷授信-B款_完成率
许闻多,3,3,3.0,0.0,NaN,3.0,3.0,1.00
宋丽凤,3,0,1.0,0.0,NaN,1.0,1.0,0.33
孙仰阳,5,1,1.0,0.0,NaN,1.0,1.0,0.20
瞿逸程,3,0,NaN,0.0,NaN,0.0,0.0,0.00
顾伟丽,3,2,2.0,0.0,NaN,2.0,2.0,0.67
马越骋,3,1,1.0,0.0,NaN,1.0,1.0,0.33
陈名,3,2,2.0,0.0,NaN,2.0,2.0,0.67
万华,3,3,5.0,0.0,NaN,5.0,5.0,1.67
茅敏艳,3,1,1.0,0.0,NaN,1.0,1.0,0.33
钱潇伟,3,1,1.0,0.0,NaN,1.0,1.0,0.33
杨小东,45,81,83.0,0.0,NaN,83.0,83.0,1.84
王美燕,45,44,47.0,3.0,NaN,50.0,50.0,1.11
徐君,45,15,18.0,0.0,NaN,18.0,18.0,0.40
李亚,40,50,46.0,6.0,NaN,52.0,52.0,1.30
杜星瑶,40,31,33.0,2.0,NaN,35.0,35.0,0.88
曹倩云,40,33,30.0,5.0,NaN,35.0,35.0,0.88
黄旭,40,35,50.0,0.0,NaN,50.0,50.0,1.25

In [ ]:
    result.loc[:,"鑫e贷授信-B款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷授信-B款_本月"]-result.loc[:,"鑫e贷授信-B款_昨日本月"]

In [ ]:
result

,鑫e贷授信-B款_指标,鑫e贷授信-B款_昨日本月,鑫e贷授信-B款_报表数,鑫e贷授信-B款_外拓数,鑫e贷授信-B款_调整数,鑫e贷授信-B款_完成数,鑫e贷授信-B款_本月,鑫e贷授信-B款_完成率,鑫e贷授信-B款_昨日完成数(轧差)
许闻多,3,3,3.0,0.0,NaN,3.0,3.0,1.00,0.0
宋丽凤,3,0,1.0,0.0,NaN,1.0,1.0,0.33,1.0
孙仰阳,5,1,1.0,0.0,NaN,1.0,1.0,0.20,0.0
瞿逸程,3,0,NaN,0.0,NaN,0.0,0.0,0.00,0.0
顾伟丽,3,2,2.0,0.0,NaN,2.0,2.0,0.67,0.0
马越骋,3,1,1.0,0.0,NaN,1.0,1.0,0.33,0.0
陈名,3,2,2.0,0.0,NaN,2.0,2.0,0.67,0.0
万华,3,3,5.0,0.0,NaN,5.0,5.0,1.67,2.0
茅敏艳,3,1,1.0,0.0,NaN,1.0,1.0,0.33,0.0
钱潇伟,3,1,1.0,0.0,NaN,1.0,1.0,0.33,0.0
杨小东,45,81,83.0,0.0,NaN,83.0,83.0,1.84,2.0
王美燕,45,44,47.0,3.0,NaN,50.0,50.0,1.11,6.0
徐君,45,15,18.0,0.0,NaN,18.0,18.0,0.40,3.0
李亚,40,50,46.0,6.0,NaN,52.0,52.0,1.30,2.0
杜星瑶,40,31,33.0,2.0,NaN,35.0,35.0,0.88,4.0
曹倩云,40,33,30.0,5.0,NaN,35.0,35.0,0.88,2.0
黄旭,40,35,50.0,0.0,NaN,50.0,50.0,1.25,15.0

In [ ]:

    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_调整数','鑫e贷授信-B款','鑫e贷授信-B款_完成率']]
    
    result.to_excel(result_path+'\\'+'鑫e贷授信-B款团队_完成情况.xlsx')

KeyError: "['鑫e贷授信-B款'] not in index"

In [ ]:
    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_调整数','鑫e贷授信-B款本月','鑫e贷授信-B款_完成率']]

KeyError: "['鑫e贷授信-B款本月'] not in index"

In [ ]:

    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_调整数','鑫e贷授信-B款_本月','鑫e贷授信-B款_完成率']]

In [ ]:
def B_Kuang_Shou_Xin_Team(data_path,yesterday_daily_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)


    #第三个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

    #第四个结果（外拓数）

    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"鑫e贷授信-B款_调整数"]=adjust_number_result


    #第六个结果（完成数）

    result.loc[:,"鑫e贷授信-B款_本月"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

    result.loc[:, "鑫e贷授信-B款_完成率"] = (result.loc[:, "鑫e贷授信-B款_本月"] /
                             result.loc[:, "鑫e贷授信-B款_指标"]).fillna(0).round(2)
    

    #计算本月和昨日轧差

    result=result.fillna(0)
    
    result.loc[:,"鑫e贷授信-B款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷授信-B款_本月"]-result.loc[:,"鑫e贷授信-B款_昨日本月"]


    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_调整数','鑫e贷授信-B款_本月','鑫e贷授信-B款_完成率']]
    
    final_result.to_excel(result_path+'\\'+'鑫e贷授信-B款团队_完成情况.xlsx')

    print('恭喜米，鑫e贷授信-B款计算完成')

    return final_result

In [ ]:

def B_Kuang_Shou_Xin_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)


    #第三个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

    #第四个结果（外拓数）

    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"鑫e贷授信-B款_调整数"]=adjust_number_result


    #第六个结果（完成数）

    result.loc[:,"鑫e贷授信-B款_本月"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

    result.loc[:, "鑫e贷授信-B款_完成率"] = (result.loc[:, "鑫e贷授信-B款_本月"] /
                             result.loc[:, "鑫e贷授信-B款_指标"]).fillna(0).round(2)
    

    #计算本月和昨日轧差

    result=result.fillna(0)
    
    result.loc[:,"鑫e贷授信-B款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷授信-B款_本月"]-result.loc[:,"鑫e贷授信-B款_昨日本月"]


    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_调整数','鑫e贷授信-B款_本月','鑫e贷授信-B款_完成率']]
    
    final_result.to_excel(result_path+'\\'+'鑫e贷授信-B款团队_完成情况.xlsx')

    print('恭喜米，鑫e贷授信-B款计算完成')

    return final_result


B_Kuang_Shou_Xin_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

恭喜米，鑫e贷授信-B款计算完成

,鑫e贷授信-B款_指标,鑫e贷授信-B款_昨日完成数(轧差),鑫e贷授信-B款_报表数,鑫e贷授信-B款_调整数,鑫e贷授信-B款_本月,鑫e贷授信-B款_完成率
许闻多,3,0.0,3.0,0,3.0,1.00
宋丽凤,3,1.0,1.0,0,1.0,0.33
孙仰阳,5,0.0,1.0,0,1.0,0.20
瞿逸程,3,0.0,0.0,0,0.0,0.00
顾伟丽,3,0.0,2.0,0,2.0,0.67
马越骋,3,0.0,1.0,0,1.0,0.33
陈名,3,0.0,2.0,0,2.0,0.67
万华,3,2.0,5.0,0,5.0,1.67
茅敏艳,3,0.0,1.0,0,1.0,0.33
钱潇伟,3,0.0,1.0,0,1.0,0.33
杨小东,45,2.0,83.0,0,83.0,1.84
王美燕,45,6.0,47.0,0,50.0,1.11
徐君,45,3.0,18.0,0,18.0,0.40
李亚,40,2.0,46.0,0,52.0,1.30
杜星瑶,40,4.0,33.0,0,35.0,0.88
曹倩云,40,2.0,30.0,0,35.0,0.88
黄旭,40,15.0,50.0,0,50.0,1.25

In [ ]:
def B_Kuang_Shou_Xin_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)


    #第三个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

    #第四个结果（外拓数）

    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"鑫e贷授信-B款_调整数"]=adjust_number_result


    #第六个结果（完成数）

    result.loc[:,"鑫e贷授信-B款_本月"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

    result.loc[:, "鑫e贷授信-B款_完成率"] = (result.loc[:, "鑫e贷授信-B款_本月"] /
                             result.loc[:, "鑫e贷授信-B款_指标"]).fillna(0).round(2)
    

    #计算本月和昨日轧差

    result=result.fillna(0)
    
    result.loc[:,"鑫e贷授信-B款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷授信-B款_本月"]-result.loc[:,"鑫e贷授信-B款_昨日本月"]


    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数'
                        '鑫e贷授信-B款_调整数','鑫e贷授信-B款_本月','鑫e贷授信-B款_完成率']]
    
    final_result.to_excel(result_path+'\\'+'鑫e贷授信-B款团队_完成情况.xlsx')

    print('恭喜米，鑫e贷授信-B款计算完成')

    return final_result


B_Kuang_Shou_Xin_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

KeyError: "['鑫e贷授信-B款_外拓数鑫e贷授信-B款_调整数'] not in index"

In [ ]:
def B_Kuang_Shou_Xin_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['鑫e贷授信-B款_指标']]
    

    #第二个结果昨日完成数
        #第二个结果（昨日完成数），提取完成数的列表
    yesterday_finished=daily_report[['本月']]

    yesterday_finished.columns=['鑫e贷放款_昨日本月','鑫e贷总授信（A/B款）_昨日本月','鑫e贷授信-B款_昨日本月','财富转介户数_昨日本月']

    yesterday_finished_result=yesterday_finished[['鑫e贷授信-B款_昨日本月']]
    
    result=pd.merge(kpi_result,yesterday_finished_result,right_index=True,left_index=True)


    #第三个结果（报表数）
    
    type_B_df=pd.read_excel(data_path+'\\'+type_B_data,sheet_name="鑫e贷大额客户授信数据")

    type_B_df=type_B_df.set_index('qianyueshijian')

    type_B_df.index=pd.to_datetime(type_B_df.index)

    year = pd.to_datetime(T0_Date).year  # 提取年份

    month = pd.to_datetime(T0_Date).month  # 提取月份

    filtered_df = type_B_df[(type_B_df.index.year == year) & (type_B_df.index.month == month)]

    DD_time=filtered_df[['jingdiaokehujingli']]

    DD_result = DD_time['jingdiaokehujingli'].value_counts().reset_index()

    DD_result.columns=['index','count']
    
    DD_result=DD_result.set_index('index',drop=True)

    result.loc[:,"鑫e贷授信-B款_报表数"]=DD_result

    #第四个结果（外拓数）

    yesterday_retail_performance=daily_report[['外拓数']]

    yesterday_retail_performance.columns=['鑫e贷授信-B款_昨日外拓数']
    
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data)

    retail_performance_df=retail_performance_df.set_index('外拓日期',drop=True)
    
    retail_performance_df.index=pd.to_datetime(retail_performance_df.index, unit='d', origin='1899-12-30')

    today_retail_df=retail_performance_df.loc[T0_Date,:]

    # today_retail_df = today_retail_df.to_frame().T

    today_retail_df=today_retail_df.fillna(0)

    today_retail_df=today_retail_df[['客户经理姓名','本场合计\nB款授信（户）','其中本人\nB款授信（户）']]

    today_retail_df.loc[:,"鑫e贷授信-B款__今日外拓数"]=today_retail_df.loc[:,"本场合计\nB款授信（户）"]-today_retail_df.loc[:,"其中本人\nB款授信（户）"]
    
    today_retail_result=today_retail_df[['客户经理姓名','鑫e贷授信-B款__今日外拓数']]

    today_retail_result=today_retail_result.set_index('客户经理姓名',drop=True)

    newest_result=pd.concat([yesterday_retail_performance,today_retail_result],axis=1)

    newest_result.loc[:, "鑫e贷授信-B款__外拓数"] = (
        newest_result.loc[:, "鑫e贷授信-B款_昨日外拓数"].fillna(0) +
        newest_result.loc[:, "鑫e贷授信-B款__今日外拓数"].fillna(0)
    )

    result.loc[:,"鑫e贷授信-B款_外拓数"]=newest_result.loc[:, "鑫e贷授信-B款__外拓数"]

    #第五个结果（调整数）
    adjust_number=daily_report[['调整数']]

    adjust_number.columns=['鑫e贷放款_调整数','鑫e贷总授信（A/B款）_调整数','鑫e贷授信-B款_调整数']

    adjust_number_result=adjust_number[['鑫e贷授信-B款_调整数']]

    result.loc[:,"鑫e贷授信-B款_调整数"]=adjust_number_result


    #第六个结果（完成数）

    result.loc[:,"鑫e贷授信-B款_本月"]=result[['鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                                '鑫e贷授信-B款_调整数']].sum(axis=1)

    result.loc[:, "鑫e贷授信-B款_完成率"] = (result.loc[:, "鑫e贷授信-B款_本月"] /
                             result.loc[:, "鑫e贷授信-B款_指标"]).fillna(0).round(2)
    

    #计算本月和昨日轧差

    result=result.fillna(0)
    
    result.loc[:,"鑫e贷授信-B款_昨日完成数(轧差)"]=result.loc[:,"鑫e贷授信-B款_本月"]-result.loc[:,"鑫e贷授信-B款_昨日本月"]


    final_result=result[['鑫e贷授信-B款_指标','鑫e贷授信-B款_昨日完成数(轧差)',
                        '鑫e贷授信-B款_报表数','鑫e贷授信-B款_外拓数',
                        '鑫e贷授信-B款_调整数','鑫e贷授信-B款_本月','鑫e贷授信-B款_完成率']]
    
    final_result.to_excel(result_path+'\\'+'鑫e贷授信-B款团队_完成情况.xlsx')

    print('恭喜米，鑫e贷授信-B款计算完成')

    return final_result


B_Kuang_Shou_Xin_Team(data_path,yesterday_team_report,
department_list,client_manager_data,T0_Date,type_B_data,result_path)

恭喜米，鑫e贷授信-B款计算完成

,鑫e贷授信-B款_指标,鑫e贷授信-B款_昨日完成数(轧差),鑫e贷授信-B款_报表数,鑫e贷授信-B款_外拓数,鑫e贷授信-B款_调整数,鑫e贷授信-B款_本月,鑫e贷授信-B款_完成率
许闻多,3,0.0,3.0,0.0,0,3.0,1.00
宋丽凤,3,1.0,1.0,0.0,0,1.0,0.33
孙仰阳,5,0.0,1.0,0.0,0,1.0,0.20
瞿逸程,3,0.0,0.0,0.0,0,0.0,0.00
顾伟丽,3,0.0,2.0,0.0,0,2.0,0.67
马越骋,3,0.0,1.0,0.0,0,1.0,0.33
陈名,3,0.0,2.0,0.0,0,2.0,0.67
万华,3,2.0,5.0,0.0,0,5.0,1.67
茅敏艳,3,0.0,1.0,0.0,0,1.0,0.33
钱潇伟,3,0.0,1.0,0.0,0,1.0,0.33
杨小东,45,2.0,83.0,0.0,0,83.0,1.84
王美燕,45,6.0,47.0,3.0,0,50.0,1.11
徐君,45,3.0,18.0,0.0,0,18.0,0.40
李亚,40,2.0,46.0,6.0,0,52.0,1.30
杜星瑶,40,4.0,33.0,2.0,0,35.0,0.88
曹倩云,40,2.0,30.0,5.0,0,35.0,0.88
黄旭,40,15.0,50.0,0.0,0,50.0,1.25

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['财富转介户数_指标']]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
kpi_result

    财富转介户数_指标
许闻多         2
宋丽凤         2
孙仰阳         3
瞿逸程         2
顾伟丽         2
马越骋         2
陈名          2
万华          2
茅敏艳         2
钱潇伟         2
杨小东         5
王美燕         3
徐君          3
李亚          3
杜星瑶         2
曹倩云         2
黄旭          2

In [ ]:
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data,sheet_name="财富业务转介报送")

In [ ]:
retail_performance_df

   客户经理姓名 转介客户姓名 落地理财经理          转介产品名称       金额 Unnamed: 5
0     许闻多    滕俊杰    刘一谨            天天鑫A      10万        NaN
1     许闻多    孙湖宁     殷凤            苏盈1号      42万        NaN
2      万华     黄鑫     王喆            苏盈1号       1w        NaN
3      万华     孙洁    裴乐园            天天盈A      50w        NaN
4     杨小东     潘波  28690         90天代销理财        1        NaN
5     杨小东    钟扬怡  28690         90天代销理财        1        NaN
6     杨小东    杨小东  28690         90天理财代销        1        NaN
7     杜星瑶    周金初    李书吟  苏银理财恒源1年定开32期A        1        NaN
8     曹倩云    袁雪红  01178           苏银天添鑫      1.5      补登11月
9     杨小东     周洪  28690         90天理财代销        1        NaN
10    杨小东    缪雨珂  28690         90天理财代销        3        NaN
11     黄旭    王晶晶     李丁   苏银理财启源现金1号-个人      0.1      补登11月
12    杨小东    韩维西  28690         90天理财代销        2        NaN
13    王美燕     徐伟  28690             活钱宝    1.01万        NaN
14    王美燕    王懿蕾  28690            代销理财       3万        NaN
15    王美燕    陈饴婕  28690            代销理财       2万        NaN
16    王美燕    张瑞婕  52101          七天代销理财       1万        NaN
17    王美燕    宁德军  52101          七天代销理财  1.1881万        NaN
18    王美燕    张保国  52101             活钱宝    1.01万        NaN
19    宋丽凤    张惠雪    刑景慧             双月鑫      12万        NaN
20    曹倩云    张方红     杨欢           天天盈B款       1万        NaN
21    钱潇伟    叶伯福     陈婷            一年定开       3万        NaN
22    钱潇伟    张恩君     陈婷            天天盈a     1.3万        NaN
23    钱潇伟    张贻菊     陈婷             月月鑫       3万        NaN
24    宋丽凤    黄海燕    陈诗然             月月鑫      10万        NaN
25    宋丽凤    陈秀琴    周辰峰            一年定开      12万        NaN
26    孙仰阳     钱宇    李思思            苏银天天      70万        NaN
27    孙仰阳    王丽华    李思思             天天盈    3000万        NaN
28    孙仰阳    孙秋明     袁冰             天天盈       5万        NaN
29    孙仰阳     朱莉    李思思            基金定投     500元        NaN
30     陈名     张丽    李雨蒙             天天盈    10000        NaN
31     陈名    钱泳丽     杨欢             双月鑫       5万        NaN
32     万华    唐静思     王喆            苏银1号       1w        NaN
33    许闻多    何建珍    张润雨             天天盈    1100万        NaN
34     李亚    乔培培    蒋朝盛             活钱宝     1000        NaN
35     李亚    侯文楚    NaN             活钱宝       1万        NaN
36     李亚     孙嘉    费文婷             活钱宝       1万        NaN
37    宋丽凤     龚洁    刑景慧             天天盈      30万        NaN
38    杜星瑶    钱慧芳    李书吟          19个月理财      30万        NaN
39    瞿逸程    顾斌斌    童思佳             天天金       1万        NaN
40    瞿逸程     张宣    童思佳             天天金       3万        NaN
41     黄旭     朱杰     杨欢   苏银理财启源现金1号-个人       1万        NaN
42     徐君    谢运华  50919         杭银添益90天       1万        NaN
43     徐君    韩凤波  50919         杭银添益90天       1万        NaN
44     徐君     李轩  50919          杭银添益7天       1万        NaN
45    孙仰阳     孟晨    李思思             天天盈      10万        NaN
46    孙仰阳    龚晓晔     袁冰             天天盈       1万        NaN
47    孙仰阳    居凌之     袁冰             天天盈       1万        NaN
48    孙仰阳    孙莲芳    李思思             天天盈       1万        NaN
49    孙仰阳    赵依娜    李思思             天天盈       2万        NaN
50    孙仰阳    蒋殿海     袁冰             天天盈       2万        NaN
51    茅敏艳    曹凯锋    寿春莲            苏银1号       1万        NaN
52    茅敏艳    李锁玉     北蔡              存款    1000万        NaN
53     黄旭    丁健枫     李丁           天天盈B款    1000元        NaN

In [ ]:
    retail_performance_df=retail_performance_df.set_index('客户经理姓名',drop=True)

In [ ]:
retail_performance_df

       转介客户姓名 落地理财经理          转介产品名称       金额 Unnamed: 5
客户经理姓名
许闻多       滕俊杰    刘一谨            天天鑫A      10万        NaN
许闻多       孙湖宁     殷凤            苏盈1号      42万        NaN
万华         黄鑫     王喆            苏盈1号       1w        NaN
万华         孙洁    裴乐园            天天盈A      50w        NaN
杨小东        潘波  28690         90天代销理财        1        NaN
杨小东       钟扬怡  28690         90天代销理财        1        NaN
杨小东       杨小东  28690         90天理财代销        1        NaN
杜星瑶       周金初    李书吟  苏银理财恒源1年定开32期A        1        NaN
曹倩云       袁雪红  01178           苏银天添鑫      1.5      补登11月
杨小东        周洪  28690         90天理财代销        1        NaN
杨小东       缪雨珂  28690         90天理财代销        3        NaN
黄旭        王晶晶     李丁   苏银理财启源现金1号-个人      0.1      补登11月
杨小东       韩维西  28690         90天理财代销        2        NaN
王美燕        徐伟  28690             活钱宝    1.01万        NaN
王美燕       王懿蕾  28690            代销理财       3万        NaN
王美燕       陈饴婕  28690            代销理财       2万        NaN
王美燕       张瑞婕  52101          七天代销理财       1万        NaN
王美燕       宁德军  52101          七天代销理财  1.1881万        NaN
王美燕       张保国  52101             活钱宝    1.01万        NaN
宋丽凤       张惠雪    刑景慧             双月鑫      12万        NaN
曹倩云       张方红     杨欢           天天盈B款       1万        NaN
钱潇伟       叶伯福     陈婷            一年定开       3万        NaN
钱潇伟       张恩君     陈婷            天天盈a     1.3万        NaN
钱潇伟       张贻菊     陈婷             月月鑫       3万        NaN
宋丽凤       黄海燕    陈诗然             月月鑫      10万        NaN
宋丽凤       陈秀琴    周辰峰            一年定开      12万        NaN
孙仰阳        钱宇    李思思            苏银天天      70万        NaN
孙仰阳       王丽华    李思思             天天盈    3000万        NaN
孙仰阳       孙秋明     袁冰             天天盈       5万        NaN
孙仰阳        朱莉    李思思            基金定投     500元        NaN
陈名         张丽    李雨蒙             天天盈    10000        NaN
陈名        钱泳丽     杨欢             双月鑫       5万        NaN
万华        唐静思     王喆            苏银1号       1w        NaN
许闻多       何建珍    张润雨             天天盈    1100万        NaN
李亚        乔培培    蒋朝盛             活钱宝     1000        NaN
李亚        侯文楚    NaN             活钱宝       1万        NaN
李亚         孙嘉    费文婷             活钱宝       1万        NaN
宋丽凤        龚洁    刑景慧             天天盈      30万        NaN
杜星瑶       钱慧芳    李书吟          19个月理财      30万        NaN
瞿逸程       顾斌斌    童思佳             天天金       1万        NaN
瞿逸程        张宣    童思佳             天天金       3万        NaN
黄旭         朱杰     杨欢   苏银理财启源现金1号-个人       1万        NaN
徐君        谢运华  50919         杭银添益90天       1万        NaN
徐君        韩凤波  50919         杭银添益90天       1万        NaN
徐君         李轩  50919          杭银添益7天       1万        NaN
孙仰阳        孟晨    李思思             天天盈      10万        NaN
孙仰阳       龚晓晔     袁冰             天天盈       1万        NaN
孙仰阳       居凌之     袁冰             天天盈       1万        NaN
孙仰阳       孙莲芳    李思思             天天盈       1万        NaN
孙仰阳       赵依娜    李思思             天天盈       2万        NaN
孙仰阳       蒋殿海     袁冰             天天盈       2万        NaN
茅敏艳       曹凯锋    寿春莲            苏银1号       1万        NaN
茅敏艳       李锁玉     北蔡              存款    1000万        NaN
黄旭        丁健枫     李丁           天天盈B款    1000元        NaN

In [ ]:
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data,sheet_name="财富业务转介报送")

In [ ]:
retail_performance_df

   客户经理姓名 转介客户姓名 落地理财经理          转介产品名称       金额 Unnamed: 5
0     许闻多    滕俊杰    刘一谨            天天鑫A      10万        NaN
1     许闻多    孙湖宁     殷凤            苏盈1号      42万        NaN
2      万华     黄鑫     王喆            苏盈1号       1w        NaN
3      万华     孙洁    裴乐园            天天盈A      50w        NaN
4     杨小东     潘波  28690         90天代销理财        1        NaN
5     杨小东    钟扬怡  28690         90天代销理财        1        NaN
6     杨小东    杨小东  28690         90天理财代销        1        NaN
7     杜星瑶    周金初    李书吟  苏银理财恒源1年定开32期A        1        NaN
8     曹倩云    袁雪红  01178           苏银天添鑫      1.5      补登11月
9     杨小东     周洪  28690         90天理财代销        1        NaN
10    杨小东    缪雨珂  28690         90天理财代销        3        NaN
11     黄旭    王晶晶     李丁   苏银理财启源现金1号-个人      0.1      补登11月
12    杨小东    韩维西  28690         90天理财代销        2        NaN
13    王美燕     徐伟  28690             活钱宝    1.01万        NaN
14    王美燕    王懿蕾  28690            代销理财       3万        NaN
15    王美燕    陈饴婕  28690            代销理财       2万        NaN
16    王美燕    张瑞婕  52101          七天代销理财       1万        NaN
17    王美燕    宁德军  52101          七天代销理财  1.1881万        NaN
18    王美燕    张保国  52101             活钱宝    1.01万        NaN
19    宋丽凤    张惠雪    刑景慧             双月鑫      12万        NaN
20    曹倩云    张方红     杨欢           天天盈B款       1万        NaN
21    钱潇伟    叶伯福     陈婷            一年定开       3万        NaN
22    钱潇伟    张恩君     陈婷            天天盈a     1.3万        NaN
23    钱潇伟    张贻菊     陈婷             月月鑫       3万        NaN
24    宋丽凤    黄海燕    陈诗然             月月鑫      10万        NaN
25    宋丽凤    陈秀琴    周辰峰            一年定开      12万        NaN
26    孙仰阳     钱宇    李思思            苏银天天      70万        NaN
27    孙仰阳    王丽华    李思思             天天盈    3000万        NaN
28    孙仰阳    孙秋明     袁冰             天天盈       5万        NaN
29    孙仰阳     朱莉    李思思            基金定投     500元        NaN
30     陈名     张丽    李雨蒙             天天盈    10000        NaN
31     陈名    钱泳丽     杨欢             双月鑫       5万        NaN
32     万华    唐静思     王喆            苏银1号       1w        NaN
33    许闻多    何建珍    张润雨             天天盈    1100万        NaN
34     李亚    乔培培    蒋朝盛             活钱宝     1000        NaN
35     李亚    侯文楚    NaN             活钱宝       1万        NaN
36     李亚     孙嘉    费文婷             活钱宝       1万        NaN
37    宋丽凤     龚洁    刑景慧             天天盈      30万        NaN
38    杜星瑶    钱慧芳    李书吟          19个月理财      30万        NaN
39    瞿逸程    顾斌斌    童思佳             天天金       1万        NaN
40    瞿逸程     张宣    童思佳             天天金       3万        NaN
41     黄旭     朱杰     杨欢   苏银理财启源现金1号-个人       1万        NaN
42     徐君    谢运华  50919         杭银添益90天       1万        NaN
43     徐君    韩凤波  50919         杭银添益90天       1万        NaN
44     徐君     李轩  50919          杭银添益7天       1万        NaN
45    孙仰阳     孟晨    李思思             天天盈      10万        NaN
46    孙仰阳    龚晓晔     袁冰             天天盈       1万        NaN
47    孙仰阳    居凌之     袁冰             天天盈       1万        NaN
48    孙仰阳    孙莲芳    李思思             天天盈       1万        NaN
49    孙仰阳    赵依娜    李思思             天天盈       2万        NaN
50    孙仰阳    蒋殿海     袁冰             天天盈       2万        NaN
51    茅敏艳    曹凯锋    寿春莲            苏银1号       1万        NaN
52    茅敏艳    李锁玉     北蔡              存款    1000万        NaN
53     黄旭    丁健枫     李丁           天天盈B款    1000元        NaN

In [ ]:
    DD_result = DD_time['客户经理姓名'].value_counts().reset_index()

KeyError: '客户经理姓名'

In [ ]:
    DD_result = retail_performance_df['客户经理姓名'].value_counts().reset_index()

In [ ]:
DD_result

   index  客户经理姓名
0    孙仰阳      10
1    杨小东       6
2    王美燕       6
3    宋丽凤       4
4    许闻多       3
5     万华       3
6     黄旭       3
7    钱潇伟       3
8     李亚       3
9     徐君       3
10   杜星瑶       2
11   曹倩云       2
12    陈名       2
13   瞿逸程       2
14   茅敏艳       2

In [ ]:
    DD_result.columns=['index','count']

In [ ]:
DD_result

   index  count
0    孙仰阳     10
1    杨小东      6
2    王美燕      6
3    宋丽凤      4
4    许闻多      3
5     万华      3
6     黄旭      3
7    钱潇伟      3
8     李亚      3
9     徐君      3
10   杜星瑶      2
11   曹倩云      2
12    陈名      2
13   瞿逸程      2
14   茅敏艳      2

In [ ]:
    DD_result=DD_result.set_index('index',drop=True)

In [ ]:
DD_result

       count
index
孙仰阳       10
杨小东        6
王美燕        6
宋丽凤        4
许闻多        3
万华         3
黄旭         3
钱潇伟        3
李亚         3
徐君         3
杜星瑶        2
曹倩云        2
陈名         2
瞿逸程        2
茅敏艳        2

In [ ]:
    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data,sheet_name="财富业务转介报送")

    DD_result = retail_performance_df['客户经理姓名'].value_counts().reset_index()

    DD_result.columns=['index','财富转介户数_本月']

    DD_result=DD_result.set_index('index',drop=True)

In [ ]:
DD_result

       财富转介户数_本月
index
孙仰阳           10
杨小东            6
王美燕            6
宋丽凤            4
许闻多            3
万华             3
黄旭             3
钱潇伟            3
李亚             3
徐君             3
杜星瑶            2
曹倩云            2
陈名             2
瞿逸程            2
茅敏艳            2

In [ ]:
kpi_result

    财富转介户数_指标
许闻多         2
宋丽凤         2
孙仰阳         3
瞿逸程         2
顾伟丽         2
马越骋         2
陈名          2
万华          2
茅敏艳         2
钱潇伟         2
杨小东         5
王美燕         3
徐君          3
李亚          3
杜星瑶         2
曹倩云         2
黄旭          2

In [ ]:
    result=pd.merge(kpi_result,DD_result,right_index=True,left_index=True)

In [ ]:
result

    财富转介户数_指标  财富转介户数_本月
许闻多         2          3
宋丽凤         2          4
孙仰阳         3         10
瞿逸程         2          2
陈名          2          2
万华          2          3
茅敏艳         2          2
钱潇伟         2          3
杨小东         5          6
王美燕         3          6
徐君          3          3
李亚          3          3
杜星瑶         2          2
曹倩云         2          2
黄旭          2          3

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

#数据路径设置

result_path=r'C:\Users\Wesle\Desktop\srcb_daily_report\result'

data_path=r'C:\Users\Wesle\Desktop\srcb_daily_report\原始数据'

#部门归属表文件名
department_list='员工部门归属表.xlsx'

#昨日日报表文件名
yesterday_daily_report='网点鑫e贷月度指标完成情况1226.xlsx'

yesterday_team_report='团队非按揭业绩日报20241218.xlsx'

#【浦东分行鑫e贷】客户经理营销数据文件名
client_manager_data='【浦东分行鑫e贷】客户经理营销数据_2024-12-18.xlsx'

retail_performance_data='零售市场部协同外拓及理财转介业绩报送-5.xlsx'

type_B_data='【浦东分行鑫e贷】鑫e贷b款明细_2024-12-18.xlsx'

T0_Date='2024-12-18'

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['财富转介户数_指标']]

    #第二个指标（本月）

    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data,sheet_name="财富业务转介报送")

    DD_result = retail_performance_df['客户经理姓名'].value_counts().reset_index()

    DD_result.columns=['index','财富转介户数_本月']

    DD_result=DD_result.set_index('index',drop=True)

    result=pd.merge(kpi_result,DD_result,right_index=True,left_index=True)

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
result

    财富转介户数_指标  财富转介户数_本月
许闻多         2          2
宋丽凤         2          3
孙仰阳         3          4
万华          2          2
钱潇伟         2          3
杨小东         5          6
王美燕         3          6
杜星瑶         2          1
曹倩云         2          2
黄旭          2          1

In [ ]:
    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['财富转介户数_指标']]

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [ ]:
kpi_result

    财富转介户数_指标
许闻多         2
宋丽凤         2
孙仰阳         3
瞿逸程         2
顾伟丽         2
马越骋         2
陈名          2
万华          2
茅敏艳         2
钱潇伟         2
杨小东         5
王美燕         3
徐君          3
李亚          3
杜星瑶         2
曹倩云         2
黄旭          2

In [ ]:
    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['财富转介户数_指标']]

    #第二个指标（本月）

    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data,sheet_name="财富业务转介报送")

    DD_result = retail_performance_df['客户经理姓名'].value_counts().reset_index()

    DD_result.columns=['index','财富转介户数_本月']

    DD_result=DD_result.set_index('index',drop=True)

    result=pd.concat([kpi_result,DD_result],axis=1)

In [ ]:
result

    财富转介户数_指标  财富转介户数_本月
许闻多         2        2.0
宋丽凤         2        3.0
孙仰阳         3        4.0
瞿逸程         2        NaN
顾伟丽         2        NaN
马越骋         2        NaN
陈名          2        NaN
万华          2        2.0
茅敏艳         2        NaN
钱潇伟         2        3.0
杨小东         5        6.0
王美燕         3        6.0
徐君          3        NaN
李亚          3        NaN
杜星瑶         2        1.0
曹倩云         2        2.0
黄旭          2        1.0

In [ ]:
    result.loc[:,"财富转介户数_完成率"]=result.loc[:,"财富转介户数_本月"]/esult.loc[:,"财富转介户数_指标"]

NameError: name 'esult' is not defined

In [ ]:
    result.loc[:,"财富转介户数_完成率"]=result.loc[:,"财富转介户数_本月"]/result.loc[:,"财富转介户数_指标"]

In [ ]:
result

    财富转介户数_指标  财富转介户数_本月 财富转介户数_完成率
许闻多         2        2.0        1.0
宋丽凤         2        3.0        1.5
孙仰阳         3        4.0   1.333333
瞿逸程         2        NaN        NaN
顾伟丽         2        NaN        NaN
马越骋         2        NaN        NaN
陈名          2        NaN        NaN
万华          2        2.0        1.0
茅敏艳         2        NaN        NaN
钱潇伟         2        3.0        1.5
杨小东         5        6.0        1.2
王美燕         3        6.0        2.0
徐君          3        NaN        NaN
李亚          3        NaN        NaN
杜星瑶         2        1.0        0.5
曹倩云         2        2.0        1.0
黄旭          2        1.0        0.5

In [ ]:

def WM_Bussiness_Number_Team(ata_path,yesterday_team_report,retail_performance_data):

    yesterday_daily_report_df=pd.read_excel(data_path+'\\'+yesterday_team_report)

    yesterday_daily_report_df=yesterday_daily_report_df.iloc[1:,:]

    new_columns = yesterday_daily_report_df.iloc[0,2:].dropna()  # 选择第一行作为新的列名

    index = yesterday_daily_report_df.iloc[1:, 1:2].dropna()  # 假设这是你提取出来的列数据
    index_list = index.squeeze().tolist()  # 将提取出的列转换为列表

    daily_report=yesterday_daily_report_df.iloc[1:21, 2:33]

    daily_report.index=index_list

    daily_report.columns=new_columns

    daily_report=daily_report.drop('合计')

    daily_report=daily_report.iloc[:,5:]

    #第一个结果（指标）提取昨日报表指标列
    kpi=daily_report[['指标']]

    kpi.columns=['鑫e贷放款_指标','鑫e贷总授信（A/B款）_指标','鑫e贷授信-B款_指标','财富转介户数_指标']
    
    kpi_result=kpi[['财富转介户数_指标']]

    #第二个指标（本月）

    retail_performance_df=pd.read_excel(data_path+'\\'+retail_performance_data,sheet_name="财富业务转介报送")

    DD_result = retail_performance_df['客户经理姓名'].value_counts().reset_index()

    DD_result.columns=['index','财富转介户数_本月']

    DD_result=DD_result.set_index('index',drop=True)

    result=pd.concat([kpi_result,DD_result],axis=1)
    
    result.loc[:,"财富转介户数_完成率"]=result.loc[:,"财富转介户数_本月"]/result.loc[:,"财富转介户数_指标"]

    result.to_excel(result_path+'\\'+'财富转介户数团队_完成情况.xlsx')

    print('恭喜米，财富转介户数团队计算完成')

    return result

In [ ]:
WM_Bussiness_Number_Team(ata_path,yesterday_team_report,retail_performance_data)

NameError: name 'ata_path' is not defined

In [ ]:
WM_Bussiness_Number_Team(data_path,yesterday_team_report,retail_performance_data)

恭喜米，财富转介户数团队计算完成

d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

    财富转介户数_指标  财富转介户数_本月 财富转介户数_完成率
许闻多         2        2.0        1.0
宋丽凤         2        3.0        1.5
孙仰阳         3        4.0   1.333333
瞿逸程         2        NaN        NaN
顾伟丽         2        NaN        NaN
马越骋         2        NaN        NaN
陈名          2        NaN        NaN
万华          2        2.0        1.0
茅敏艳         2        NaN        NaN
钱潇伟         2        3.0        1.5
杨小东         5        6.0        1.2
王美燕         3        6.0        2.0
徐君          3        NaN        NaN
李亚          3        NaN        NaN
杜星瑶         2        1.0        0.5
曹倩云         2        2.0        1.0
黄旭          2        1.0        0.5